<div class="modal-open">
  <div class="user-help-modal chat">
      <div class="modal-robot robot-sm user-help">
          <img src="assets/images/img-robot-sm.svg">
          <div class="modal-body">
              <h3 class="subtitle text-center">Cabina de Soporte</h3>
              <p class="txt-renglon centered">
                Has iniciado esta actividad. En breve recibirás instrucciones de la torre de control.
              </p>
              <div class="txt-renglon">
                <button type="button" ng-click="goChat()" class="btn btn-primary btn-lg btn-cnt">Ir al chat</button>    
              </div>
          </div>
      </div>
    </div>
    
</div>