
<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-menu" >
<!--#include file="menu.html" -->
  </div>
  <div id="site-canvas">


  <article class="blueprint">

    <div class="modal-robot robot-sm closing-stage-modal user-help">
        <img src="assets/images/img-robot-sm.svg">

        <div class="modal-body">
            <h3 class="subtitle text-center">Cabina de Soporte</h3>
            <p class="txt-renglon centered">
              Has iniciado esta actividad. En breve recibirás instrucciones de la torre de control.
            </p>
        </div>
    </div>
    <button type="button" ng-click="goChat()" class="btn btn-primary btn-lg btn-cnt">Ir al chat</button>    
  </article>

  
  </div>
</div>
