<div class="incluso-app stage-1-dashboard" id="site-wrapper"> 
    <article>
        <section class="component video">
            <div class="panel panel-video">
                <div class="panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">
                    <h3>
                        <span class="icomoon icon-video-file"></span>
                        <span>¿Y tú qué sueñas?</span>
                        <span class="icomoon icon-arrow" ng-show="isCollapsed"></span>
                        <span class="icomoon icon-arrow-up" ng-show="!isCollapsed"></span>
                    </h3>
                </div>
                <div class="panel-body" collapse="isCollapsed">
                    <div class="video-player">
                        <div class="stage">
                            <a class="icon icon-play" ng-click="playVideo('assets/media', 'video-zona-de-vuelo.mp4')">
                                <span class="glyphicon glyphicon-play"></span>
                            </a>
                            <figure class="poster" ng-click="playVideo('assets/media', 'video-zona-de-vuelo.mp4')">
                                <img src="assets/media/thumb-zona-de-vuelo.jpg" alt="video" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>                
        </section>

        <section class="component showcase-carousel pages">
            <h3>Retos</h3>
            <div id="carousel-example-generic2" class="carousel">
                <div id="owl-demo2" class="owl-carousel">
                    <div class="item" ng-repeat="reto in model.stages[idEtapa].challenges">                            
                        <figure class="item-image">
                            <img ng-src="{{retosIconos[reto.sectionname]}}" alt="{{reto.sectionname}}" />
                        </figure>
                        <h4 class="item-title" ng-bind="reto.sectionname"></h4>
                        <p class="item-description" ng-bind="reto.activityintro"></p>
                        <!-- <p class="item-description" ng-bind="reto.activityintro.length > 0 ? reto.activityintro : 'Cada sueño en su lugar' "></p> -->

                        <div class="page-number">
                            <p class="text-center">
                                <span>{{model.stages[idEtapa].challenges.indexOf(reto) + 1}}</span>
                                <span>/</span>
                                <span class="total-number">{{model.stages[idEtapa].challenges.length}}</span>
                            </p>                    
                        </div>                               
                    </div>
                </div>

                <a class="control back" href="#" id="prev">
                    <span class="icomoon icon-arrow-bold-left"></span>
                </a>
                <a class="control next" href="#" id="next">
                    <span class="icomoon icon-arrow-bold-right"></span>
                </a>                    
            </div>                                          
        </section>

        <section class="parts activities">
            <div id="owl-demo" class="owl-carousel">
                <div ng-repeat="challenge in model.stages[idEtapa].challenges">
                  <div ng-class="{part:true, disabled:activityBlocked[activity.activity_identifier].disabled}" ng-repeat="activity in challenge.activities" ng-click="startActivity(activity, $index, $parent.$index)">
                      <span class="icomoon icon-checked-join" ng-show="activity.status == 1"></span>
                      <span class="icomoon icon-gauge" ng-show="activity.status == 0"></span>
                      <span class="activity-name" ng-bind="activity.activityname"></span>
                      <span>
                          <span class="icomoon icon-star btn-circle fl-right"></span>
                          <span class="icomoon icon-play fl-right"></span>
                      </span>
                  </div>
                </div>
            </div>
        </section>

        <section class="progreso">
            <div class="spinner">
                <span ng-bind="puntosObtenidos"></span>
                <img src="assets/images/prcnt/{{Math.ceil(stageProgress)}}.png" alt="progress" /> <!-- <img src="" alt=""> -->

                <div class="circle"></div>
                <div class="text">{{stageProgress}}%</div>
            </div>
            <div>
                <!--<p class="title">Mi avance</p>
                <p>en la zona</p>-->
                <p class="title">{{contentResources.progress}}</p>
            </div>
        </section>
    </article>

    <script type="text/ng-template" id="ClosingStage.html">
        <div class="modal-robot robot-sm closing-stage-modal user-help">
            <img src="assets/images/img-robot-sm.svg" alt="robot" />
            <div class="modal-header">
                <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <h3 class="subtitle">Cierre zona de vuelo</h3>
                <p class="txt-renglon centered">
                    ¡Muy bien! Recuperaste todas las piezas para reparar la nave y continuar el viaje. Recuerda,
                    los sueños son el motor principal
                    de tu nave
                </p>
                <p class="txt-renglon centered">
                    ¡Ahora tu aventura ya tiene un rumbo!
                </p>
            </div>
        </div>
    </script>        

    <script type="text/ng-template" id="OpeningStageModal.html">
        <div class="modal-robot robot-sm closing-stage-modal user-help">
            <img class='robot-sm' src="assets/images/img-robot-sm.svg" alt="robot" />

            <div class="modal-header">
                <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <h3 class="subtitle text-center">Introducci&oacute;n Zona de Vuelo</h3>
                <p class="txt-renglon centered">
                    Hemos tenido una falla en el sistema y perdimos algunas piezas, la nave est&aacute; averiada.
                    Haremos una parada en la zona de vuelo, recupera las piezas necesarias para echar a andar
                    la nave y continuar el viaje. ¡Buena suerte!
                </p>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ClosingChallengeModal.html">
        <div class="modal-robot robot-sm closing-stage-modal user-help" >
            <img src="assets/images/img-robot-sm.svg" alt="robot" />
            <div class="modal-header">
                <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <h3 class="subtitle text-center">{{actualMessage.title}}</h3>
                <p class="txt-renglon centered">{{actualMessage.message}}</p>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ClosingStageModal.html">
        <div class="modal-robot robot-lg closing-stage-modal user-help" >
            <img src="assets/images/img-robot-lg.svg" alt="robot" />
            <div class="modal-header">
                <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <h3 class="subtitle text-center">{{robotMessages.title}}</h3>
                <p class="txt-renglon centered">{{robotMessages.message}}</p>
            </div>
            <a class="btn btn-primary btn-lg btn-cnt" id="continuar" style="margin-bottom: 30px;" ng-click="navigateToDashboard()">CONTINUAR</a>
        </div>
    </script>
  
    <script type="text/ng-template" id="CabinaSoporteMsj.html">
        <div class="modal-robot robot-sm closing-stage-modal user-help">
            <img src="assets/images/img-robot-sm.svg" alt="robot" />

            <div class="modal-header">
                <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <h3 class="subtitle text-center">Cabina de Soporte</h3>
                <p class="txt-renglon centered">
                  Has iniciado esta actividad. En breve recibir&aacute;s instrucciones de la torre de control.
                </p>
            </div>
        </div>
    </script>
</div>

<script>
    $(document).ready(function () {
        function myController($scope) {
            $scope.challengeName = "MIS RETOS";
        }      
    });
</script>
