<div id="site-wrapper" class="incluso-app step-dashboard">
    <div class="alert alert-warning" role="alert" ng-show="showWarning" ng-cloak>
        <div class="alert-message" ng-click="hideWarning">
            <div class="icomoon icon-warning"></div>
            <!--<p>Reposnde todas las preguntas para poder continuar</p>-->
            <p>{{warningMessage}}</p>
        </div>
    </div>

    <div id="site-canvas">
        <article class="blueprint evaluation">
            <div class="pages">
                <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
                    <section id="title">
                        <div class="subtitle">Exploración final</div>
                        <div class="txt-renglon">Responde lo siguiente:</div>
                        <spin class="txt-renglon">
                        </spin>
                        <!--<div class="txt-renglon">exploracionFinal: {{exploracionFinal}}</div>-->
                    </section>
                    <div id="owl" class="owl-carousel">
                        <!--Pregunta tipo Si/No-->
                        <div>
                            <div class="txt-renglon txt-bigger">1. ¿Podemos desarrollar y fortalecer habilidades en las que no somos tan buenos?
                            </div>
                            <section class="form txt-renglon txt-bigger part list">
                                <div class="tnf">
                                    <input id="tru0" type="radio" value="1" ng-model='exploracionFinal[0]' ng-disabled="setReadOnly" />
                                    <label for="tru0">Verdadero</label>
                                    <input id="fols0" type="radio" value="0" ng-model='exploracionFinal[0]' ng-disabled="setReadOnly" />
                                    <label for="fols0">Falso</label>
                                </div>
                            </section>
                        </div>
                        <!--Pregunta tipo Si/No-->
                        <div>
                            <div class="txt-renglon txt-bigger">2. ¿Tener un carro y formar una familia es un sueño de ser?
                            </div>
                            <section class="form txt-renglon txt-bigger part list">
                                <div class="tnf">
                                    <input id="tru1" type="radio" value="1" ng-model='exploracionFinal[1]' ng-disabled="setReadOnly" />
                                    <label for="tru1">Verdadero</label>

                                    <input id="fols1" type="radio" value="0" ng-model='exploracionFinal[1]' ng-disabled="setReadOnly" />
                                    <label for="fols1">Falso</label>
                                </div>
                            </section>
                        </div>
                        <!--Pregunta tipo Si/No-->
                        <div>
                            <div class="txt-renglon txt-bigger">3. ¿Tus sueños son metas que van dirigiendo tu camino?</div>
                            <section class="form txt-renglon txt-bigger part list">
                                <div class="tnf">
                                    <input id="tru2" type="radio" value="1" name="vf" ng-model="exploracionFinal[2]" ng-disabled="setReadOnly" />
                                    <label for="tru2">Verdadero</label>

                                    <input id="fols2" type="radio" value="0" name="vf" ng-model="exploracionFinal[2]" ng-disabled="setReadOnly" />
                                    <label for="fols2">Falso</label>
                                </div>
                            </section>

                        </div>
                        <!--Pregunta tipo Selección Simple-->
                        <div>
                            <div class="txt-renglon txt-bigger">4. Es importante tener una persona que te inspire porque:</div>
                            <section class="form txt-renglon txt-bigger part list">
                                <input id="option1" type="radio" value="0" ng-model="exploracionFinal[3]" ng-disabled="setReadOnly" />
                                <label for="option1">Es tu ejemplo a seguir y debes ser igual a él</label>

                                <input id="option2" type="radio" value="1" ng-model="exploracionFinal[3]" ng-disabled="setReadOnly" />
                                <label for="option2">Puedes aprender de su experiencia para alcanzar tus sueños</label>

                                <input id="option3" type="radio" value="2" ng-model="exploracionFinal[3]" ng-disabled="setReadOnly" />
                                <label for="option3">Puede enseñarte cómo ganar dinero más fácil</label>
                            </section>
                        </div>
                        <!--Pregunta tipo Selección Simple-->
                        <div>
                            <div class="txt-renglon txt-bigger">5. ¿Porqué es importante que tus sueños se relacionen con lo que te gusta y para lo que eres
                                bueno?
                            </div>

                            <section class="form txt-renglon txt-bigger part list">
                                <input id="option4" type="radio" value="0" ng-model="exploracionFinal[4]" ng-disabled="setReadOnly" />
                                <label for="option4">Porque aprovechas mejor tus talentos y difrutas lo que haces</label>

                                <input id="option5" type="radio" value="1" ng-model="exploracionFinal[4]" ng-disabled="setReadOnly" />
                                <label for="option5">Porque puedes ser más famoso y exitoso</label>

                                <input id="option6" type="radio" value="2" ng-model="exploracionFinal[4]" ng-disabled="setReadOnly" />
                                <label for="option6">Porque debes hacer lo que quieras sin importar nada ni nadie</label>
                            </section>
                        </div>
                    </div>

                    <section id="controls" class="controls">
                        <div class="paginate">
                            <a href="#" id="prev"><span class="icomoon icon-arrow-bold-left txt-bigger pull-left"></span></a>
                            <a href="#" id="next"><span class="icomoon icon-arrow-bold-right txt-bigger pull-right"></span></a>
                            <div class="centered">
                                <span id="index" class="txt-bigger">1/</span><span id="totalPages" class="white txt-bigger">5</span>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-lg btn-cnt" style="display:none" id="save" ng-hide="setReadOnly" ng-click='validateExploracionFinalAnsweredQuestions()'>GUARDAR</a>
                        <div class="txt-renglon centered txt-bigger" ng-click="cancel()">Cancelar</div>
                    </section>
                </div>

                <!--<div class=" page " ng-class="currentPage==2 ? 'active' : '' ">
                    <div id="finalized">
                        <section class="header-title ">
                            <div class="txt-renglon centered txt-bigger min-pad ">Has completado la actividad</div>
                            <div class="subtitle centered min-pad ">"Exploración final"</div>
                            <div class="txt-renglon centered txt-bigger min-pad ">¡Felicidades!</div>
                        </section>
                        <section class="centered txt-bigger ">
                            <span class="icomoon icon-checked-join txt-bigger green-giant"></span>
                        </section>
                        <section class="txt-renglon pill">
                            <div class="pull-left">Estrellas ganadas:</div>
                            <div class="pull-right sm-pill">
                                <span class="pull-left">{{activityPoints}}</span>
                                <span class="icomoon icon-star pull-right"></span>
                            </div>
                        </section>
                        <section class="txt-renglon centered form ">
                            ¿Que opinas de ésta actividad?
                            <section class="txt-renglon txt-bigger clearfix">
                                <div class="opinion">
                                    <input id="like" type="radio" value="1" name="like" ng-model="like_status">
                                    <label for="like">Me gusta</label>
                                </div>
                                <div class="opinion">
                                    <input id="dislike" type="radio" value="0" name="like" ng-model="like_status">
                                    <label for="dislike">No me gusta</label>
                                </div>
                            </section>
                            <a class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()" >TERMINAR</a>
                        </section>
                    </div>
                </div>-->

                <div class=" page " ng-class="currentPage==2 ? 'active' : '' ">
                    <div id="finalized">
                        <section class="header-title ">
                            <div class="txt-renglon centered txt-bigger min-pad ">Has completado la actividad</div>
                            <div class="subtitle centered min-pad ">"Exploración final"</div>
                            <div class="txt-renglon centered txt-bigger min-pad ">¡Felicidades!</div>
                        </section>
                        <section class="txt-renglon pill">
                            <div class="pull-left">Mi puntuación</div>
                            <div class="pull-right green-pill"><span>80</span><span class="white">/100</span></div>
                        </section>
                        <section class="question-parts">
                            <div id="question1">
                                <div class="txt-renglon panel" ng-class="{'collapsed': question1.isCollapsed}">
                                    <div class="panel-heading clearfix" ng-click="question1.isCollapsed = !question1.isCollapsed">
                                        <!--<span class="pull-left icomoon icon-wrong-join" ng-class="{'active': true}"></span>1.
                                        ¿Podemos desarrollar y-->
                                        <span class="pull-left icomoon icon-wrong-join" ng-class="{'active': exploracionFinalresult[0].badAnswer}">                                            
                                        </span>1. ¿Podemos desarrollar y fortalecer habilidades en las que no somos tan buenos?
                                        <span class="pull-right icomoon icon-arrow-up" ng-show="question1.isCollapsed"></span>
                                    </div>
                                    <div id="results1" class="panel-body" collapse="!question1.isCollapsed">
                                        <ul>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[0].trueOptionWrong}">
                                                <span class="pull-left icomoon icon-wrong" ng-show="exploracionFinalresult[0].trueOptionWrong"></span>Verdadero
                                            </li>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[0].falseOptionWrong}">
                                                <span class="pull-left icomoon icon-wrong" ng-show="exploracionFinalresult[0].falseOptionWrong"></span>Falso
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="question2">
                                <div class="txt-renglon panel collapsed" ng-class="{'collapsed': question2.isCollapsed}">
                                    <div class="panel-heading clearfix" ng-click="question2.isCollapsed = !question2.isCollapsed">
                                        <span class="pull-left icomoon icon-wrong-join " ng-class="{'active': exploracionFinalresult[1].badAnswer}"></span>2.
                                        ¿Tener un carro y formar una familia es un sueño de ser?
                                        <span class="pull-right icomoon icon-arrow-up" ng-show="question2.isCollapsed"></span>
                                    </div>
                                    <div id="results2" class="panel-body" collapse="!question2.isCollapsed">
                                        <ul>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[1].trueOptionWrong}">
                                                <span class="pull-left icomoon icon-wrong" ng-show="exploracionFinalresult[1].trueOptionWrong"></span>Verdadero
                                            </li>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[1].falseOptionWrong}">
                                                <span class="pull-left icomoon icon-wrong" ng-show="exploracionFinalresult[1].falseOptionWrong"></span>Falso
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="question3">
                                <div class="txt-renglon panel" ng-class="{'collapsed': question3.isCollapsed}">
                                    <div class="panel-heading clearfix" ng-click="question3.isCollapsed = !question3.isCollapsed">
                                        <span class="pull-left icomoon icon-wrong-join" ng-class="{'active': exploracionFinalresult[2].badAnswer}"></span>3.
                                        ¿Tus sueños son metas que van dirigiendo tu camino?
                                        <span class="pull-right icomoon icon-arrow-up" ng-show="question3.isCollapsed"></span>
                                    </div>
                                    <div id="results3" class="panel-body" collapse="!question3.isCollapsed">
                                        <ul>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[2].trueOptionWrong}">
                                                <span class="pull-left icomoon icon-wrong" ng-show="exploracionFinalresult[2].trueOptionWrong"></span>Verdadero
                                            </li>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[2].falseOptionWrong}">
                                                <span class="pull-left icomoon icon-wrong" ng-show="exploracionFinalresult[2].falseOptionWrong"></span>Falso
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="question4">
                                <div class="txt-renglon panel" ng-class="{'collapsed': question4.isCollapsed}">
                                    <div class="panel-heading clearfix" ng-click="question4.isCollapsed = !question4.isCollapsed">
                                        <span class="pull-left icomoon icon-wrong-join" ng-class="{'active': exploracionFinalresult[3].badAnswer}"></span>4.
                                        Es importante tener una persona que te inspire porque:
                                        <span class="pull-right icomoon icon-arrow-up" ng-show="question4.isCollapsed"></span>
                                    </div>
                                    <div id="results4" class="panel-body" collapse="!question4.isCollapsed">
                                        <ul>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[3].firstOptionWrong}">
                                                <i class="fl-left icomoon icon-wrong" ng-show="exploracionFinalresult[3].firstOptionWrong"></i>Es
                                                tu ejemplo a seguir y debes ser igual a él
                                            </li>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[3].secondOptionWrong}">
                                                <i class="fl-left icomoon icon-wrong" ng-show="exploracionFinalresult[3].secondOptionWrong"></i>Puedes
                                                aprender de su experiencia para alcanzar tus sueños
                                            </li>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[3].thirdOptionWrong}">
                                                <i class="fl-left icomoon icon-wrong" ng-show="exploracionFinalresult[3].thirdOptionWrong"></i>Puede
                                                enseñarte cómo ganar dinero más fácil
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="question5">
                                <div class="txt-renglon panel" ng-class="{'collapsed': question5.isCollapsed}">
                                    <div class="panel-heading clearfix" ng-click="question5.isCollapsed = !question5.isCollapsed">
                                        <span class="pull-left icomoon icon-wrong-join" ng-class="{'active': exploracionFinalresult[4].badAnswer}"></span>5.
                                        ¿Porqué es importante que tus sueños se relacionen con lo que te gusta y para lo
                                        que eres bueno?
                                        <span class="pull-right icomoon icon-arrow-up" ng-show="question5.isCollapsed"></span>
                                    </div>
                                    <div id="results4" class="panel-body" collapse="!question5.isCollapsed">
                                        <ul>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[4].firstOptionWrong}">
                                                <i class="fl-left icomoon icon-wrong" ng-show="exploracionFinalresult[4].firstOptionWrong"></i>Porque
                                                aprovechas mejor tus talentos y difrutas lo que haces
                                            </li>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[4].secondOptionWrong}">
                                                <i class="fl-left icomoon icon-wrong" ng-show="exploracionFinalresult[4].secondOptionWrong"></i>Porque
                                                puedes ser más famoso y exitoso
                                            </li>
                                            <li ng-class="{'failed clearfix': exploracionFinalresult[4].thirdOptionWrong}">
                                                <i class="fl-left icomoon icon-wrong" ng-show="exploracionFinalresult[4].thirdOptionWrong"></i>Porque
                                                debes hacer lo que quieras sin importar nada ni nadie
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="txt-renglon centered txt-bigger">                            
                        </section>
                        <section class="txt-renglon pill">
                            <div class="pull-left">Estrellas ganadas:</div>
                            <div class="pull-right sm-pill">
                                <span class="pull-left">{{activityPoints}}</span>
                                <span class="icomoon icon-star pull-right"></span>
                            </div>
                        </section>
                        <section class="txt-renglon centered form ">
                            ¿Que opinas de ésta actividad?
                            <section class="txt-renglon txt-bigger clearfix">
                                <div class="opinion">
                                    <input id="like" type="radio" value="1" name="like" ng-model="like_status">
                                    <label for="like">Me gusta</label>
                                </div>
                                <div class="opinion">
                                    <input id="dislike" type="radio" value="0" name="like" ng-model="like_status">
                                    <label for="dislike">No me gusta</label>
                                </div>
                            </section>
                            <button class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()">Terminar</button>
                        </section>
                    </div>
                </div>
            </div>
        </article>
        <!-- initial message -->
        <script type="text/ng-template" id="openingStageModal.html">
            <div class="modal-robot robot-lg closing-stage-modal user-help">
                <img src="assets/images/img-robot-lg.svg">
                <div class="modal-header">
                    <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                        <span class="icomoon icon-cross"></span>
                    </a>
                </div>
                <div class="modal-body">
                    <h3 class="subtitle text-center">Exploración inicial</h3>
                    <p class="txt-renglon centered">
                        Explora qué tanto descubriste en la zona de vuelo.
                    </p>
                </div>
            </div>
        </script>
    </div>
</div>

<script>
    $(document).ready(function () {
        var owl = $("#owl ");
        owl.owlCarousel({
            navigation: false,
            pagination: false,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoHeight: true,
            mouseDrag: false,
            touchDrag: false,
            transitionStyle: "fade",
            afterMove: callback
        });

        function callback(event) {
            var item = this.currentItem;
            $("#index").html(item + 1 + '/');
        }

        $("#next").click(function () {            
            owl.trigger('owl.next');
            var numberOfPage = $('#index');
            var totalPages = $('#totalPages');
            if (numberOfPage.text().substring(0,1) == totalPages.text()) {              
              $('#save').show();
            }else{              
              $('#save').hide();
            }
            return false;
        });

        $("#prev").click(function () {
            owl.trigger('owl.prev');
            var numberOfPage = $('#index');
            var totalPages = $('#totalPages');
            if (numberOfPage.text().substring(0,1) == totalPages.text()) {              
              $('#save').show();
            }else{              
              $('#save').hide();
            }
            return false;
        });

    });

</script>

<script src="../../Scripts/classie.js "></script>
<script src="../../Scripts/selectFx.js "></script>
<script>
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();

</script>