<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-menu">
    <!--#include file="menu.html" -->
  </div>
  <div id="site-canvas">

    <article class="blueprint">
      <section>

      </section>
      <section class="forma txt-renglon txt-bigger agregar">

      </section>
      <section id="taitel">
        <div class="subtitle">Evaluación "Título :)"</div>
        <div class="txt-renglon">Responde lo siguiente:</div>
      </section>

      <div id="owl" class="owl-carousel">
        <div>
          <div class="txt-renglon txt-bigger">1.Pregunta de Selección Sencilla</div>
          <section class="form txt-renglon txt-bigger part list">
            <input type="radio" value="sime" name="gender" id="male">
            <label for="male">Me gusta</label>
            <input type="radio" value="nome" name="gender" id="female">
            <label for="female">No me gusta</label>
            <input type="radio" value="auno" name="gender" id="auno">
            <label for="auno">Aún no me decido</label>
          </section>
        </div>

        <div>
          <div class="txt-renglon txt-bigger">2.¿Pregunta de Valor Numérico?</div>
          <section class="form txt-renglon txt-bigger part list">
            <select class="cs-select cs-skin-rotate">
              <option value="1"> 1</option>
              <option value="2">10</option>
              <option value="3">100</option>
              <option value="4">1000</option>
              <option value="5">10000</option>
            </select>
          </section>
          <br/>
          <br/>
          <br/>
          <br/>
        </div>

        <div>
          <div class="txt-renglon txt-bigger">3.¿Pregunta de Falso/Verdadero?</div>
          <section class="form txt-renglon txt-bigger part list">
            <div class="tnf">
              <input type="radio" value="verdadero" name="vf" id="tru">
              <label for="tru">Verdadero</label>
              <input type="radio" value="Falso" name="vf" id="fols">
              <label for="fols">Falso</label>
            </div>
          </section>
        </div>
      </div>
      
      <section id="controls" class="controls">
        <div class="paginate">
          <a href="#" id="prev">
            <i class="icomoon icon-arrow-bold-left txt-bigger fl-left"></i></a>
          <a href="#" id="next">
            <i class="icomoon icon-arrow-bold-right txt-bigger fl-right"></i></a>
          <div class="centered"><span class="txt-bigger" id="index">1</span><span>/</span><span class="white txt-bigger" id="total">3</span></div>
        </div>
        <button class="btn btn-primary btn-lg btn-cnt" id="save" type="button">Terminar</button>
        <div class="txt-renglon centered txt-bigger">Cancelar</div>
      </section>
      
      <div id="finalized">
        <div class="txt-renglon centered txt-bigger"></div>
        <div class="txt-renglon centered txt-bigger min-pad">Has completado la actividad</div>
        <div class="subtitle centered min-pad">"Título de evaluación"</div>
        <div class="txt-renglon centered txt-bigger min-pad">¡Felicidades!</div>
        <div class="txt-renglon centered txt-bigger"></div>
        </section>
        <section class="txt-renglon pill">
          <div class="fl-left">Mi puntuación</div>
          <div class="fl-right green-pill"><span class="">80</span><span class="blanco">/100</span></div>
        </section>
        <section class="">

          <div class="part"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta selección sencilla?</span><i class="icomoon icon-arrow-slim-right fl-right white acc"
            data-id="1"></i></div>
          <div class="part part2 ordeon" id="ord1">
            <div><i class="icomoon icon-required"></i><span>Bien</span></div>
            <div><i class="icomoon icon-required red"></i><span>Mal</span></div>
            <div><i class="icomoon icon-required"></i><span>bien</span></div>
          </div>
          <div class="part"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta selección múltiple?</span><i class="icomoon icon-arrow-slim-right fl-right white acc"
            data-id="2"></i></div>
          <div class="part part2 ordeon" id="ord2">
            <div><i class="icomoon icon-required"></i><span>Bien</span></div>
            <div><i class="icomoon icon-required red"></i><span>Mal</span></div>
            <div><i class="icomoon icon-required"></i><span>bien</span></div>
          </div>
          <div class="part"><i class="icomoon icon-wrong red"></i><span>¿Pregunta valor númerico?</span><i class="icomoon icon-arrow-slim-right fl-right white acc"
            data-id="3"></i></div>
          <div class="part part2 ordeon" id="ord3">
            <div><i class="icomoon icon-required"></i><span>Bien</span></div>
            <div><i class="icomoon icon-required red"></i><span>Mal</span></div>
            <div><i class="icomoon icon-required"></i><span>bien</span></div>
          </div>
          <div class="part"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta falso/verdadero?</span><i class="icomoon icon-arrow-slim-right fl-right white acc"
            data-id="4"></i></div>
          <div class="part part2 ordeon" id="ord4">
            <div><i class="icomoon icon-required"></i><span>Bien</span></div>
            <div><i class="icomoon icon-required red"></i><span>Mal</span></div>
            <div><i class="icomoon icon-required"></i><span>bien</span></div>
          </div>
          <div class="part"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta selección sencilla?</span><i class="icomoon icon-arrow-slim-right fl-right white acc"
            data-id="5"></i></div>
          <div class="part part2 ordeon" id="ord5">
            <div><i class="icomoon icon-required"></i><span>Bien</span></div>
            <div><i class="icomoon icon-required red"></i><span>Mal</span></div>
            <div><i class="icomoon icon-required"></i><span>bien</span></div>
          </div>

        </section>
        <section class="txt-renglon pill">
          <div class="fl-left">Estrellas Ganadas</div>
          <div class="fl-right sm-pill">200&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
        </section>
        <section class="txt-renglon centered form">
          ¿Qué opinas de ésta actividad?
          <div class="tnf">
            <input type="radio" value="verdadero" name="act" id="trues">
            <label for="trues">Me Gusta</label>
            <input type="radio" value="Falso" name="act" id="folse">
            <label for="folse">No me gusta</label>
          </div>
        </section>
        <section>
          <button class="btn btn-primary btn-lg btn-cnt" type="button">Terminar</button>
          <div class="txt-renglon centered txt-bigger"></div>
        </section>

      </div>
      <br/>
      <br/>
      <img src="assets/images/img-lines-ftr.png" class="centered">
      <br/>
    </article>

    <footer class="footer">
      <ul class="block-list">
        <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
        <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
      </ul>
      <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
    </footer>
    <!-- html -->
    <!-- scripts -->
    <script>
      $(document).ready(function() {
	var step = 0;
	
	
    var owl = $("#owl");
		owl.owlCarousel({
			navigation:false,
			pagination:false,
			paginationSpeed : 1000,
			goToFirstSpeed : 2000,
			singleItem : true,
			autoHeight : true,
			afterMove: callback
		});
	function callback(event) {
		var item      = this.currentItem;
		$("#index").html(item + 1);
	}
		$("#next").click(function(){
			owl.trigger('owl.next');
			return false;
		  })
		$("#prev").click(function(){
			owl.trigger('owl.prev');
			return false;
		  })
	$("#save").click(function(){
		$(owl).hide("slow");
		$("#controls").hide();
		$("#taitel").hide();
		$("#finalized").show("slow");
		return false;
	});
	$("#finalized").hide();
$(".acc").click(function(){
$(this).toggleClass('icon-arrow-down');
$(this).toggleClass('icon-arrow-slim-right');
var cual = $(this).attr('data-id');
  $('#ord' + cual).toggle();

});	

    });
    </script>

    <script type="text/javascript" src="../../Scripts/scriptmenu.js"></script>
    <script src="../../Scripts/classie.js"></script>
    <script src="../../Scripts/selectFx.js"></script>
    <script>
      (function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el);
				} );
			})();
    </script>