<article id="share-mini-album" class="social-share album unit-px">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<section class="album-asset avatar">
					<div class="user-avatar">
						<figure>
							<img ng-src="{{album.profileimageurl}}" alt="Avatar" />
						</figure>
					</div>
				</section>
				<section class="album-asset badge-distintion">
					<p class="text-center">
						<span class="center-block">El escudo que me distingue es:</span>
						<span class="center-block">{{album.shield==''?'Aún no tienes tu primer escudo':album.shield}}</span>
					</p>
				</section>
				<section class="album-asset habilities">
					<ul class="block-list">
						<li ng-repeat="strengths in album.myStrengths">
							<p class="text-center">{{strengths}}</p>
						</li>
					</ul>
				</section>
				<section class="album-asset preferences">
					<ul class="block-list">
						<li ng-repeat="likes in album.myLikes">
							<p class="text-center">{{likes}}</p>
						</li>
					</ul>						
				</section>
				<section class="album-asset qualities">
					<ul class="block-list">
						<li ng-repeat="attributes in album.myAttributes">
							<p class="text-center">{{attributes}}</p>
						</li>
					</ul>							
				</section>
			</div>
			<div class="col-md-4">
				<section class="album-asset impulse">
					<ul class="block-list">
						<li ng-repeat="ideas in album.myIdeas">
							<p class="text-center">{{ideas}}</p>
						</li>
					</ul>
				</section>
				<section class="album-asset dreams">
					<ul class="block-list">
						<li ng-repeat="dreams in album.myDreams">
							<p class="text-center">{{dreams}}</p>
						</li>
					</ul>
				</section>
				<section class="album-asset plans">
					<ul class="block-list">
						<li><p class="text-center"><span>1 año. </span>{{album.myPlans.oneYear == '' ? '':album.myPlans.oneYear}}</p></li>
						<li><p class="text-center"><span>2 años. </span>{{album.myPlans.threeYear == '' ? '':album.myPlans.threeYear}}</p></li>
						<li><p class="text-center"><span>5 años. </span>{{album.myPlans.fiveYear == '' ? '':album.myPlans.fiveYear}}</p></li>
					</ul>
				</section>
				<section class="album-asset goals">
					<ul class="block-list">
						<li ng-repeat="goals in album.myGoals">
							<p class="text-center">{{goals}}</p>
						</li>
					</ul>
				</section>
				<section class="album-asset knowledge">
					<ul class="block-list">
						<li ng-repeat="iKnow in album.iKnowWhatIs">
							<p class="text-center">{{iKnow}}</p>
						</li>
					</ul>
				</section>
			</div>
			<div class="col-md-4">
				<section class="album-asset project">
					<p class="text-center" ng-repeat="proj in album.project">{{proj}}</p>
				</section>
				<section class="album-asset participation">
					<ul class="block-list">
						<li><p class="text-center"><span>Comunidad. </span>{{album.amountOfCommunityPosts}} entradas</p></li>
						<li><p class="text-center"><span>Foros. </span>{{album.amountOfForumPosts}} entradas</p></li>
					</ul>
					<!-- <p class="text-center">Estrellas ganadas</p> -->
					<div class="profile-data">
						<h4 class="user-name">Estrellas ganadas</h4>
						<p class="user-points">
							<span class="ng-binding">{{album.starsEarned}}</span>
							<span class="icomoon icon-star"></span>
						</p>
						<h4>Insignias obtenidas</h4>
						<div class="user-badges">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
									<div class="col-md-4">
										<figure>
											<img src="../../assets/images/badges/insignia-bloqueada.gif" />
										</figure>
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>
			</div>
		</div>
	</div>
</article>
