<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Share acknowledgment</title>
	<link href="../../assets/styles/dev-css.css" rel='stylesheet' type='text/css' />
	<style type="text/css">
		
	</style>
</head>

<body class="incluso-app">
	<article class="social-share album unit-px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<section class="album-asset avatar">
						<div class="user-avatar">
							<figure>
								<img src="http://incluso.definityfirst.com/moodle/pluginfile.php/352/user/icon/f1" alt="Avatar" />
							</figure>
						</div>
						<div class="user-shield">
							<figure>
								<img src="../../assets/images/badges/img-linguistica.svg" alt="">
							</figure>
						</div>
					</section>
					<section class="album-asset badge-distintion">
						<p class="text-center">
							<span class="center-block">El escudo que me distingue es:</span>
							<span class="center-block">inteligencia lingüistica</span>
						</p>
					</section>
					<section class="album-asset habilities">
						<ul class="block-list">
							<li><p class="text-center">Musical</p></li>
							<li><p class="text-center">Interpersonal</p></li>
							<li><p class="text-center">Naturalista</p></li>
						</ul>
					</section>
					<section class="album-asset preferences"></section>
					<section class="album-asset qualities"></section>
					<section class="album-asset impulse"></section>
				</div>
				<div class="col-md-4">
					<section class="album-asset dreams"></section>
					<section class="album-asset plans"></section>
					<section class="album-asset goals"></section>
					<section class="album-asset knowledge"></section>
					<section class="album-asset preferences"></section>
				</div>
				<div class="col-md-4">
					<section class="album-asset project"></section>
					<section class="album-asset participation"></section>
				</div>
			</div>
		</div>
	</article>
</body>
</html>
