<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Share Album</title>
	<link href="../../assets/styles/dev-css.css" rel='stylesheet' type='text/css' />
	<style type="text/css">
		body #temp {
			/*height: 1000px !important;*/
			/*width: 50% !important;
			height: auto !important;*/
		}
	</style>
	<script src="../../Scripts/Plugins/html2canvas.js"></script>
</head>

<body class="incluso-app">
	<article id="temp" class="social-share album unit-px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<section class="album-asset avatar">
						<div class="user-avatar">
							<figure>
								<img src="http://incluso.definityfirst.com/moodle/pluginfile.php/352/user/icon/f1" alt="Avatar" />
							</figure>
						</div>
						<div class="user-shield">
							<figure>
								<img src="../../assets/images/badges/img-linguistica.svg" alt="">
							</figure>
						</div>
					</section>
					<section class="album-asset badge-distintion">
						<p class="text-center">
							<span class="center-block">El escudo que me distingue es:</span>
							<span class="center-block">inteligencia lingüística</span>
						</p>
					</section>
					<section class="album-asset habilities">
						<ul class="block-list">
							<li><p class="text-center">Musical</p></li>
							<li><p class="text-center">Interpersonal</p></li>
							<li><p class="text-center">Naturalista</p></li>
						</ul>
					</section>
					<section class="album-asset preferences">
						<ul class="block-list">
							<li><p class="text-center">Tocar la batería</p></li>
							<li><p class="text-center">Ir al cine con mi novia</p></li>
							<li><p class="text-center">Jugar Fúbol</p></li>
						</ul>						
					</section>
					<section class="album-asset qualities">
						<ul class="block-list">
							<li><p class="text-center">Amigable</p></li>
							<li><p class="text-center">Responsable</p></li>
							<li><p class="text-center">Inteligente</p></li>
						</ul>							
					</section>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<section class="album-asset impulse">
						<ul class="block-list">
							<li><p class="text-center">Mi Familia</p></li>
							<li><p class="text-center">Mis Amigos</p></li>
							<li><p class="text-center">Mis Padres</p></li>
						</ul>
					</section>
					<section class="album-asset dreams">
						<ul class="block-list">
							<li><p class="text-center">Amigable</p></li>
							<li><p class="text-center">Responsable</p></li>
							<li><p class="text-center">Inteligente</p></li>
						</ul>
					</section>
					<section class="album-asset plans">
						<ul class="block-list">
							<li><p class="text-center"><span>1 año. </span>Terminar estudios</p></li>
							<li><p class="text-center"><span>2 años. </span>Comprar mi casa ideal</p></li>
							<li><p class="text-center"><span>5 años. </span>Ser futbolista</p></li>
						</ul>
					</section>
					<section class="album-asset goals">
						<ul class="block-list">
							<li><p class="text-center">Estudiar para mis exámenes</p></li>
							<li><p class="text-center">Aplicar a entrevistas de trabajo</p></li>
							<li><p class="text-center">Seguir con el fútbol</p></li>
							<li><p class="text-center">Estabilidad económica</p></li>
							<li><p class="text-center">Tener tiempo para mi</p></li>
						</ul>
					</section>
					<section class="album-asset knowledge">
						<ul class="block-list">
							<li><p class="text-center">Ahorro</p></li>
							<li><p class="text-center">Préstamo</p></li>
							<li><p class="text-center">Inversión</p></li>
						</ul>
					</section>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<section class="album-asset project">
						<p class="text-center">Seguir practicando fútbol y aplicar para las eliminatorias de selección de jugadores profesionales!</p>
					</section>
					<section class="album-asset participation">
						<ul class="block-list">
							<li><p class="text-center"><span>Comunidad. </span>34 entradas</p></li>
							<li><p class="text-center"><span>Foros. </span>28 entradas</p></li>
						</ul>
						<div class="profile-data">
							<h4 class="user-name">Estrellas ganadas</h4>
							<p class="user-points">
								<span class="ng-binding" ng-bind="model.stars">1,000,000</span>
								<span class="icomoon icon-star"></span>
							</p>
							<h4>Insignias obtenidas</h4>
							<div class="user-badges">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<figure>
												<img src="../../assets/images/badges/insignia-bloqueada.gif" />
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</article>
    <script>
	    document.addEventListener("DOMContentLoaded", function(event) { 
		 	html2canvas(document.getElementById("temp"), {
	            onrendered: function(canvas) {
	                // canvas is the final rendered <canvas> element
	                document.body.appendChild(canvas);
	                
	                var img = new Image();
	                img.src =  canvas.toDataURL("image/png");
	                document.body.appendChild(img);
	            }
	        });
		});
    </script>
</body>
</html>
