<div id="site-wrapper" class="incluso-app step-dashboard">
    <div class="alert alert-warning" role="alert" ng-show="showWarning" ng-cloak>
        <div class="alert-message" ng-click="hideWarning">
            <div class="icomoon icon-warning"></div>
            <!--<p>Reposnde todas las preguntas para poder continuar</p>-->
            <p>{{warningMessage}}</p>
        </div>
    </div>

    <div id="site-canvas">
        <article class="blueprint evaluation">
            <div class="pages">
                <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
                    <section id="title">
                        <div class="subtitle">Exploración inicial</div>
                        <div class="txt-renglon">Responde lo siguiente:</div>
                    </section>
                    <div id="owl" class="owl-carousel">
                        <!--Pregunta tipo Si/No-->
                        <div>
                            <div class="txt-renglon txt-bigger">1. ¿Cualquier persona puede ser un emprendedor?
                            </div>
                            <section class="form txt-renglon txt-bigger part list">
                                <div class="tnf">
                                    <input id="tru1" type="radio" name="vf1"
                                           ng-model="AnswersResultStage2.answers[0]"
                                           value="0"
                                           ng-disabled="setReadOnly"/>
                                    <label for="tru1">Sí</label>

                                    <input id="fols1" type="radio" name="vf1"
                                           ng-model="AnswersResultStage2.answers[0]"
                                           value="1"
                                           ng-disabled="setReadOnly"/>
                                    <label for="fols1">No</label>
                                </div>
                            </section>
                        </div>


                        <!--Pregunta tipo Opción Multiple + Otro-->
                        <div>
                            <div class="txt-renglon txt-bigger">2. Para emprender se necesita armar un buen plan:
                            </div>
                            <section class="form txt-renglon txt-bigger part list">
                                <input id="check1" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][0]" ng-disabled="setReadOnly"/>
                                <label for="check1">Si, porque es la ruta para hacer realidad una idea</label>

                                <input id="check2" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][1]" ng-disabled="setReadOnly"/>
                                <label for="check2">No, porque si la idea es buena no necesita un plan </label>

                                <input id="check3" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][4]" ng-disabled="setReadOnly"/>
                                <label for="check3">Otro</label>

                                <div class="form-group theme-form" ng-show="AnswersResultStage2.answers[3][4]">
                                    <div class="add">
                                        <span class="icomoon icon-edit"></span>
                                        <textarea id="" class="form-control form-control-lg theme-form" row="2"
                                                  name="opciones" placeholder="¿Qué has intentado?">
                                        </textarea>
                                    </div>
                                </div>

                                <!--<input id="otros" type="checkbox" value="check1" name="check" ng-click="toggleAddNewOptionButton">
                                <label for="otros">Otros</label>-->
                            </section>
                            <!--<div id="agregar" class="add" ng-show="showAddNewOption==true"><span class="icomoon icon-edit"></span>
                              <input id="otrosCheck" type="text" name="txtAbierto" placeholder="Aquí escribe otros..." ng-model="AnswersResult.answers[2].third"/>
                            </div>-->
                        </div>


                        <!--Pregunta tipo Opción Multiple + Otro-->
                        <div>
                            <div class="txt-renglon txt-bigger">3. Para emprender un negocio ¿qué es importante considerar? Puedes elegir más de una:
                            </div>
                            <section class="form txt-renglon txt-bigger part list">
                                <input id="check4" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][0]" ng-disabled="setReadOnly"/>
                                <label for="check4">La necesidad que satisface</label>

                                <input id="check5" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][1]" ng-disabled="setReadOnly"/>
                                <label for="check5">El público objetivo</label>

                                <input id="check6" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][0]" ng-disabled="setReadOnly"/>
                                <label for="check6">El producto o servicio</label>

                                <input id="check7" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][1]" ng-disabled="setReadOnly"/>
                                <label for="check7">La forma en que se entrega al cliente</label>

                                <input id="check8" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][1]" ng-disabled="setReadOnly"/>
                                <label for="check8">Los recursos que se necesitan</label>

                                <input id="check9" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][4]" ng-disabled="setReadOnly"/>
                                <label for="check9">Otro</label>

                                <div class="form-group theme-form" ng-show="AnswersResultStage2.answers[3][4]">
                                    <div class="add">
                                        <span class="icomoon icon-edit"></span>
                                        <textarea id="" class="form-control form-control-lg theme-form" row="2"
                                                  name="opciones" placeholder="¿Qué has intentado?">
                                        </textarea>
                                    </div>
                                </div>

                                <!--<input id="otros" type="checkbox" value="check1" name="check" ng-click="toggleAddNewOptionButton">
                                <label for="otros">Otros</label>-->
                            </section>
                            <!--<div id="agregar" class="add" ng-show="showAddNewOption==true"><span class="icomoon icon-edit"></span>
                              <input id="otrosCheck" type="text" name="txtAbierto" placeholder="Aquí escribe otros..." ng-model="AnswersResult.answers[2].third"/>
                            </div>-->
                        </div>

                        <!--Pregunta tipo Opción Multiple + Otro-->
                        <div>
                            <div class="txt-renglon txt-bigger">4. Ahorrar es:
                            </div>
                            <section class="form txt-renglon txt-bigger part list">
                                <input id="check10" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][0]" ng-disabled="setReadOnly"/>
                                <label for="check10">Guardar el dinero que te sobra</label>

                                <input id="check11" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][1]" ng-disabled="setReadOnly"/>
                                <label for="check11">No gastar en cosas que no necesitas</label>

                                <input id="check12" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][0]" ng-disabled="setReadOnly"/>
                                <label for="check12">Separar una parte de tu dinero antes de gastarlo</label>

                                <input id="check13" type="checkbox" value="check1" name="check"
                                       ng-model="AnswersResultStage2.answers[3][4]" ng-disabled="setReadOnly"/>
                                <label for="check13">Otro</label>

                                <div class="form-group theme-form" ng-show="AnswersResultStage2.answers[3][4]">
                                    <div class="add">
                                        <span class="icomoon icon-edit"></span>
                                        <textarea id="" class="form-control form-control-lg theme-form" row="2"
                                                  name="opciones" placeholder="¿Qué has intentado?">
                                        </textarea>
                                    </div>
                                </div>

                                <!--<input id="otros" type="checkbox" value="check1" name="check" ng-click="toggleAddNewOptionButton">
                                <label for="otros">Otros</label>-->
                            </section>
                            <!--<div id="agregar" class="add" ng-show="showAddNewOption==true"><span class="icomoon icon-edit"></span>
                              <input id="otrosCheck" type="text" name="txtAbierto" placeholder="Aquí escribe otros..." ng-model="AnswersResult.answers[2].third"/>
                            </div>-->
                        </div>

                    </div>

                    <section id="controls" class="controls">
                        <div class="paginate">
                            <a href="#" id="prev" ng-click="addToAnswerIndex(-1, 4)">
                                <span class="icomoon icon-arrow-bold-left txt-bigger pull-left"></span>
                            </a>
                            <a href="#" id="next" ng-click="addToAnswerIndex(1, 4)">
                                <span class="icomoon icon-arrow-bold-right txt-bigger pull-right"></span>
                                <!--
                                <i class="icomoon icon-arrow-bold-right txt-bigger fl-right"></i>
                                -->
                            </a>

                            <div class="centered">
                                <span id="index" class="txt-bigger">1/</span>
                                <span id="totalPages" class="white txt-bigger">4</span>
                            </div>
                        </div>
                        <!--
                        <button class="btn btn-primary btn-lg btn-cnt" id="save" type="button"
                                ng-click="validateAnsweredQuestions()">Terminar
                        </button>
                        <div class="txt-renglon centered txt-bigger" ng-click="cancel()">Cancelar</div>
                        -->

                        <a class="btn btn-primary btn-lg btn-cnt" id="save" ng-show="answerIndex == 4"
                           ng-click="validateExploracionInicialStage2()">Guardar</a>

                        <div class="txt-renglon centered txt-bigger" ng-click="cancel3()">Cancelar</div>
                    </section>
                </div>

                <div class="page" ng-class="currentPage == 2 ? 'active' : '' ">
                    <div id="finalized">
                        <section class="header-title ">
                            <div class="txt-renglon centered txt-bigger min-pad ">Has completado la actividad</div>
                            <div class="subtitle centered min-pad">"Exploración inicial"</div>
                            <div class="txt-renglon centered txt-bigger min-pad ">¡Felicidades!</div>
                        </section>
                        <!--
                        <section class="centered txt-bigger ">
                            <i class="icomoon icon-checked-join txt-bigger green-giant "></i>
                        </section>
                        <section class="txt-renglon pill">
                            <div class="fl-left">Estrellas ganadas:</div>
                            <div class="fl-right sm-pill"><span>240</span><i class="icomoon icon-star fl-right"></i>
                            </div>
                        </section>
                        -->

                        <section class="centered txt-bigger ">
                            <span class="icomoon icon-checked-join txt-bigger green-giant"></span>
                        </section>
                        <section class="txt-renglon pill" ng-show="activityPoints > 0">
                            <div class="pull-left">Estrellas ganadas:</div>
                            <div class="pull-right sm-pill">
                                <span class="pull-left">{{activityPoints}}</span>
                                <span class="icomoon icon-star pull-right"></span>
                            </div>
                        </section>

                        <section class="txt-renglon centered form">
                            <div ng-show="activity_status == 0">
                                ¿Que opinas de ésta actividad?
                                <section class="txt-renglon txt-bigger clearfix">
                                    <div class="opinion">
                                        <input id="like" type="radio" value="1" name="like" ng-model="like_status">
                                        <label for="like">Me gusta</label>
                                    </div>
                                    <div class="opinion">
                                        <input id="dislike" type="radio" value="0" name="like" ng-model="like_status">
                                        <label for="dislike">No me gusta</label>
                                    </div>
                                </section>
                            </div>
                            <button class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()">Terminar</button>
                        </section>
                    </div>
                </div>
            </div>
            <img src="assets/images/img-lines-ftr.png " class="centered ">
        </article>
        <!-- initial message -->
        <script type="text/ng-template" id="openingStageModal.html">

            <div class="modal-robot robot-lg closing-stage-modal user-help">
                <img src="assets/images/img-robot-lg.svg">

                <div class="modal-header">
                    <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                        <span class="icomoon icon-cross"></span>
                    </a>
                </div>
                <div class="modal-body">
                    <h3 class="subtitle text-center">Exploración inicial</h3>

                    <p class="txt-renglon centered">
                        Explora más de ti y de tu visión emprendedora
                    </p>
                </div>
            </div>

        </script>
    </div>
</div>

<script>
    $(document).ready(function () {
        var owl = $("#owl ");
        owl.owlCarousel({
            navigation: false,
            pagination: false,
            paginationSpeed: 1000,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoHeight: true,
            afterMove: callback
        });

        function callback(event) {
            var item = this.currentItem;
            $("#index").html(item + 1 + '/');
        }

        $("#next").click(function () {
            owl.trigger('owl.next');
            return false;
        });

        $("#prev").click(function () {
            owl.trigger('owl.prev');
            return false;
        });

        // $("#save").click(function(){
        //   $(owl).hide("slow ");
        // 	$("#controls ").hide();
        // 	$("#title ").hide();
        // 	$("#finalized ").show("slow ");
        // 	return false;
        // });

        //$("#finalized ").hide();

    });

</script>

<script src="../../Scripts/classie.js "></script>
<script src="../../Scripts/selectFx.js "></script>
<script>
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();

</script>