<div class="incluso-app activity-closing">
    <article class="blueplanets">
        <div id="finalized">
            <section class="txt-renglon header-title">
                <div class="centered txt-bigger min-pad ">Has completado la actividad</div>
                <div class="subtitle centered min-pad ">{{activityname}}</div>
                <div class="txt-renglon centered txt-bigger min-pad ">¡Felicidades!</div>
            </section>
            <section class="centered txt-bigger ">
                <span class="icomoon icon-checked-join txt-bigger green-giant"></span>
            </section>
            <section class="txt-renglon pill">
                <div class="pull-left">Estrellas ganadas:</div>
                <div class="pull-right sm-pill">
                  <span class="pull-left">{{activityPoints}}</span>
                  <span class="icomoon icon-star pull-right"></span>
                </div>
            </section>
            <section class="txt-renglon centered form ">
                <p>¿Que opinas de ésta actividad?</p>
                
                    <div class="opinion pull-left">
                        <input id="like" type="radio" value="1" name="like" ng-model="like_status">
                        <label for="like">Me gusta</label>
                    </div>
                    <div class="opinion pull-left">
                        <input id="dislike" type="radio" value="0" name="like" ng-model="like_status">
                        <label for="dislike">No me gusta</label>
                    </div>                            
            </section>

            <p class="actions">
                <a class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()">TERMINAR</a>
            </p>

        </div>
    </article>
</div>