<div class="incluso-app acerca-programa">
  <article class="blueplanets">
    <div class="pages">
      <div class="page" ng-class="currentPage== 1 ? 'active' : '' ">
        <div class="fuente-energia">
          <section>
            <div class="title-section">
              <div class="txt-renglon centered txt-bigger"></div> 
              <div class="subtitle" ng-bind="contentResources.title"></div>
              <span ng-bind-html="contentResources.instructions"></span>  
            </div>
          </section>

          <section class="filter-section form">
            <span class="icomoon icon-list"></span>
            <select name="filter" class="form-control form-control-lg theme-default" ng-model="filter">
              <option value="" disabled>Filtrar contenido por...</option>
              <option value="">Ver Todo</option>
              <option value="Obligatorio">Obligatorio</option>
              <option value="resource">Fotografías</option>
              <option value="video">Videos</option>
              <option value="page">Textos</option>
              <option value="label">Frases</option>
              <option value="url">Enlaces</option>
            </select>
            <span class="icomoon icon-arrow"></span>
          </section>

          <section class="wall">
            <div class="part" ng-repeat="activity in fuenteDeEnergia.activities">
              <div ng-if="filter == activity.activity_type && activity.activityintro != 'video' || !filter || filter == activity.activityintro || filter == 'Obligatorio' && !activity.optional">
                <div ng-if="activity.activity_type == 'url' && activity.activityintro != 'video' ">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-hyperlink"></span>
                    </div>
                    <div class="col-xs-9">
                      <span>{{activity.activityname}}</span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                    </div>
                  </div>
                </div>
                <div ng-if="activity.activityintro == 'video' ">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-video-file"></span>
                    </div>
                    <div class="col-xs-9">
                      <span>{{activity.activityname}}</span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                    </div>
                  </div>
                </div>
                <div ng-if="activity.activity_type == 'label'">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-text"></span>
                    </div>
                    <div class="col-xs-9">
                      <span>{{activity.activityname}}</span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                    </div>
                  </div>
                </div>
                <div ng-if="activity.activity_type == 'resource'">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-camera"></span>
                    </div>
                    <div class="col-xs-9">   
                      <span>{{activity.activityname.length > 2 ? activity.activityname : ''}}</span>
                    </div>        
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                    </div>
                  </div>      
                </div>
                <div class="detail">  
                  <div>                    
                    <div class="message">
                      <span ng-show="activity.status" ng-bind-html="activity.activityContent.labeltext"></span>                      
                      <span class="htmlContent" ng-show="activity.status" ng-bind-html="activity.activityContent.pagecontent"></span>
                      <span ng-click="updateStatus(activity.groupid)" ng-if="activity.activity_type == 'label' && !activity.status">Mostrar texto...</span>      

                      <div ng-if="activity.activity_type == 'resource'" class="image-container">
                        <a href="{{activity.activityContent.content[0].fileurl}}" target="blank"><img ng-click="updateStatus(activity.groupid)" ng-src="{{activity.status && activity.activityContent.content[0].fileurl || 'assets/images/svg/img_placeholder-01.svg'}}" class="image-element'"></a>
                      </div>
                      <a ng-if="activity.activityintro != 'video' && activity.activity_type=='url'" ng-click="updateStatus(activity.groupid)" href={{activity.activityContent.url}} target="_blank">{{activity.activityContent.url}}</a>
                      <section class="component ng-scope"  ng-if="activity.activityintro == 'video'">
                        <div class="panel panel-video">
                            <div class="video-player">
                                <div class="stage">
                                    <a class="icon icon-play" ng-click="updateStatus(activity.groupid)" href={{activity.activityContent.url}} target="_blank">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                    <figure class="poster">
                                        <img ng-src="{{activity.status && activity.activityContent.thumbnail || 'assets/images/svg/img_placeholder-01.svg'}}" alt="video" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                      </section>

                    </div>
                      <div class="block popularity" ng-show="activity.activityContent.likes != 0" >A <span class="green">{{activity.activityContent.likes || 0}}</span> <span ng-hide="activity.activityContent.likes < 2" >jóvenes</span><span ng-hide="activity.activityContent.likes >= 2" >joven</span> le<span ng-hide="activity.activityContent.likes < 2" >s</span> gusta esto
                      </div>
                  </div>
                  <div>
                    <div ng-repeat="repeatComment in activity.activityContent.comments | limitTo: activity.activityContent.commentsQty">                      
                      <div class="coment block">                        
                        <div>
                          <a class="user-alias" ng-click="navigateTo('Perfil/' + comment.id)">{{repeatComment.alias}}</a>
                          <span>comentó:</span>
                          <div>{{repeatComment.user_comment}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="coment block" ng-hide="(activity.activityContent.comments.length < 3 || activity.activityContent.comments.length == activity.activityContent.commentsQty)" >
                      <div class="vermas" ng-click="showMoreComments(activity.groupid)">
                        <span class="icomoon icon-show-more"></span>
                        Mostrar más comentarios...
                      </div>
                    </div>
                  </div>
                  
                  <div></div>
                  <div class="interact">
                    <div class="col-xs-6 like"  ng-click="likeSubActivity(activity.groupid)">
                      <span class="icomoon icon-like"></span>                      
                        <span ng-show="activity.activityContent.liked == 0">Me gusta</span>
                        <span ng-show="activity.activityContent.liked == 1">Ya no me gusta</span>
                    </div>
                    
                    <div class="col-xs-6 comment">
                      <span class="icomoon icon-comment"></span>
                      <span ng-click="showCommentBox(activity.groupid)">Comentar</span>
                    </div>
                  </div>
                </div>
                 <section class="modales" ng-show="activity.activityContent.showCommentBox">                  
                  <div id="openModal1" class="modalDialog" >
                    <div>
                        <span class="close"></span>
                        <div class="add" ><span class="icomoon icon-edit"></span><textarea ng-model="activity.activityContent.newComment" placeholder="Agregar texto..."  ></textarea></div>      
                        <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="commentSubActivity(activity.groupid)" >Compartir</a>
                    </div>
                  </div>                                                              
               </section>
              </div>
            </div>
          </section>
          <section>
            <a class="btn btn-primary btn-lg btn-cnt" ng-click="back()" ng-bind="contentResources.title_back_button"></a>
            <div class="txt-renglon centered txt-bigger"></div> 
          </section>
        </div>
      </div><!--fin página 1 -->
      <!-- activity closing  -->
      <div class="page evaluation" ng-class="currentPage == 2 ? 'active' : ''">
        <div id="finalized">
            <section class="header-title">                
                <div class="txt-renglon centered txt-bigger min-pad ">{{closingContent.closing_message}}</div>
                <div class="subtitle centered min-pad ">"Fuente de energía"</div>                
                <div class="txt-renglon centered txt-bigger min-pad ">{{closingContent.closing_message_congrats}}</div>
            </section>
            <section class="centered txt-bigger ">
                <span class="icomoon icon-checked-join txt-bigger green-giant"></span>
            </section>
            <section class="txt-renglon pill">
                <div class="pull-left">{{closingContent.earned_stars}}</div>                
                <div class="pull-right sm-pill">
                  <span class="pull-left">250</span>
                  <span class="icomoon icon-star pull-right"></span>
                </div>
            </section>
            <section class="txt-renglon centered form ">
                {{closingContent.activity_rating_label}}                
                <section class="txt-renglon txt-bigger clearfix">
                    <div class="opinion">
                        <input id="like" type="radio" value="1" name="like" ng-model="like_status">                        
                        <label for="like">{{closingContent.like_label}}</label>
                    </div>
                    <div class="opinion">
                        <input id="dislike" type="radio" value="0" name="like" ng-model="like_status">                        
                        <label for="dislike">{{closingContent.not_like_label}}</label>
                    </div>
                </section>
                <a class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()">{{closingContent.finish_button}}</a>                
            </section>
          </div>
      </div>
    </div>
  </article>
</div>