<div class="incluso-app step-dashboard" id="site-wrapper">
  <article class="blueplanets">
    <div class="subtitle" ng-bind="contentResources.multiply_title"></div>
    <section class="txt-renglon pill">
      <div class="fl-left" ng-bind="contentResources.multiply_stars_mssg"></div><div class="fl-right sm-pill">{{stars}}&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
    </section>
    <div class="txt-renglon" ng-bind="contentResources.multiply_instructions_titl"></div>
    <section class="txt-renglon up-line">
      <div ng-bind-html="contentResources.multiply_instructions.value"></div>
    </section>
	<a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="!isInstalled" ng-click="downloadGame()">Descargar Juego</a>
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-bind="contentResources.multiply_start_button" ng-show="isInstalled" ng-click="downloadGame()"></a>
    <div class="txt-renglon centered" ng-bind="contentResources.multiply_cancel_button" ng-click="back()"></div>
  </article>
  <script type="text/ng-template" id="MultiplicaTuDineroModal.html">
      <div class="modal-robot robot-lg closing-stage-modal user-help" >
          <img src="assets/images/img-robot-lg.svg" alt="robot" />
          <div class="modal-header">
              <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                  <span class="icomoon icon-cross"></span>
              </a>
          </div>
          <div class="modal-body">
              <h3 class="subtitle text-center" ng-bind="title"></h3>
              <p class="txt-renglon centered" ng-bind="message"></p>
          </div>
      </div>
  </script>
</div>
