<div class="incluso-app acerca-programa">
  <article class="blueplanets">
    <div class="pages">
      <div class="page" ng-class="currentPage== 1 ? 'active' : '' ">
        <div class="fuente-energia">
          <section>
            <div class="title-section">
              <div class="txt-renglon centered txt-bigger"></div> 
              <div class="subtitle">Fuente de energía</div>
              <span>Aquí podrás recargarte de información adicional</span>  
            </div>
          </section>

          <section class="filter-section form">
            <span class="icomoon icon-list"></span>
            <select name="filter" class="form-control form-control-lg theme-default" ng-model="filter">
              <option value="" disabled>Filtrar contenido por...</option>
              <option value="">Ver Todo</option>
              <option value="Obligatorio">Obligatorio</option> 
              <option value="resource">Fotografías</option> 
              <option value="video">Videos</option> 
              <option value="page">Textos</option> 
              <option value="Frases">Frases</option> 
              <option value="url">Enlaces</option> 
            </select>
            <span class="icomoon icon-arrow"></span>
          </section>

          <section class="wall">
            <div class="part" ng-repeat="activity in fuenteDeEnergia.activities">
              <div ng-if="filter == activity.activity_type && activity.activityintro != 'video' || !filter || filter == activity.activityintro || filter == 'Obligatorio' && !activity.optional">
                <div ng-if="activity.activity_type == 'url' && activity.activityintro != 'video' ">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-hyperlink"></span>
                    </div>
                    <div class="col-xs-9">
                      <span>{{activity.activityname}}</span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                    </div>
                  </div>
                </div>
                <div ng-if="activity.activityintro == 'video' ">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-video-file"></span>
                    </div>
                    <div class="col-xs-9">
                      <span>{{activity.activityname}}</span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                    </div>
                  </div>
                </div>
                <div ng-if="activity.activity_type == 'page'">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-text"></span>
                    </div>
                    <div class="col-xs-9">
                      <span>{{activity.activityname}}</span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                    </div>
                  </div>
                </div>
                <div ng-if="activity.activity_type == 'resource'">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <span class="icomoon icon-camera"></span>
                    </div>
                    <div class="col-xs-9">   
                      <span>{{activity.activityname.length > 2 ? activity.activityname : ''}}</span>
                    </div>        
                    <div class="col-xs-1">
                      <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                    </div>
                    <div class="col-xs-1">
                      <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                      <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                    </div>
                  </div>      
                </div>
                <div class="detail">  
                  <div>
                    <div ng-if="activity.activity_type == 'resource'" class="image-container">
                      <a href="{{activity.activityContent.fileurl}}&token={{token}}" target="blank"><img ng-click="updateStatus(activity.groupid)" ng-src="{{activity.activityContent.fileurl}}&token={{token}}" class="image-element"></a>
                    </div>
                    <div class="message">
                      <a ng-if="activity.activityintro != 'video' && activity.activity_type=='url'" ng-click="updateStatus(activity.groupid)" href={{activity.activityContent.url}} target="_blank">{{activity.activityContent.url}}</a>
                      <span ng-click="updateStatus(activity.groupid)" ng-if="activity.activity_type == 'page' && !activity.status">Mostrar texto...</span>
                      <span ng-show="activity.status" ng-bind-html="activity.pageContent"></span>
                      <span ng-bind-html="activity.file.pageContent"></span>

                      <section class="component ng-scope"  ng-if="activity.activityintro == 'video'" >
                        <div class="panel panel-video">
                            <div class="video-player">
                                <div class="stage">
                                    <a class="icon icon-play" ng-click="updateStatus(activity.groupid)" href={{activity.activityContent.url}} target="_blank">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                    <figure class="poster">
                                        <img src="assets/images/svg/img_placeholder-01.svg" alt="video" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                      </section>

                    </div>
                  </div>
                  <div class="interact hidden">
                    <div class="col-xs-6 like">
                      <span class="icomoon icon-like"></span>
                      <span>Me gusta</span>
                    </div>
                    <div class="col-xs-6 comment">
                      <span class="icomoon icon-comment"></span>
                      <span>Comentar</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <a class="btn btn-primary btn-lg btn-cnt" ng-click="back()">Regresar</a>
            <div class="txt-renglon centered txt-bigger"></div> 
          </section>
        </div>
      </div><!--fin página 1 -->
      <!-- activity closing  -->
      <div class="page blueprint evaluation" ng-class="currentPage == 2 ? 'active' : ''">
        <div id="finalized">
            <section class="header-title">
                <div class="txt-renglon centered txt-bigger min-pad ">Has completado la actividad</div>
                <div class="subtitle centered min-pad ">"Fuente de energía"</div>
                <div class="txt-renglon centered txt-bigger min-pad ">¡Felicidades!</div>
            </section>
            <section class="centered txt-bigger ">
                <span class="icomoon icon-checked-join txt-bigger green-giant"></span>
            </section>
            <section class="txt-renglon pill">
                <div class="pull-left">Estrellas ganadas:</div>
                <div class="pull-right sm-pill">
                  <span class="pull-left">250</span>
                  <span class="icomoon icon-star pull-right"></span>
                </div>
            </section>
            <section class="txt-renglon centered form ">
                ¿Que opinas de ésta actividad?
                <section class="txt-renglon txt-bigger clearfix">
                    <div class="opinion">
                        <input id="like" type="radio" value="1" name="like" ng-model="like_status">
                        <label for="like">Me gusta</label>
                    </div>
                    <div class="opinion">
                        <input id="dislike" type="radio" value="0" name="like" ng-model="like_status">
                        <label for="dislike">No me gusta</label>
                    </div>
                </section>
                <a class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()">TERMINAR</a>
            </section>
          </div>
      </div>
    </div>
  </article>
</div>