<div class="incluso-app step-dashboard" id="site-wrapper">
  <article class="blueplanets">
    <div class="subtitle">{{content.entre_title}}</div>
    <section class="txt-renglon pill">
      <div class="fl-left">{{content.stars_label}}</div><div class="fl-right sm-pill">{{stars}}&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
    </section>
    <div class="txt-renglon">{{content.instructions_label}}</div>
    <section class="txt-renglon up-line">
      <div ng-bind-html="content.entre_instructions.value"></div>
      <!--<ol>
        <li>Descargar la aplicación Incluso Interactivo con el botón naranja.</li>
        <li>Regresa a Misión Incluso.</li>
        <li>Presiona el botón para iniciar la aplicación.</li>
      </ol>-->
    </section>  
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="!isInstalled" ng-click="downloadGame()">Descargar Juego</a>
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="isInstalled" ng-click="downloadGame()">{{content.start_button}}</a>
    <div class="txt-renglon centered" ng-click="back()">{{content.cancel_button}}</div>
  </article>
</div>
