<div class="incluso-app step-dashboard comments-forum" id="site-wrapper">
  <div id="site-menu" >
  <!--<menu-component></menu-component>-->
  </div>
  <div id="site-canvas">


<article class="blueprint">

  <section>
    <div class="txt-renglon centered txt-bigger"></div>
    <div class="subtitle">Punto de encuentro</div>

    <div class="txt-renglon txt-bigger" ng-bind-html="discussion.message | linky"></div>
  </section>

  <section class="txt-renglon centered collapse-media">
    <div class="panel">
      <div class="panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">
        <h3>
          <span class="icomoon icon-camera"></span>
          <span>FOTOGRAFÍA DEL FORO</span>
          <span class="icomoon icon-arrow" ng-show="isCollapsed"></span>
          <span class="icomoon icon-arrow-up" ng-show="!isCollapsed"></span>
        </h3>
      </div>
      <div class="panel-body" collapse="isCollapsed">
        <div class="stage perform">
          <figure class="player">
              <img src="{{ discussion.image[0].fileurl + '?token=' + userToken }}" alt="{{ discussion.image[0].filename }}">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="txt-renglon distribuido">
    <!--<a href="" ng-click="collapseText()"><img src="assets/images/aa.svg"></a> -->
      <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isTextCollapsed')" ng-class="{'active': !forumModals['isTextCollapsed']}"><span class="icomoon icon-text text-bigger"></span><span class="arrow-up"></span></a>
    <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isLinkCollapsed')" ng-class="{'active': !forumModals['isLinkCollapsed']}"><span class="icomoon icon-hyperlink" ></span><span class="arrow-up"></span></a>
    <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isVideoCollapsed')" ng-class="{'active': !forumModals['isVideoCollapsed']}"><span class="icomoon icon-video-file" ></span><span class="arrow-up"></span></a>
    <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isAttachmentCollapsed')" ng-class="{'active': !forumModals['isAttachmentCollapsed']}"><span class="icomoon icon-attachment"></span><span class="arrow-up"></span></a>
  </section>

<section class="modales">

<!--<div id="openModal1" class="modalDialog" collapse="isTextCollapsed">-->
    <div id="openModal1" class="modalDialog" collapse="forumModals['isTextCollapsed']">
  <div>    
    <div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar texto..." value="" ng-model="textToPost" /></div>
    <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="postTextToForum()">Compartir</button>
  </div>
</div>

<div id="openModal2" class="modalDialog" collapse="forumModals['isLinkCollapsed']">
  <div>
    <div class="add"><i class="icomoon icon-edit"></i><input type="url" placeholder="Agregar tu enlace..." value="" ng-model="linkToPost" /></div>
    <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="postLinkToForum()" >Compartir</button>
  </div>
</div>

<div id="openModal3" class="modalDialog" collapse="forumModals['isVideoCollapsed']">
  <div>
    <div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar ruta de tu peli..." value="" ng-model="videoToPost" /></div>
    <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="postVideoToForum()" >Compartir</button>
  </div>
</div>

<div id="openModal4" class="modalDialog" collapse="forumModals['isAttachmentCollapsed']">
  <div>    
    <div class="add"><form><input type="file" placeholder="Atachea algo..." value="Buscar" ng-model="attachmentToPost"  base-sixty-four-input maxsize="2000000" accept="image/*"></form></div>
    <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="postAttachmentToForum()" >Compartir</button>
  </div>
</div>
</section>


<section class="wall">

    <div id="item{{$index}}" ng-repeat="p in discussion.posts[0].replies">



        <div class="part">
          <div class="author"><img src="assets/images/avatar.svg">
          <div>{{p.postAutor}} <span>publicó:</span>
          <div>{{p.created | date: "dd MMMM yyyy"}}</div>
          </div>
        </div>
        <div class="block">

            <span ng-switch="p.posttype">
                <span ng-switch-default>{{ p.message }}</span>
                <span ng-switch-when="2"><span ng-bind-html="p.message | linky"></span></span>
                <span ng-switch-when="3"><a ng-href="{{p.message}}"><img src="assets/images/img-video-placeholder.svg" alt="Ver video">Ver video</a></span>
                <span ng-switch-when="4"><a ng-href="{{p.message}}"><img src="{{p.attachments[0].fileurl + '?token=' + userToken}}"  /> </a></span>
            </span>


            <!--<div ng-repeat="attachment in p.attachments">
                <a href="{{ attachmentsfileurl }}"><i class="icomoon icon-required"></i> {{ attachment.filename }} </a>
            </div>-->
          <div ng-show="p.likes" >A <span class="green">{{p.likes || 0}}</span> jóvenes les gusta esto</div></div>


          <div id="item{{$index}}" ng-repeat="r in p.replies">

            <div class="coment block"><img src="assets/images/avatar.svg">
              <div>{{r.postAutor}} <span>publicó:</span>   <div>{{r.message}}</div>
              </div>
            </div>
          </div>

        <div class="vermas" ng-show="false">
        Ver más comentarios
        <i class="icomoon icon-plus"></i>
        </div>
        <div class="social">
        <div ng-hide="p.liked == 1" ng-click="clickLikeButton(p.id)"><i class="icomoon icon-required"></i> Me gusta
        </div>
        <div ng-hide="!p.liked == 1" ng-click="clickLikeButton(p.id)"><i class="icomoon icon-required"></i> Ya no me gusta
        </div>
        <div ng-click="isCommentModalCollapsed[p.id] = !isCommentModalCollapsed[p.id]"><i class="icomoon icon-required"></i> Comentar
        </div>
        </div>

        </div>
        <section class="modales">
        <div id="openModal1" class="modalDialog" collapse="isCommentModalCollapsed[p.id]">
            <div>
                <a href="#close" title="Close" class="close"></a>
                <div class="add" ><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar texto..."  ng-model="replyText" /></div>

                <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="replyToPost(this, p.id, p.parent)" >Compartir</button>
            </div>
        </div> </section>
    </div>


<section>
<button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="back()">Regresar</button>
<div class="txt-renglon centered txt-bigger"></div> 
</section>

  </article>

  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
    </div>
    </div>
  <!-- html -->

