<div class="incluso-app step-dashboard topics-forum" id="site-wrapper">
  <div id="site-canvas">
     <article class="blueprint">
      <section>
        <div class="subtitle">Punto de encuentro</div>
        <div class="txt-renglon txt-bigger"> ¡Haz públicas tus ideas! <br>
            Deja que conozcan tus ideas, toma los retos y comenta a los demás.
        </div>
      </section>
      <section class="list txt-renglon">
        <div id="item{{$index}}" ng-repeat="t in activity.discussions">
          <div class="part list-item"><span>{{t.name}}</span><a href="" ng-click="showComentarios(t.id)"><i class="icomoon icon-arrow-right-aligned fl-right"></i></a></div>
        </div>
      </section>
      <section>
        <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="back()">Regresar</button>
        <div class="txt-renglon centered txt-bigger"></div> 
      </section>
    </article>
    </div>
</div>
