<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-menu" >

  </div>
  <div id="site-canvas">

    <article>
      <div class="container">

        <section class="component">
          <h3 ng-class="main-title">Zona de Contacto - Mensaje de Cierre</h3>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

              <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. </p>
              <a role="button" class="btn btn-primary btn-lg btn-block" ng-click="back()">Regresar</a> 
        </section>
        
      </div> <!-- /.container -->
      <img src=".../../assets/images/img-lines-ftr.png" class="centered">

    </article>

  </div>
</div>
  
