
<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-menu" >
<!--#include file="menu.html" -->
  </div>
  <div id="site-canvas">


  <article class="blueprint">

    <div class="subtitle">Juego</div>
    
    <section class="txt-renglon up-line">
      <img src="assets/images/alien-invasion.png">
      <input type="text" value="AABMBMBM" style="color: black;">
    </section>

    <button type="button" class="btn btn-primary btn-lg btn-cnt" ng-click="saveAndContinue()">Salir</button>

    <section>
      <!-- <TEXTAREA cols="40">{{tmpRetoMultipleRequest}}</TEXTAREA> -->
    </section>
  </article>

  
  </div>
</div>
