<div class="incluso-app step-dashboard" id="site-wrapper">
  <article class="blueprint">
    <div class="subtitle" ng-bind="contentResources.multi_chall_title"></div>
    <section class="txt-renglon pill">
      <div class="fl-left" ng-bind="contentResources.multi_chall_stars_label"></div><div class="fl-right sm-pill">{{::stars}}&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
    </section>
    <div class="txt-renglon" ng-bind="contentResources.multi_chall_instruct_title"></div>
    <section class="txt-renglon up-line">
      <div ng-bind-html="contentResources.multi_chall_instructions.value"></div>
    </section>  
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="!isInstalled" ng-click="downloadGame()">Descargar Juego</a>
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="isInstalled" ng-click="downloadGame()" ng-bind="contentResources.mutli_chall_start_button"></a>
    <div class="txt-renglon centered" ng-click="back()" ng-bind="contentResources.boton_cancelar"></div>
  </article>
  <script type="text/ng-template" id="RetoMultipleModal.html">
      <div class="modal-robot robot-lg closing-stage-modal user-help" >
          <img src="assets/images/img-robot-lg.svg" alt="robot" />
          <div class="modal-header">
              <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                  <span class="icomoon icon-cross"></span>
              </a>
          </div>
          <div class="modal-body">
              <h3 class="subtitle text-center" ng-bind="title"></h3>
              <p class="txt-renglon centered" ng-bind="message"></p>
          </div>
      </div>
  </script>
</div>
