<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-menu" >

  </div>
  <div id="site-canvas">

<article class="blueprint">
      <div class="container">

        <section class="component">
          <h3 ng-class="main-title">Mis fortalezas</h3>
        </section>

  <section class="txt-renglon up-line">
  <h4>Escudo</h4>
  <img src="assets/images/escudos/musical.png" class="centered">
  </section>  


  <section class="txt-renglon up-line">
    <h4>Fortalezas</h4>
  </section>

    <div id="item{{index}}" ng-repeat="a in fortalezas">

      <div class="part gr-bg">
      <div><i class="icomoon icon-checked-join white"></i>{{a.name}}</div> 
      <div><span>{{a.calificacion}}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-up': !status.open}"></i></div>
      </div>
      <div class="part part2" id="ord1" ng-bind-html="a.description">
      </div>

    </div>

      <section class="txt-renglon up-line">
    <h4>Inteligencias a fortalecer</h4>
  </section>

    <div id="item{{index}}" ng-repeat="a in aFortalecer">

      <div class="part gr-bg">
      <div><i class="icomoon icon-checked-join white"></i>{{a.name}}</div> 
      <div><span>{{a.calificacion}}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-up': !status.open}"></i></div>
      </div>
      <div class="part part2" id="ord1" ng-bind-html="a.description">
      </div>

    </div>


    <br/><br/>
    <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="back()">Regresar</button>
    <br/><br/>
    <img src="assets/images/img-lines-ftr.png" class="centered">
    <br/>  

        
      </div> <!-- /.container -->

    </article>

  </div>
</div>
  