<div class="incluso-app results-challenge" id="site-wrapper">
    <article class="blueprint">
      <!--<div class="subtitle text-uppercase">Mis fortalezas</div>-->
      <div class="subtitle text-uppercase" ng-bind="contentResources.multi_chall_title"></div>
      <section class="txt-renglon up-line">
        <h4>Escudo</h4>
        <img src="assets/images/badges/img-{{profile.shield}}.svg" class="centered" />
      </section>  
      <section class="txt-renglon up-line section-title">
        <!--<h4>Fortalezas</h4>-->
        <h4 ng-bind="contentResources.mul_cha_res_strengths_titl"></h4>
      </section>
      <div id="item{{index}}" ng-class="{active:$first}" class="collapse-media" ng-repeat="a in fortalezas track by $index">
        <div class="txt-renglon panel" ng-class="{'collapsed': isCollapsed}" >      
          <div class="panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">        
            <span class="icomoon icon-checked-join white"></span>{{a.name}}
            <div>
              <span>{{a.calificacion}}</span> 
              <span class="icomoon icon-arrow" ng-show="isCollapsed"></span>
              <span class="icomoon icon-arrow-up" ng-show="!isCollapsed"></span>
              <!--<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-up': !status.open}"></i>-->
            </div>
          </div>
        
          <div class="panel-body" id="ord1" ng-bind-html="a.description" collapse="isCollapsed"></div>
        </div>                    
      </div>

      <section class="txt-renglon up-line section-title no-border">
        <!--<h4>Inteligencias a fortalecer</h4>-->
        <h4 ng-bind="contentResources.mul_cha_res_weakness"></h4>
      </section>

      <div id="item{{index}}" class="collapse-media" ng-repeat="a in aFortalecer track by $index">

        <div class="txt-renglon panel" ng-class="{'collapsed': isCollapsed}" >
          <div class="panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">          
            <span class="icomoon icon-checked-join white"></span>{{a.name}} 
            <div>
              <span>{{a.calificacion}}</span> 
              <span class="icomoon icon-arrow" ng-show="isCollapsed"></span>
              <span class="icomoon icon-arrow-up" ng-show="!isCollapsed"></span>
              <!--<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-up': !status.open}"></i>-->
            </div>
          </div>
          <div class="panel-body" id="ord1" ng-bind-html="a.description" collapse="isCollapsed"></div>
        </div>
      </div>

      <p class="actions">
        <!--<a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="back()">Regresar</a>-->
        <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="back()" ng-bind="contentResources.mul_cha_res_back_button"></a>
      </p>
    </article>
</div>
  