<div class="incluso-app step-dashboard" id="site-wrapper">

    <article class="blueprint">    
      <section>
        <div class="txt-renglon centered txt-bigger"></div> 
        <div class="subtitle">Foro Común</div>
        <div class="txt-renglon txt-bigger">¿Cómo te sientes cuando ves que varias personas tienen sueños similares a los tuyos?</div>  
      </section>    
      <section class="txt-renglon distribuido">          
        <a href="#openModal1"><img src="assets/images/aa.svg"></a>
        <a href="#openModal2"><img src="assets/images/link.svg"></a>
        <a href="#openModal3"><img src="assets/images/play.svg"></a>
        <a href="#openModal4"><img src="assets/images/clip.svg"></a>
      </section>
      <section class="modales">    
        <div id="openModal1" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar texto..." value=""/></div>      
            <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
          </div>
        </div>      
        <div id="openModal2" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar tu enlace..." value=""/></div>      
            <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
          </div>
        </div>
        
        <div id="openModal3" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar ruta de tu peli..." value=""/></div>      
            <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
          </div>
        </div>
        
        <div id="openModal4" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Escribe algo..." value=""/></div>    
            <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
          </div>
        </div>
      </section>
      <section class="wall">
        <div class="part">
          <div class="author"><img src="assets/images/avatar.svg">
          <div>   Samanta Rodríguez <span>publicó:</span>   
          <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">  
          ¡Les comparto una foto que tomé!
        <img src="assets/images/avatar.svg">
          <div>A <span class="green">30</span> jóvenes les gusta esto</div></div>
        <div class="coment block"><img src="assets/images/img-avatar-dummy-01.png">
          <div>   Juan Juan <span>publicó:</span>   <div>Me encantó tu foto!!</div>
          </div>
        </div>
        <div class="coment block"><img src="assets/images/img-avatar-dummy-03.png">
          <div>   Ricardo O'connor <span>publicó:</span>   <div>UUUUf, guapísima!!</div>
          </div>
        </div>
        
        <div class="vermas">
        Ver más comentarios
        <i class="icomoon icon-plus"></i>
        </div>
        <div class="social">
        <div><i class="icomoon icon-required"></i> Me gusta
        </div>
        <div><i class="icomoon icon-required"></i> Comentar
        </div>
        </div>
        </div>
        
        <div class="part">
          <div class="author"><img src="assets/images/avatar.svg">
          <div>   Samanta Rodríguez <span>publicó:</span>   
          <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">  
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <div>A <span class="green">12</span> jóvenes les gusta esto</div></div>
        <div class="coment block"><img src="assets/images/avatar.svg">
          <div>Juan Juan<span>publicó:</span>   <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</div>
          </div>
        </div>
        <div class="coment block"><img src="assets/images/img-avatar-dummy-02.png">
          <div>Georgina <span> publicó:</span>   <div>Ut enim ad minima veniam</div>
          </div>
        </div>
        
        <div class="coment block"><img src="assets/images/avatar.svg">
          <div>Ricardo O'connor <span>publicó:</span>   <div>Ut enim ad minima veniam sit voluptatem accusantium doloremque</div>
          </div>
        </div>
        
        <div class="vermas">
        Ver más comentarios
        <i class="icomoon icon-plus"></i>
        </div>
        <div class="social">
        <div><i class="icomoon icon-required"></i> Me gusta
        </div>
        <div><i class="icomoon icon-required"></i> Comentar
        </div>
        </div>
        </div>
        
        <div class="part">
          <div class="author"><img src="assets/images/avatar.svg">
          <div>   Samanta Rodríguez <span>publicó:</span>   
          <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">  
        <i class="icomoon icon-required"></i>http://www.Incluso.com.mx
          <div>A <span class="green"> tí y a 98</span> jóvenes les gusta esto</div></div>
        
        <div class="social">
        <div><i class="icomoon icon-required"></i> Ya no me gusta
        </div>
        <div><i class="icomoon icon-required"></i> Comentar
        </div>
        </div>
        </div>
        <div class="vermas">
          Ver más comentarios
        <i class="icomoon icon-plus"></i>
        </div>
      </section>
      <section>
        <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="back()">Regresar</button>
        <div class="txt-renglon centered txt-bigger"></div> 
      </section>    
    </article>    
    <footer class="footer">
      <ul class="block-list">
        <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
        <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
      </ul>
      <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
    </footer>

   <script type="text/ng-template" id="tutorialModal.html">
        <div class="modal-robot robot-lg user-help">
          <img src="assets/images/img-robot-lg.png" alt="robot" />
          <div class="modal-header">
            <button class="icon icon-close" ng-click="cancel()">
              <span class="icomoon icon-cross"></span>
            </button>
          </div>
          <div class="modal-body">
            <p class="centered">Has completado satisfactoriamente
              tu capacitación, ahora puedes aplicar 
              tus conocimiento para poder
              lograr tu sueños!
            </p>
            <p class="centered">¡Continúa con las estaciones Incluso y gana más estrellas! </p>
            <figure class="player">
                <video controls  poster="assets/images/ptr-video-0001.jpg" > 
                <source src="assets/media/TutorialTest2.mp4" type="video/mp4"> Ups! Parece que tu dispositivo no soporta video</video> 
            </figure>
          </div>
          <!--<div class="modal-footer">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block">Continuar a mi Perfil</button>
              </div>
            </div>
          </div> -->
        </div>
      </script> 
</div>
  <!-- html -->

