<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-menu" >

  </div>
  <div id="site-canvas">

    <article>
      <div class="container">

        <section class="component">
          <h3 ng-class="main-title">Acerca del Programa</h3>
          <div class="stage perform">
            <figure class="player">
               <img src="assets/images/ptr-video-0001.jpg" alt="video" /> 
            </figure>
          </div>
		 
        </section>
        <section class="component">
         <p>
            Utilizamos la metodología de la
            educación experiencial como un
            medio eficaz para el aprendizaje y la
            aplicación de los conceptos recibidos.
          </p>
          <p>
              Utilizamos la metodología de la
              educación experiencial como un
              medio eficaz para el aprendizaje y la
              aplicación de los conceptos recibidos.
          </p>
          <p>
            <a href="www.incluso.com.mx">www.incluso.com.mx</a>
          </p>
         
          <div class="row">
              <div class="col-xs-12">
                <!--<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="back()">Regresar</button>-->
              </div>
          </div> 
       </section>

      </div> <!-- /.container -->

    </article>

  </div>
</div>
  

