<div class="incluso-app album">
    <div class="carousel">
        <div id="owlAlbum" class="owl-carousel">
            <!-- page 1 -->
            <div class="item">
                <article class="album-page1">
                    <!-- description -->
                    <section class="centered section-description">
                        <h2 class="subtitle centered text-uppercase">Mi album</h2>
                        <div class=" txt-renglon centered">
                            <div ng-bind-html="message"></div>
                        </div>
                        <a class="btn btn-icon-aside light centered" ng-click="isShareCollapsed = !isShareCollapsed" ng-class="{'active': isShareCollapsed}" ng-show="hasCommunityAccess">
                            <div class="btn-icon">
                                <span class="icomoon icon-share"></span>
                            </div>
                            <span>Compartir mi album</span>
                            <span class="arrow-up"></span>
                        </a>
                        <div id="shareAlbum" class="modalDialog" collapse="!isShareCollapsed" ng-show="hasCommunityAccess">
                            <div>
                                <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Comenta..." value="" ng-model="sharedAlbumMessage"></textarea></div>
                                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="postTextToCommunity()">Compartir en Comunidad</a>
                            </div>
                        </div>
                        <div id="openModal2" class="modalDialog reportModal" ng-show="showSharedAlbum && hasCommunityAccess">
                            <div>
                              <a title="close" class="close"></a>
                              <div class="add">Has compartido tú album.</div>
                              <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="navigateTo('/Community/50000')">Ir a Comunidad</a>
                              <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="showSharedAlbum = false">Cerrar</a>
                            </div>
                        </div>
                    </section>
                    <!-- my avatar -->
                    <section class="section-album section-avatar centered">
                        <div class="container">
                            <figure>
                                <img ng-src="{{album.profileimageurl}}" alt="Avatar" />
                            </figure>
                            <!-- shield -->
                            <section class="section-album section-shield-name centered">
                                <div class="container">
                                    <p>El escudo que me distingue es: </p>
                                    <h4 class="subtitle centered text-uppercase">{{album.shield==''?'Aún no tienes tu primer escudo':album.shield}}</h4>
                                </div>
                            </section>
                        </div>
                    </section>
                    <!-- abilities -->
                    <section class="section-album section-abilities centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="strengths in album.myStrengths">
                                    {{strengths}}
                                </li>
                                <li class="list-group-item" ng-if="album.myStrengths.length == 0">
                                    <strong>No has seleccionado fortalezas</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- carousel controls -->
                    <div class="actions txt-renglon">
                        <a class="control back" href="#" id="prev">
                            <span class="icomoon icon-arrow-bold-left"></span>
                        </a>
                        <a class="control next" href="#" id="next">
                            <span class="icomoon icon-arrow-bold-right"></span>
                        </a>
                    </div>
                    <!-- footer section -->
                    <section class="section-footer">
                        <ul class="block-list">
                            <li>
                                <a href="" class="btn-link">Preguntas Frecuentes</a>
                            </li>
                            <li>
                                <a href="" class="btn-link" ng-click="navigateTo('HelpAndSupport','sidebar')">Ayuda y Soporte</a>
                            </li>
                        </ul>
                        <a class="btn-back-to-top" ng-click="$emit('scrollTop');">
                            <span class="icomoon icon-double-arrow-up"></span>
                            <span>Subir</span>
                        </a>
                    </section>
                </article>
            </div>

            <!-- page 2 -->
            <div class="item">
                <article class="album-page2">
                    <!-- description -->
                    <section class="centered section-description">
                        <h2 class="subtitle centered text-uppercase">Mi album</h2>
                        <div class=" txt-renglon centered">
                            <div ng-bind-html="message"></div>
                        </div>
                        <a class="btn btn-icon-aside light centered">
                            <div class="btn-icon">
                                <span class="icomoon icon-share"></span>
                            </div>
                            <span>Compartir mi album</span>
                            <span class="arrow-up"></span>
                        </a>
                        <div id="shareAlbum" class="modalDialog" collapse="!isShareCollapsed">
                            <div>
                                <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Agregar texto..." value="" ng-model="textToPost"></textarea></div>
                                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="postTextToForum()">Compartir</a>
                            </div>
                        </div>
                    </section>
                    <!-- What I like -->
                    <section class="section-album section-what-ilike centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="likes in album.myLikes">
                                    {{likes}}
                                </li>
                                <li class="list-group-item" ng-if="album.myLikes.length == 0">
                                    <strong>No has seleccionado tus gustos</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- qualities -->
                    <section class="section-album section-qualities centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="attributes in album.myAttributes">
                                    {{attributes}}
                                </li>
                                <li class="list-group-item" ng-if="album.myAttributes.length == 0">
                                    <strong>No has seleccionado tus cualidades</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- What drives me -->
                    <section class="section-album section-what-drivesme centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="ideas in album.myIdeas">
                                    {{ideas}}
                                </li>
                                <li class="list-group-item" ng-if="album.myIdeas.length == 0">
                                    <strong>No has seleccionado aún nada</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- dreams -->
                    <section class="section-album section-dreams centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="dreams in album.myDreams">
                                    {{dreams}}
                                </li>
                                <li class="list-group-item" ng-if="album.myDreams.length == 0">
                                    <strong>No has seleccionado aún nada</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- carousel controls -->
                    <div class="actions txt-renglon">
                        <a class="control back" href="#" id="prev">
                            <span class="icomoon icon-arrow-bold-left"></span>
                        </a>
                        <a class="control next" href="#" id="next">
                            <span class="icomoon icon-arrow-bold-right"></span>
                        </a>
                    </div>
                    <!-- footer section -->
                    <section class="section-footer">
                        <ul class="block-list">
                            <li>
                                <a href="" class="btn-link">Preguntas Frecuentes</a>
                            </li>
                            <li>
                                <a href="" class="btn-link" ng-click="navigateTo('HelpAndSupport','sidebar')">Ayuda y Soporte</a>
                            </li>
                        </ul>
                        <a class="btn-back-to-top" ng-click="$emit('scrollTop');">
                            <span class="icomoon icon-double-arrow-up"></span>
                            <span>Subir</span>
                        </a>
                    </section>
                </article>
            </div>

            <!-- page 3 -->
            <div class="item">
                <article class="album-page3">
                    <!-- description -->
                    <section class="centered section-description">
                        <h2 class="subtitle centered text-uppercase">Mi album</h2>
                        <div class=" txt-renglon centered">
                            <div ng-bind-html="message"></div>
                        </div>
                        <a class="btn btn-icon-aside light centered" ng-click="isShareCollapsed = !isShareCollapsed" ng-class="{'active': isShareCollapsed}">
                            <div class="btn-icon">
                                <span class="icomoon icon-share"></span>
                            </div>
                            <span>Compartir mi album</span>
                            <span class="arrow-up"></span>
                        </a>
                        <div id="shareAlbum" class="modalDialog" collapse="!isShareCollapsed">
                            <div>
                                <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Agregar texto..." value="" ng-model="textToPost"></textarea></div>
                                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="postTextToForum()">Compartir</a>
                            </div>
                        </div>
                    </section>
                    <!-- future plans -->
                    <section class="section-album section-future-plans centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item"><span>1 año. </span><label>{{album.myPlans.oneYear == '' ? 'Comparte tu plan':album.myPlans.oneYear}}</label></li>
                                <li class="list-group-item"><span>2 años. </span><label>{{album.myPlans.threeYear == '' ? 'Comparte tu plan':album.myPlans.threeYear}}</label></li>
                                <li class="list-group-item"><span>5 años. </span><label>{{album.myPlans.fiveYear == '' ? 'Comparte tu plan':album.myPlans.fiveYear}}</label></li>
                            </ul>
                        </div>
                    </section>
                    <!-- goals -->
                    <section class="section-album section-goals centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="goals in album.myGoals">
                                    {{goals}}
                                </li>
                                <li class="list-group-item" ng-if="album.myGoals.length == 0">
                                    <strong>No has seleccionado aún nada</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- now i know -->
                    <section class="section-album section-now-iknow centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="iKnow in album.iKnowWhatIs">
                                    {{iKnow}}
                                </li>
                                <li class="list-group-item" ng-if="album.iKnowWhatIs.length == 0">
                                    <strong>No has seleccionado aún nada</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- what i like -->
                    <section class="section-album section-what-ilike bg-pink centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="likes in album.myLikes">
                                    {{likes}}
                                </li>
                                <li class="list-group-item" ng-if="album.myLikes.length == 0">
                                    <strong>No has seleccionado tus gustos</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- project -->
                    <section class="section-album section-project centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="proj in album.project">
                                    {{proj}}
                                </li>
                                <li class="list-group-item" ng-if="album.project.length == 0">
                                    <strong>No has seleccionado aún nada</strong>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- carousel controls -->
                    <div class="actions txt-renglon">
                        <a class="control back" href="#" id="prev">
                            <span class="icomoon icon-arrow-bold-left"></span>
                        </a>
                        <a class="control next" href="#" id="next">
                            <span class="icomoon icon-arrow-bold-right"></span>
                        </a>
                    </div>
                    <!-- footer section -->
                    <section class="section-footer">
                        <ul class="block-list">
                            <li>
                                <a href="" class="btn-link">Preguntas Frecuentes</a>
                            </li>
                            <li>
                                <a href="" class="btn-link" ng-click="navigateTo('HelpAndSupport','sidebar')">Ayuda y Soporte</a>
                            </li>
                        </ul>
                        <a class="btn-back-to-top" ng-click="$emit('scrollTop');">
                            <span class="icomoon icon-double-arrow-up"></span>
                            <span>Subir</span>
                        </a>
                    </section>
                </article>
            </div>

            <!-- page 4 -->
            <div class="item">
                <article class="album-page4">
                    <!-- description -->
                    <section class="centered section-description">
                        <h2 class="subtitle centered text-uppercase">Mi album</h2>
                        <div class=" txt-renglon centered">
                            <div ng-bind-html="message"></div>
                        </div>
                        <a class="btn btn-icon-aside light centered" ng-click="isShareCollapsed = !isShareCollapsed" ng-class="{'active': isShareCollapsed}">
                            <div class="btn-icon">
                                <span class="icomoon icon-share"></span>
                            </div>
                            <span>Compartir mi album</span>
                            <span class="arrow-up"></span>
                        </a>
                        <div id="shareAlbum" class="modalDialog" collapse="!isShareCollapsed">
                            <div>
                                <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Agregar texto..." value="" ng-model="textToPost"></textarea></div>
                                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="postTextToForum()">Compartir</a>
                            </div>
                        </div>
                    </section>
                    <!-- my participation -->
                    <section class="section-album section-participation centered">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item"><span class="results-title">Comunidad </span><label>{{album.amountOfCommunityPosts}} entradas</label></li>
                                <li class="list-group-item"><span class="results-title">Foros </span><label>{{album.amountOfForumPosts}} entradas</label></li>
                            </ul>
                            <!-- won stars -->
                            <div class="txt-renglon">
                                <h2 class="results-title">Estrellas ganadas</h2>
                                <div class="sm-pill">
                                    <span class="ng-binding pull-left">{{album.starsEarned}}</span>
                                    <span class="icomoon icon-star pull-right"></span>
                                </div>
                            </div>
                            <!-- badges obtained -->
                            <div class="txt-renglon badges">
                                <h2 class="results-title">Insignias obtenidas</h2>
                                <div class="badge-item text-center">                                                                                                   
                                    <img class="badgesviews" ng-src="assets/images/badges/{{ album.badges[0].filename}}" alt="{{ album.badges[0].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                    
                                    <img class="badgesviews" ng-src="assets/images/badges/{{ album.badges[1].filename}}" alt="{{ album.badges[1].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                    
                                    <img class="badgesviews" src="assets/images/badges/{{ album.badges[2].filename}}" alt="{{ album.badges[2].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                
                                    <img class="badgesviews" src="assets/images/badges/{{ album.badges[3].filename}}" alt="{{ album.badges[3].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                
                                    <img class="badgesviews" src="assets/images/badges/{{ album.badges[4].filename}}" alt="{{ album.badges[4].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                    
                                    <img class="badgesviews" src="assets/images/badges/{{ album.badges[5].filename}}" alt="{{ album.badges[5].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                    
                                    <img class="badgesviews" src="assets/images/badges/{{ album.badges[6].filename}}" alt="{{ album.badges[6].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                    
                                    <img class="badgesviews" src="assets/images/badges/{{ album.badges[7].filename}}" alt="{{ album.badges[7].alt}}" />
                                </div>
                                <div class="badge-item text-center">                                    
                                    <img class="badgesviews" src="assets/images/badges/insignias-seemore.gif" alt="Ver más" />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- next time -->
                    <section class="section-album section-next-time centered">
                        <div class="container">

                        </div>
                    </section>
                    <!-- carousel controls -->
                    <div class="actions txt-renglon">
                        <a class="control back" href="#" id="prev">
                            <span class="icomoon icon-arrow-bold-left"></span>
                        </a>
                        <a class="control next" href="#" id="next">
                            <span class="icomoon icon-arrow-bold-right"></span>
                        </a>
                    </div>

                    <!-- footer section -->
                    <section class="section-footer">
                        <ul class="block-list">
                            <li>
                                <a href="" class="btn-link">Preguntas Frecuentes</a>
                            </li>
                            <li>
                                <a href="" class="btn-link" ng-click="navigateTo('HelpAndSupport','sidebar')">Ayuda y Soporte</a>
                            </li>
                        </ul>
                        <a class="btn-back-to-top" ng-click="$emit('scrollTop');">
                            <span class="icomoon icon-double-arrow-up"></span>
                            <span>Subir</span>
                        </a>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
