<div class="incluso-app album">
   <!-- description -->
    <section class="centered section-description">
        <h2 class="subtitle centered text-uppercase">Mi album</h2>
        <p class=" txt-renglon centered">Cada logo debe ser recolectado y aquí encontrarás los momentos mas especiales de tu viaje.</p>
        <a class="btn btn-icon-aside light centered">
          <div class="btn-icon">
              <span class="icomoon icon-share"></span>
          </div>
          <span>Compartir mi album</span>
        </a>
    </section>             
    <div class="carousel">      
      <div id="owlAlbum" class="owl-carousel">
        <!-- page 1 -->
        <div class="item">
          <article class="album-page1">  
            <!-- my avatar -->
            <section class="section-album section-avatar centered">
              <div class="container">
                <figure>
                  <img src="assets/images/img-album-avatar.svg" alt="Avatar" />
                </figure>
                <!-- shield -->
                <section class="section-album section-shield-name centered">
                  <div class="container">
                    <p>El escudo que me distingue es: </p>
                    <h4 class="subtitle centered text-uppercase">Inteligencia interpersonal</h4>
                  </div>
                </section>
              </div>

            </section>
           
            <!-- abilities -->
            <section class="section-album section-abilities centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><label>Musical</label></li>
                  <li class="list-group-item"><label>Interpersonal</label></li>
                  <li class="list-group-item"><label>Naturalista</label></li>
                </ul>
              </div>
            </section>
          </article>  
        </div>
        <!-- page 2 -->
        <div class="item">
           <!-- What I like -->
            <section class="section-album section-what-ilike centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><label>Tocar la batería</label></li>
                  <li class="list-group-item"><label>Ir al cine con mi novia</label></li>
                  <li class="list-group-item"><label>Jugar futbol</label></li>
                </ul>
              </div>
            </section>
            <!-- qualities -->
            <section class="section-album section-qualities centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><label>Amigable</label></li>
                  <li class="list-group-item"><label>Responsable</label></li>
                  <li class="list-group-item"><label>Inteligente</label></li>
                </ul>
              </div>
            </section>
            <!-- What drives me -->
            <section class="section-album section-what-drivesme centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><label>Mi familia</label></li>
                  <li class="list-group-item"><label>Mis amigos</label></li>
                  <li class="list-group-item"><label>Mis padres</label></li>
                </ul>
              </div>
            </section>
            <!-- dreams -->
            <section class="section-album section-dreams centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><label>Amigable</label></li>
                  <li class="list-group-item"><label>Responsable</label></li>
                  <li class="list-group-item"><label>Inteligente</label></li>
                </ul>
              </div>
            </section>
        </div>

        <!-- page 3 -->
        <div class="item">
           <!-- future plans -->
            <section class="section-album section-future-plans centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><span>1 año</span><label>Terminar estudios</label></li>
                  <li class="list-group-item"><span>2 años</span><label>Comprar mi casa ideal</label></li>
                  <li class="list-group-item"><span>5 años</span><label>Ser futbolista</label></li>
                </ul>
              </div>
            </section>
            <!-- goals -->
            <section class="section-album section-goals centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><label>Estudiar para mis exámenes</label></li>
                  <li class="list-group-item"><label>Aplicar a entrevistas de trabajo</label></li>
                  <li class="list-group-item"><label>Seguir con el futbol</label></li>
                  <li class="list-group-item"><label>Estabilidad económica</label></li>
                  <li class="list-group-item"><label>Tener tiempo para mí</label></li>
                </ul>
              </div>
            </section>
            <!-- now i know -->
            <section class="section-album section-now-iknow centered">
              <div class="container">
                <ul class="list-group">
                  <li class="list-group-item"><label>Ahorro</label></li>
                  <li class="list-group-item"><label>Préstamo</label></li>
                  <li class="list-group-item"><label>Inversión</label></li>
                </ul>
              </div>
            </section>
            <!-- what i like -->
            <section class="section-album section-what-ilike pink centered">
              <div class="container">
                <ul class="list-group">
                 <li class="list-group-item"><label>Tocar la bateria</label></li>
                  <li class="list-group-item"><label>Ir al cine con mi novia</label></li>
                  <li class="list-group-item"><label>Jugar futbol</label></li>
                </ul>
              </div>
            </section>
            <!-- project -->
            <section class="section-album section-project pink centered">
              <div class="container">
               <p>Seguir practicando futbol y aplicar para las eliminatorias de seleccion de jugadores profesionales</p>
              </div>
            </section>
        </div>
      <!-- carousel controls -->        
      </div> 
      <div class="actions txt-renglon">
          <a class="control back" href="#" id="prev">
              <span class="icomoon icon-arrow-bold-left"></span>
          </a>
          <a class="control next" href="#" id="next">
              <span class="icomoon icon-arrow-bold-right"></span>
          </a>  
        </div>
    </div>  
        
</div>
