<div class="incluso-app album">
    <article class="album-starway">
      <section class="centered section-description">
        <h2 class="subtitle centered text-uppercase">Mi album</h2>
        <p class=" txt-renglon centered">Cada logo debe ser recolectado y aquí encontrarás los momentos mas especiales de tu viaje.</p>
        <a class="btn btn-icon-aside light centered">
          <div class="btn-icon">
              <span class="icomoon icon-share"></span>
          </div>
          <span>Compartir mi album</span>
        </a>

          
       
      </section>
      
      <!-- my avatar -->
      <section class="section-album avatar centered">
        <figure>
          <img src="assets/images/img-album-avatar.svg" alt="Avatar"/>
        </figure>
      </section>

    </article>      
</div>
