<div class="incluso-app step-dashboard comments-forum" id="site-wrapper">
  <article class="blueprint community">
    <section>
      <div class="txt-renglon centered txt-bigger"></div>
      <div class="txt-renglon txt-bigger" ng-bind-html="discussion.message"></div>
    </section>
    <section class="filter-section form">
        <span class="icomoon icon-list"></span>
        <select name="filter" class="form-control form-control-lg theme-default" ng-model="filter" ng-change="updateFilter();"> 
          <option value="" disabled>Filtrar contenido por...</option>
          <option value="default">Ver Todo</option>
          <option value="relevant">Relevancia</option> 
        </select>
        <span class="icomoon icon-arrow"></span>
    </section>
    <section class="txt-renglon distribuido">
      <a href="" class="icon-circle" ng-click="collapseCommunityButtomsTrigger('isTextCollapsed')" ng-class="{'active': !communityModals['isTextCollapsed']}">
        <span class="icomoon icon-text text-bigger"></span>
        <span class="arrow-up"></span>
      </a>
      <a href="" class="icon-circle" ng-click="collapseCommunityButtomsTrigger('isLinkCollapsed')" ng-class="{'active': !communityModals['isLinkCollapsed']}">
        <span class="icomoon icon-hyperlink"></span>
        <span class="arrow-up"></span>
      </a>
      <a href="" class="icon-circle" ng-click="collapseCommunityButtomsTrigger('isVideoCollapsed')" ng-class="{'active': !communityModals['isVideoCollapsed']}">
        <span class="icomoon icon-video-file"></span>
        <span class="arrow-up"></span>
      </a>
      <a href="" class="icon-circle" ng-click="collapseCommunityButtomsTrigger('isAttachmentCollapsed', 1)" ng-class="{'active': !communityModals['isAttachmentCollapsed']}">
        <span class="icomoon icon-attachment"></span>
        <span class="arrow-up"></span>
      </a>
    </section>
    <section class="modales">
      <div id="openModal1" class="modalDialog" collapse="communityModals['isTextCollapsed']">
        <div>    
          <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Agregar texto..." value="" ng-model="postTextValue"></textarea></div>
          <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="postText()">Compartir</a>
        </div>
      </div>
      <div id="openModal2" class="modalDialog" collapse="communityModals['isLinkCollapsed']">
        <div>
          <form name="postUrlForm">

          <div class="add"><span class="icomoon icon-edit"></span>
            <input type="url" name="urlToPost" placeholder="Agregar tu enlace..." ng-model="postLinkValue"  required /></div>
          <div class="error txt-renglon" ng-show="postUrlForm.urlToPost.$error.url">Link invalido, introduzca una URL con el formato http://exemplo.com </div>
          <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="postLink()" ng-disabled="!postUrlForm.urlToPost.$valid" >Compartir</a>
          </form>
        </div>
      </div>
      <div id="openModal3" class="modalDialog" collapse="communityModals['isVideoCollapsed']">
        <div>
          <div class="add"><span class="icomoon icon-edit"></span><input type="text" placeholder="Agregar ruta de tu peli..." value="" ng-model="postVideoValue" /></div>
          <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="postVideo()" >Compartir</a>
        </div>
      </div>

      <div id="openModal4" class="modalDialog" collapse="communityModals['isAttachmentCollapsed']">
        <div>
          <a href="#close" title="Close" class="close"></a>
          <div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Atachea algo..." value="" ng-model="postAttachmentValue" /></div>
          <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="postAttachment()" >Compartir</button>
        </div>
      </div>
    </section>
    <section class="wall">
      
      <div id="item{{$index}}" ng-repeat="p in posts">
        <div class="part post">
          <div class="author">
            <img ng-click="navigateTo('Profile/' + p.post_autor_id)" ng-if="p.picture_post_author" ng-src="{{p.picture_post_author + '?token=' + userToken}}" alt="author" /> 
            <img ng-click="navigateTo('Profile/' + p.post_autor_id)" ng-if="!p.picture_post_author" src="http://incluso.sieenasoftware.com/moodle/pluginfile.php/209/user/icon/f1" alt="user" />
            <div>
              <a class="user-alias" ng-click="navigateTo('Profile/' + p.post_autor_id)">{{p.post_author}} </a>
              <span>publicó:</span>
              <div>{{p.created * 1000 | date: "dd 'de' MMMM',' yyyy"}}</div>
            </div>
          </div>
          <div class="block">
            <span ng-switch="p.post_type">
              <span ng-switch-default ng-bind-html="p.message"></span>
              <span ng-switch-when="2"><span ng-bind-html="p.message | linky"></span></span>              
              <span ng-switch-when="3"><a ng-href="{{p.message}}"><span class="icomoon icon-video-file"></span></a></span>
              <span ng-switch-when="4"><a ng-href="{{p.message}}"><img src="{{p.fileurl + '?token=' + userToken}}"  alt="post" /> </a></span>
            </span>              
            <div class="popularity" ng-show="p.likes != 0" >A <span class="green">{{p.likes || 0}}</span> jóvenes les gusta esto
            </div>
          </div>
          <div id="item{{$index}}" ng-repeat="r in p.replies | limitTo: showedCommentsByPost['id' + p.post_id]">
            <div class="coment block">
              <img ng-click="navigateTo('Profile/' + r.post_autor_id)" ng-if="r.picture_post_author" ng-src="{{r.picture_post_author + '?token=' + userToken}}" alt="author" /> 
              <img ng-click="navigateTo('Profile/' + r.post_autor_id)" ng-if="!r.picture_post_author" src="http://incluso.sieenasoftware.com/moodle/pluginfile.php/209/user/icon/f1" alt="user" />
              <div>
                <a class="user-alias" ng-click="navigateTo('Profile/' + r.post_autor_id)">{{r.post_author}}</a>
                <span>comentó:</span>   
                <div>{{r.message}}</div>
              </div>
            </div>
          </div>
          <div class="coment block" ng-show="(showedCommentsByPost['id' + p.post_id] === 3 && p.replies.length > 3)" ng-click="showPreviousCommentsByPost(p.post_id)">
            <div class="vermas">
              <span class="icomoon icon-show-more"></span>
              Mostrar más comentarios...
            </div>
          </div>
          <div class="social">
            <div class="pink" ng-hide="p.liked >= 1" ng-click="likePost(p.post_id)">
              <span class="icomoon icon-like pink"></span> Me gusta              
            </div>
            <div ng-hide="p.liked == 0" ng-click="likePost(p.post_id)">
              <span class="icomoon icon-like"></span> Ya no me gusta
            </div>
            <div ng-click="isCommentModalCollapsed['id' + p.post_id] = !isCommentModalCollapsed['id' + p.post_id]">
              <span class="icomoon icon-comment"></span> Comentar              
            </div>
            <div ng-click="isReportedAbuseModalCollapsed['id' + p.post_id] = !isReportedAbuseModalCollapsed['id' + p.post_id]">
              <span class="icomoon icon-pinch"></span> Reportar
            </div>
          </div>
        </div>
        
        <section class="modales">
              <div id="openModal1" class="modalDialog" ng-show="isCommentModalCollapsed['id' + p.post_id]">
                  <div>
                      <span class="close"></span>
                      <div class="add" ><span class="icomoon icon-edit"></span><textarea placeholder="Escribe tus comentarios aquí..."  ng-model="replyText"></textarea></div>
  
                      <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="replyToPost(this, p.post_id, p.post_parent, $index)" >Compartir</a>
                  </div>
              </div>
              
              <div id="openModal5" class="modalDialog reportModal" ng-show="isReportedAbuseModalCollapsed['id' + p.post_id]">
                <div>
                  <a title="close" class="close"></a>
                  <div class="add">¿Reportar contenido abusivo?</div>
                  <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="reportPost(p.post_id)">Si</a>
                  <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="isReportedAbuseModalCollapsed['id' + p.post_id] = false">No</a>
                </div>
              </div>
              
              <div id="openModal6" class="modalDialog reportModal" ng-show="isReportedAbuseSentModalCollapsed['id' + p.post_id]">
                <div>
                  <a title="close" class="close"></a>
                  <div class="add">El contenido ha sido reportado exitosamente.</div>
                  <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="isReportedAbuseSentModalCollapsed['id' + p.post_id] = false">Ok</a>
                </div>
              </div>
        </section>
      </div>

      <section>
      <a class="btn btn-showmore btn-lg" role="button" ng-click="showMorePosts()" ng-show="morePendingPosts">
        <span class="icomoon icon-show-more"></span>Mostrar más publicaciones...
      </a>
    </section>
    <br>
    <section>
      <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="back()">Regresar</a>
    </section>

    </section>    
  </article>
</div>