<div class="incluso-app step-dashboard comments-forum" id="site-wrapper">
  <article class="blueprint community">
    <section>
      <div class="txt-renglon centered txt-bigger"></div>
      <div class="txt-renglon txt-bigger">Comparte ideas y gustos con el resto de la comunidad Incluso.</div>
    </section>
    <section class="filter-section form">
        <span class="icomoon icon-list"></span>
        <select name="filter" class="form-control form-control-lg theme-default" ng-model="filter">
          <option value="" disabled>Filtrar contenido por...</option>
          <option value="">Ver Todo</option>
          <option value="Obligatorio">Relevancia</option> 
        </select>
        <span class="icomoon icon-arrow"></span>
    </section>
    <section class="txt-renglon distribuido">
      <a href="#openModal1"><img src="assets/images/aa.svg"></a>
      <a href="#openModal2"><img src="assets/images/link.svg"></a>
      <a href="#openModal3"><img src="assets/images/play.svg"></a>
      <a href="#openModal4"><img src="assets/images/clip.svg"></a>
    </section>
    <section class="modales">
      <!-- <div id="openModal1" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close"></a>
          <div class="add"><span class="icomoon icon-edit"></span><input type="text" placeholder="Agregar texto..." value=""/></div>
          <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
        </div>        
      </div>

      <div id="openModal2" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close"></a>
          <div class="add"><span class="icomoon icon-edit"></span><input type="text" placeholder="Agregar tu enlace..." value=""/></div>
          <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
        </div>        
      </div>

      <div id="openModal3" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close"></a>
          <div class="add"><span class="icomoon icon-edit"></span><input type="text" placeholder="Agregar ruta de tu peli..." value=""/></div>
          <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
        </div>        
      </div>

      <div id="openModal4" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close"></a>
          <div class="add"><span class="icomoon icon-edit"></span><input type="text" placeholder="Atachea algo..." value=""/></div>
          <button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
        </div>        
      </div>  -->    
    </section>
    <section class="wall">
      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>GalacticGirl2015 <span>publicó:</span>
            <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          ¡Les comparto una foto que tomé!
          <img src="assets/images/avatar.svg">
          <div>A <span class="green">30</span> jóvenes les gusta esto</div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>
            CosmonautaDF <span>comentó:</span> 
            <div>Me gustó mucho tu foto :)</div>
          </div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-02.png">
          <div>
            Spaceboy95 <span>comentó:</span> 
            <div>Ahí salgo yooooo jajaja xD</div>
          </div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-03.png">
          <div>
            SaraPlanetaria22 <span>comentó:</span> 
            <div>Me gustó mucho tu foto :)</div>
          </div>
        </div>
        <div class="vermas">
          <span class="icomoon icon-show-more"></span>
          Mostrar más comentarios...
        </div>
        <div class="social">
          <div><span class="icomoon icon-like"></span> Me gusta</div>
          <div><span class="icomoon icon-comment"></span> Comenta</div>
          <div><span class="icomoon icon-required"></span> Reportar</div>
        </div>        
      </div>

      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>CosmonautaDF <span>publicó:</span>
            <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          Maecenas sed diam eget risus varius blandit sit amet non manga.<br>
          Maecenas faucibus mollis interdum.<br>Duis mollis, est non commodo luctus,
          nisi erat porttitor ligula amet.
          <div>A <span class="green">12</span> jóvenes les gusta esto</div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-02.png">
          <div>DianizPlanetario22 <span>comentó:</span>
            <div>Me gustó mucho tu post :)</div>
          </div>
        </div>
        <div class="social">
          <div><span class="icomoon icon-like"></span> Me gusta</div>
          <div><span class="icomoon icon-comment"></span> Comenta</div>
          <div><span class="icomoon icon-required"></span> Reportar</div>
        </div>
      </div>

      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>LorenaH829X <span>publicó:</span>
            <div>11 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          <i class="icomoon icon-hyperlink green"></i>
          <span>http://www.incluso.com.mx</span>
          <div>A <span class="green">tí y a 98</span> jóvenes les gusta esto</div>
        </div>
        <div class="social">
          <div class="social">
            <div><span class="icomoon icon-like"></span> Me gusta</div>
            <div><span class="icomoon icon-comment"></span> Comenta</div>
            <div><span class="icomoon icon-required"></span> Reportar</div>
        </div>
        </div>
      </div>

      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>Astronaura23 <span>publicó:</span>
            <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          ¡Les comparto una foto que tomé!
          <img src="assets/images/avatar.svg">
          <div>A <span class="green">30</span> jóvenes les gusta esto</div>
        </div>
        <div class="social">
          <div><span class="icomoon icon-like"></span> Me gusta</div>
          <div><span class="icomoon icon-comment"></span> Comenta</div>
          <div><span class="icomoon icon-required"></span> Reportar</div>
        </div>      
      </div>
    </section>
    <section>
      <button class="btn btn-default btn-lg btn-cnt" type="button">
        <span class="icomoon icon-show-more"></span>
        <span>Mostrar más publicaciones...</span>
      </button>
    </section>
  </article>
</div>