<div class="incluso-app step-dashboard comments-forum" id="site-wrapper">
  <article class="blueprint community">
    <section>
      <div class="txt-renglon centered txt-bigger"></div>
      <div class="txt-renglon txt-bigger">Comparte ideas y gustos con el resto de la comunidad Incluso.</div>
    </section>
    <section class="filter-section form">
        <span class="icomoon icon-list"></span>
        <select name="filter" class="form-control form-control-lg theme-default" ng-model="filter"> 
          <option value="" disabled>Filtrar contenido por...</option>
          <option value="">Ver Todo</option>
          <option value="relevancia">Relevancia</option> 
        </select>
        <span class="icomoon icon-arrow"></span>
    </section>
    <section class="txt-renglon distribuido">
      <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isTextCollapsed')" ng-class="{'active': !communityModals['isTextCollapsed']}">
        <span class="icomoon icon-text text-bigger"></span>
        <span class="arrow-up"></span>
      </a>
      <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isLinkCollapsed')" ng-class="{'active': !communityModals['isLinkCollapsed']}">
        <span class="icomoon icon-hyperlink"></span>
        <span class="arrow-up"></span>
      </a>
      <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isVideoCollapsed')" ng-class="{'active': !communityModals['isVideoCollapsed']}">
        <span class="icomoon icon-video-file"></span>
        <span class="arrow-up"></span>
      </a>
      <a href="" class="icon-circle" ng-click="collapseForumButtomsTrigger('isAttachmentCollapsed')" ng-class="{'active': !communityModals['isAttachmentCollapsed']}">
        <span class="icomoon icon-attachment"></span>
        <span class="arrow-up"></span>
      </a>
    </section>
    <section class="modales">
      <div id="openModal1" class="modalDialog" collapse="communityModals['isTextCollapsed']">
        <div>
          <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Agregar texto..." value=""></textarea></div>
          <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
        </div>        
      </div>
      <div id="openModal2" class="modalDialog" collapse="communityModals['isLinkCollapsed']">
        <div>        
          <div class="add"><span class="icomoon icon-edit"></span><input type="text" placeholder="Agregar tu enlace..." value=""></div>
          <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
        </div>        
      </div>
      <div id="openModal3" class="modalDialog" collapse="communityModals['isVideoCollapsed']">
        <div>
          <div class="add"><span class="icomoon icon-edit"></span><input type="text" placeholder="Agregar ruta de tu peli..." value=""></div>
          <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
        </div>        
      </div>
      <div id="openModal4" class="modalDialog" collapse="communityModals['isAttachmentCollapsed']">
        <div>
          <div class="add"><form><input type="file" placeholder="Atachea algo..." value="Buscar"></form></div>
          <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
        </div>        
      </div>     
    </section>
    <section class="wall">
      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>GalacticGirl2015 <span>publicó:</span>
            <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          ¡Les comparto una foto que tomé!
          <img src="assets/images/avatar.svg">
          <div class="popularity">A <span class="green">30</span> jóvenes les gusta esto</div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>
            CosmonautaDF <span>comentó:</span> 
            <div>Me gustó mucho tu foto :)</div>
          </div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-02.png">
          <div>
            Spaceboy95 <span>comentó:</span> 
            <div>Ahí salgo yooooo jajaja xD</div>
          </div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-03.png">
          <div>
            SaraPlanetaria22 <span>comentó:</span> 
            <div>Me gustó mucho tu foto :)</div>
          </div>
        </div>
        <div class="coment block">
          <div class="vermas">
            <span class="icomoon icon-show-more"></span>
            Mostrar más comentarios...
          </div>
        </div>
        <div class="social">
          <div><span class="icomoon icon-like"></span> Me gusta</div>
          <div class="hidden"><span class="icomoon icon-like"></span> Ya no me gusta</div>
          <div><span class="icomoon icon-comment"></span> Comentar</div>
          <div><span class="icomoon icon-pinch"></span> Reportar</div>
        </div>        
      </div>
      <section class="modales">
        <div id="openModal1" class="modalDialog" collapse="communityModals['isTextCollapsed']">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Escribe tus comentarios aquí..."></textarea></div>
            <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
          </div>
        </div>
      </section>

      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>CosmonautaDF <span>publicó:</span>
            <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          Maecenas sed diam eget risus varius blandit sit amet non manga.<br>
          Maecenas faucibus mollis interdum.<br>Duis mollis, est non commodo luctus,
          nisi erat porttitor ligula amet.
          <div class="popularity">A <span class="green">12</span> jóvenes les gusta esto</div>
        </div>
        <div class="coment block">
          <img src="assets/images/img-avatar-dummy-02.png">
          <div>DianizPlanetario22 <span>comentó:</span>
            <div>Me gustó mucho tu post :)</div>
          </div>
        </div>
        <div class="social">
          <div><span class="icomoon icon-like"></span> Me gusta</div>
          <div class="hidden"><span class="icomoon icon-like"></span> Ya no me gusta</div>
          <div><span class="icomoon icon-comment"></span> Comentar</div>
          <div><span class="icomoon icon-pinch"></span> Reportar</div>
        </div>
      </div>
      <section class="modales">
        <div id="openModal1" class="modalDialog" collapse="communityModals['isTextCollapsed']">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Escribe tus comentarios aquí..."></textarea></div>
            <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
          </div>
        </div>
      </section>

      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>LorenaH829X <span>publicó:</span>
            <div>11 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          <span class="icomoon icon-hyperlink green"></span>
          <span>http://www.incluso.com.mx</span>
          <div>A <span class="green">tí y a 98</span> jóvenes les gusta esto</div>
        </div>
        <div class="social">
          <div><span class="icomoon icon-like"></span> Me gusta</div>
          <div class="hidden"><span class="icomoon icon-like"></span> Ya no me gusta</div>
          <div><span class="icomoon icon-comment"></span> Comentar</div>
          <div><span class="icomoon icon-pinch"></span> Reportar</div>
        </div>
      </div>
      <section class="modales">
        <div id="openModal1" class="modalDialog" collapse="communityModals['isTextCollapsed']">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Escribe tus comentarios aquí..."></textarea></div>
            <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
          </div>
        </div>
      </section>

      <div class="part">
        <div class="author">
          <img src="assets/images/img-avatar-dummy-01.png">
          <div>Astronaura23 <span>publicó:</span>
            <div>16 Junio 2015</div>
          </div>
        </div>
        <div class="block">
          ¡Les comparto una foto que tomé!
          <img src="assets/images/avatar.svg">
          <div>A <span class="green">30</span> jóvenes les gusta esto</div>
        </div>
        <div class="social">
          <div><span class="icomoon icon-like"></span> Me gusta</div>
          <div class="hidden"><span class="icomoon icon-like"></span> Ya no me gusta</div>
          <div><span class="icomoon icon-comment"></span> Comentar</div>
          <div><span class="icomoon icon-pinch"></span> Reportar</div>
        </div>      
      </div>
      <section class="modales">
        <div id="openModal1" class="modalDialog" collapse="communityModals['isTextCollapsed']">
          <div>
            <a href="#close" title="Close" class="close"></a>
            <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Escribe tus comentarios aquí..."></textarea></div>
            <a class="btn btn-primary btn-lg btn-cnt" role="button">Compartir</a>
          </div>
        </div>
      </section>

      <section>
      <a class="btn btn-showmore btn-lg" role="button">
        <span class="icomoon icon-show-more"></span>Mostrar más publicaciones...
      </a>
    </section>
    <br>
    <section>
      <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="back()">Regresar</a>
    </section>

    </section>    
  </article>
</div>