<div class="incluso-app profile edit-profile" id="site-wrapper">

	<div class="alert alert-warning" role="alert" ng-show="!model.modelState.isValid && model.modelState.errorMessages.length > 0" ng-cloak>
		<div class="alert-message">
			<div class="icomoon icon-warning"></div>
			<p>¡Error! Verifica tus datos</p>
			<ul ng-if="model.modelState.errorMessages.length > 0">
				<li ng-repeat="msg in model.modelState.errorMessages">{{msg}}</li>
			</ul>
		</div>
	</div>

	<article>
		<section class="component profile-dashboard">
			<div>
				<figure>
					<img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
				</figure>
			</div>
			<div>
				<div class="user-avatar">
					<figure>
						<img ng-src="{{model.profileimageurl}}" alt="" class="img-responsive" />
						<figcaption ng-bind="model.rank >= 0 ? model.rank : '?'"></figcaption>
					</figure>
					<button type="button" id="editProfile" ng-click="avatar()">
						<span class="icomoon icon-edit"></span>
					</button>
				</div>
			</div>
			<div>
				<div class="profile-data">
					<h4 class="user-name" ng-bind="model.alias"></h4>
					<p class="user-points">
						<span ng-bind="model.stars"></span>
						<span class="icomoon icon-star"></span>
					</p>
				</div>
				<div class="profile-settings">
					<button class="btn btn-icon-aside left active" ng-click="save();">
						<div class="btn-icon">
							<span class="icomoon icon-settings"></span>
						</div>
						<span for="">Guardar</span>
					</button>

					<button class="btn btn-icon-aside right">
						<div class="btn-icon">
							<span class="icomoon icon-lock"></span>
						</div>
						<span for="">Privacidad</span>
					</button>
				</div>
			</div>
		</section>

		<section class="component profile-options">
			<form action="" name="editForm">
				<div class="pages">
					<div class="page" ng-class="currentPage == 1 ? 'active' : ''">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<ul class="list-group separate-items">
										<li class="list-group-item" ng-click="navigateToPage(2)">
											<a href="">
												<span class="icomoon icon-information"></span>
												<span>Mi información</span>
												<span class="icomoon icon-star"></span>
												<span class="icomoon icon-arrow-slim-right"></span>
											</a>
										</li>

										<li class="list-group-item" ng-click="navigateToPage(5)">
											<a href="">
												<span class="icomoon icon-document"></span>
												<span>Mi personalidad</span>
												<span class="icomoon icon-star"></span>
												<span class="icomoon icon-arrow-slim-right"></span>
											</a>
										</li>

										<li class="list-group-item hidden" ng-click="navigateToPage(8)">
											<a href="">
												<span class="icomoon icon-required"></span>
												<span>Socioeconómicos</span>
												<span class="icomoon icon-star"></span>
												<span class="icomoon icon-arrow-slim-right"></span>
											</a>
										</li>

										<li class="list-group-item hidden" ng-click="navigateToPage(10)">
											<a href="">
												<span class="icomoon icon-badge"></span>
												<span>Uso tecnología</span>
												<span class="icomoon icon-star"></span>
												<span class="icomoon icon-arrow-slim-right"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="page" ng-class="currentPage == 2 ? 'active' : ''">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<div class="panel panel-default panel-form">
										<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
											<span class="icomoon icon-arrow-slim-left"></span>
											<span class="icomoon icon-information"></span>
											<h3 class="panel-title">Mi información</h3>
										</div>
										<div class="panel-body">
											<fieldset class="my-profile-form">

												<div class="checkbox checkbox-custom">
													<label>
														<input type="checkbox" ng-model="model.allowToSendAdvertisement" name="allowToSendAdvertisement" />
														<span>Deseo recibir promoción y publicidad</span>
													</label>
												</div>

												<section>
													<h4>Datos generales</h4>
													<div class="form-group theme-form">
														<div class="form-group-control">							
															<input 
															type="text" 
															name="username" 
															class="form-control form-control-lg theme-form" 
															placeholder="Nombre de Usuario" 
															ng-model="model.username" readonly />
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input 
															type="text" 
															name="firstname" 
															class="form-control form-control-lg theme-form" 
															placeholder="Nombre(s)" 
															ng-model="model.firstname" required />
														</div>
													</div>								

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input 
															type="text" 
															name="lastname" 
															class="form-control form-control-lg theme-form" 
															placeholder="Apellido paterno" 
															ng-model="model.lastname" required />
														</div>
													</div>							

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input 
															type="text" 
															name="mothername" 
															class="form-control form-control-lg theme-form" 
															placeholder="Apellido materno" 
															ng-model="model.mothername"required />
														</div>
													</div>								

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input 
															type="text" 
															name="alias" 
															class="form-control form-control-lg theme-form" 
															placeholder="Alias" 
															ng-model="model.alias" required />
														</div>
													</div>							

													<div class="form-group theme-form">
														<div class="form-group-control custom-caret-wrapper">
															<select 
															class="form-control form-control-lg theme-form" 
															name="gender" 
															ng-model="model.gender" 
															ng-options="item for item in genderItems" 
															ng-init="model.gender == null" 
															ng-class="{'selected': model.gender.length != 0 && model.gender != null}" required>
																<option value="" ng-disabled="!!model.gender">Sexo {{model.gender == null}}</option>
															</select>
															<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control custom-caret-wrapper">
															<select 
															class="form-control form-control-lg theme-form"
															ng-model="model.birthCountry" 
															ng-options="item for item in countryItems" 
															ng-init="model.birthCountry == null"
															ng-class="{'selected': model.birthCountry.length != 0 && model.birthCountry != null}">
																<option value="" ng-disabled="!!model.birthCountry">País de nacimiento {{model.birthCountry == null}}</option>
															</select>
															<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input   
															class="form-control form-control-lg theme-form" 
															placeholder="Fecha de nacimiento" 
															type="date"
															name="date"									
															ng-model="birthdate_Dateformat" 
															ng-change="birthdayChanged(this)" 
															minlength="10" 
															maxlength="10" required />
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input type="text" class="form-control form-control-lg theme-form" placeholder="Edad" ng-model="model.age" readonly/>
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control custom-caret-wrapper">
															<select 
															class="form-control form-control-lg theme-form"
															ng-model="model.maritalStatus" 
															ng-options="item for item in maritalStatusItems" 
															ng-init="model.maritalStatus == null" 
															ng-class="{'selected': model.maritalStatus.length != 0 && model.maritalStatus != null}">
																<option value="" ng-disabled="!!model.maritalStatus">Estado civil {{model.maritalStatus == null}}</option>
															</select>
															<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
														</div>
													</div>							
												</section>

												<section>
													<h4>Educación</h4>
													<ul class="block-list">
														<li ng-repeat="s in model.studies">

															<div class="form-group theme-form">
																<h5>
																	<span>Estudio {{model.studies.indexOf(s) + 1}}</span>
																	<button class="btn btn-circle" ng-click="deleteStudy($index);">
																		<span class="icomoon icon-cross"></span>
																	</button>
																</h5>

																<div class="form-group-control custom-caret-wrapper">
																	<select 
																	class="form-control form-control-lg theme-form" 
																	ng-model="model.studies[$index].school" 
																	ng-options="item for item in studiesList" 
																	ng-init="model.studies == null" 
																	ng-class="{'selected': model.studies[$index].school.length != 0 && model.studies[$index].school != null}">
																		<option value="" ng-disabled="!!model.studies">Nivel {{model.studies == null}}</option>
																	</select>
																	<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
																</div>

																<div class="form-group-control custom-caret-wrapper">
																	<select 
																	class="form-control form-control-lg theme-form" 
																	ng-model="model.studies[$index].levelOfStudies" 
																	ng-options="item for item in educationStatusList" 
																	ng-init="model.studies == null"
																	ng-class="{'selected': model.studies[$index].levelOfStudies.length != 0 && model.studies[$index].levelOfStudies != null}">
																		<option value="" ng-disabled="!!model.studies">Estado {{model.studies == null}}</option>
																	</select>
																	<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
																</div>
															</div>
														</li>
													</ul>
													<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addStudy();">
														<span class="icomoon icon-plus"></span>Agregar nuevo estudio...
													</button>
												</section>

												<div class="page-number">
													<p class="text-center">
														<span>1</span>
														<span>/</span>
												 		<span>3</span>
													</p>
											 	</div>

											 	<div class="actions">
											 		<div class="button-group page-controls">
												 		<button type="button" class="btn btn-primary btn-lg control left" disabled>
															<span class="icomoon icon-arrow-slim-left"></span>
														</button>
														<button type="button" class="btn btn-primary btn-lg btn-block action" ng-click="save()">Guardar</button>
														<button type="button" ng-disabled="isRegistered" class="btn btn-primary btn-lg control right" ng-click="navigateToPage(3)">
															<span class="icomoon icon-arrow-slim-right"></span>
														</button>
													</div>
													<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
											 	</div>

											</fieldset>
						  				</div>
									</div>
					  			</div>
							</div>
				  		</div>
					</div>

					<div class="page " ng-class="currentPage == 3 ? 'active' : ''">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">

									<div class="panel panel-default panel-form">
										<div class="panel-heading with-icons">
											<span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
											<span class="icomoon icon-information"></span>
											<h3 class="panel-title">Mi información</h3>
										</div>
										<div class="panel-body">
											<fieldset class="my-profile-form">

												<section>
													<h4>Dirección</h4>

													<div class="form-group theme-form">
														<div class="form-group-control custom-caret-wrapper">
															<select 
																class="form-control form-control-lg theme-form" 
																ng-model="model.address.country" 
																ng-options="item for item in countryItems" 
																ng-init="model.address.country == null" 
																ng-class="{'selected': model.address.country.length != 0 && model.address.country != null}">
																<option value="" ng-disabled="!!model.address.country">País {{model.address == null}}</option>
															</select>
															<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control custom-caret-wrapper">
															<select 
																class="form-control form-control-lg theme-form" 
																ng-model="model.address.state" 
																ng-options="item for item in stateItems" 
																ng-init="model.address.state == null" 
																ng-class="{'selected': model.address.state.length != 0 && model.address.state != null}">
																<option value="" ng-disabled="!!model.address.state">Estado {{model.address == null}}</option>
															</select>
															<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
														</div>
													</div>															

													<div class="form-group theme-form">
														<div class="form-group-control custom-caret-wrapper">
															<select 
																class="form-control form-control-lg theme-form" 
																ng-model="model.address.city" 
																ng-options="item for item in cityItems" 
																ng-init="model.address.city == null"
																ng-class="{'selected': model.address.city.length != 0 && model.address.city != null}">
																<option value="" ng-disabled="!!model.address.city">Ciudad {{model.address == null}}</option>
															</select>
															<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input 
																type="text" 
																class="form-control form-control-lg theme-form" 
																placeholder="Municipio / Delegación" 
																ng-model="model.address.town" />
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input type="text" class="form-control form-control-lg theme-form" placeholder="Código Postal" ng-model="model.address.postalCode" />
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input type="text" class="form-control form-control-lg theme-form" placeholder="Calle" ng-model="model.address.street" />
														</div>
													</div>

													<div class="form-group theme-form container">
														<div class="row">
															<div class="col-xs-6">
																<div class="form-group-control">
																	<input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Ext." ng-model="model.address.num_ext" />
																</div>
															</div>

															<div class="col-xs-6">
																<div class="form-group-control">
																	<input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Int." ng-model="model.address.num_int" />
																</div>
															</div>
														</div>
													</div>

													<div class="form-group theme-form">
														<div class="form-group-control">
															<input type="text" class="form-control form-control-lg theme-form" placeholder="Colonia" ng-model="model.address.colony" />
														</div>
													</div>
												</section>

												<section>
													<h4>Teléfono</h4>
													<ul class="block-list">
														<li ng-repeat="p in model.phones">
															<div class="form-group theme-form">
																<h5>
																	<span>Teléfono {{model.phones.indexOf(p) + 1}}</span>
																	<button class="btn btn-circle" ng-click="deletePhone($index);">
																		<span class="icomoon icon-cross"></span>
																	</button>
																</h5>
																<div class="form-group-control">
																	<input type="text" class="form-control form-control-lg theme-form" placeholder="Número Telefónico" ng-model="model.phones[$index]" />
																</div>
															</div>
														</li>
													</ul>

													<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addPhone();">
														<span class="icomoon icon-plus"></span>Agregar número...
													</button>
												</section>

												<section>
													<h4>Redes sociales</h4>
													<ul class="block-list">
														<li ng-repeat="sn in model.socialNetworks">
															<div class="form-group theme-form">
																<h5>
																	<span>Red Social {{model.socialNetworks.indexOf(sn) + 1}}</span>
																	<button class="btn btn-circle" ng-click="deleteSocialNetwork($index);">
																		<span class="icomoon icon-cross"></span>
																	</button>
																</h5>
																<div class="form-group-control custom-caret-wrapper">
																	<select 
																		class="form-control form-control-lg theme-form"
																		ng-model="model.socialNetworks[$index].socialNetwork" 
																		ng-options="item for item in socialNetworksList" 
																		ng-init="model.socialNetwork == null" 
																		ng-class="{'selected': model.socialNetworks[$index].socialNetwork.length != 0 && model.socialNetworks[$index].socialNetwork != null}">
																		<option value="" ng-disabled="!!model.socialNetwork">Red social</option>
																	</select>
																	<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
																</div>
																<div class="form-group-control">
																	<input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre Red social" ng-model="model.socialNetworks[$index].socialNetworkId" />
																</div>
															</div>
														</li>
													</ul>
													<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addSocialNetwork();">
														<span class="icomoon icon-plus"></span>Agregar nueva red...
													</button>
												</section>

												<div class="page-number">
													<p class="text-center">
														<span>2</span>
														<span>/</span>
														<span>3</span>
													</p>
												</div>

												<div class="actions">
													<div class="button-group page-controls">
														<button type="button" class="btn btn-primary btn-lg control left" ng-disabled="isRegistered" ng-click="navigateToPage(2)">
															<span class="icomoon icon-arrow-slim-left"></span>
														</button>
														<button type="button" class="btn btn-primary btn-lg btn-block action" ng-click="save()">Guardar</button>
														<button type="button" class="btn btn-primary btn-lg control right" ng-disabled="isRegistered" ng-click="navigateToPage(4)">
															<span class="icomoon icon-arrow-slim-right"></span>
														</button>
													</div>
													<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="page " ng-class="currentPage == 4 ? 'active' : ''">
				 		<div class="container-fluid">
							<div class="row">
					  			<div class="col-xs-12">
									<div class="panel panel-default panel-form">
						  				<div class="panel-heading with-icons">
											<span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
											<span class="icomoon icon-information"></span>
											<h3 class="panel-title">Mi información</h3>
						  				</div>
						  				<div class="panel-body">
						  					<fieldset class="my-profile-form">
						  						<section>
						  							<h4>Familiares Compartamos</h4>
						  							<ul class="block-list">
						  								<li ng-repeat="fc in model.familiaCompartamos">
						  									<div class="form-group theme-form">
						  										<h5>
						  											<span>Familiar Compartamos {{model.familiaCompartamos.indexOf(fc) + 1}}</span>
						  											<button class="btn btn-circle" ng-click="deleteFamiliaCompartamos($index);">
						  												<span class="icomoon icon-cross"></span>
						  											</button>
						  										</h5>

						  										<div class="form-group-control custom-caret-wrapper">
						  											<input type="text" class="form-control form-control-lg theme-form" placeholder="No. Cliente Compartamos" ng-model="model.familiaCompartamos[$index].idClient" />
						  										</div>
						  										<div class="form-group-control custom-caret-wrapper">
						  											<input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre Completo" ng-model="model.familiaCompartamos[$index].relativeName" />
						  										</div>
																<div class="form-group-control custom-caret-wrapper">
																	<select 
																		class="form-control form-control-lg theme-form" 
																		ng-model="model.familiaCompartamos[$index].relationship" 
																		ng-options="item for item in familiaCompartamosList" 
																		ng-init="model.familiaCompartamos.relationship == null" 
																		ng-class="{'selected': model.familiaCompartamos[$index].relationship.length != 0 && model.familiaCompartamos[$index].relationship != null}">
																		<option value="" ng-disabled="!!model.familiaCompartamos.relationship">Parentesco</option>
																	</select>
																	<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
																</div>
															</div>
														</li>
													</ul>
													<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addFamiliaCompartamos();">
														<span class="icomoon icon-plus"></span>Agregar familiar...
													</button>
												</section>
												
												<div class="page-number">
													<p class="text-center">
														<span>3</span>
														<span>/</span>
														<span>3</span>
													</p>
												</div>

												<div class="actions">
													<div class="button-group page-controls">
														<button type="button" class="btn btn-primary btn-lg control left" ng-disabled="isRegistered" ng-click="navigateToPage(3)">
															<span class="icomoon icon-arrow-slim-left"></span>
														</button>
														<button type="button" class="btn btn-primary btn-lg btn-block action" ng-click="save()">Guardar</button>
														<button type="button" class="btn btn-primary btn-lg control right" disabled>
															<span class="icomoon icon-arrow-slim-right"></span>
														</button>
													</div>
													<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
												</div>
											</fieldset>
										</div>
									</div>
					  			</div>
							</div>
				  		</div>
					</div>

					<div class="page" ng-class="currentPage == 5 ? 'active' : ''">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">

									<div class="panel panel-default panel-form">
										<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
											<span class="icomoon icon-arrow-slim-left"></span>
											<span class="icomoon icon-information"></span>
											<h3 class="panel-title">Mi personalidad</h3>
										</div>
										<div class="panel-body">
											<fieldset class="my-profile-form">
												<h5>Mis gustos</h5>
												<section>
													<h4>Mis deportes</h4>
													<ul class="block-list">
														<li ng-repeat="sn in model.favoriteSports track by $index">
															<div class="form-group theme-form">
																<h5>
																	<span>Deporte {{model.favoriteSports.indexOf(sn) + 1}}</span>
																	<button class="btn btn-circle" ng-click="deleteFavoriteSports($index);">
																		<span class="icomoon icon-cross"></span>
																	</button>
																</h5>
																<div class="form-group-control custom-caret-wrapper">
																	<select 
																		class="form-control form-control-lg theme-form" 
																		ng-model="model.favoriteSports[$index]" 
																		ng-options="item for item in favoritSportsList" 
																		ng-init="model.favoriteSports == null" 
																		ng-class="{'selected': model.favoriteSports[$index].length != 0 && model.favoriteSports[$index] != null}">
																		<option value="" ng-disabled="!!model.favoriteSports">Deporte</option>
																	</select>
																	<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
																</div>
															</div>
														</li>
													</ul>
													<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addFavoriteSports();">
														<span class="icomoon icon-plus"></span>Agregar deporte...
													</button>
												</section>

												<section>
													<h4>Actividades artísticas</h4>
													<ul class="block-list">
														<li ng-repeat="s in model.artisticActivities">
															<div class="form-group theme-form">
																<h5>
																	<span>Actividad {{model.artisticActivities.indexOf(s) + 1}}</span>
																	<button class="btn btn-circle" ng-click="deleteArtisticActivities($index);">
																		<span class="icomoon icon-cross"></span>
																	</button>
																</h5>
																<div class="form-group-control custom-caret-wrapper">
																	<select 
																		class="form-control form-control-lg theme-form" 
																		ng-model="model.artisticActivities[$index]" 
																		ng-options="item for item in artisticActivitiesList" 
																		ng-init="model.artisticActivities == null" 
																		ng-class="{'selected': model.artisticActivities[$index].length != 0 && model.artisticActivities[$index] != null}">
																		<option value="" ng-disabled="!!model.artisticActivities">Actividades</option>
																	</select>
																	<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
																</div>
															</div>
														</li>
													</ul>
													<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addArtisticActivities();">
														<span class="icomoon icon-plus"></span>Agregar actividad...
													</button>
												</section>

												<section>
													<h4>Hobbies</h4>
													<ul class="block-list">
														<li ng-repeat="s in model.hobbies">
															<div class="form-group theme-form">
																<h5>
																	<span>Hobbie {{model.hobbies.indexOf(s) + 1}}</span>
																	<button class="btn btn-circle" ng-click="deleteHobbies($index);">
																		<span class="icomoon icon-cross"></span>
																	</button>
																</h5>
																<div class="form-group-control custom-caret-wrapper">
																	<select 
																		class="form-control form-control-lg theme-form" 
																		ng-model="model.hobbies[$index]" 
																		ng-options="item for item in hobbiesList" 
																		ng-init="model.hobbies == null" 
																		ng-class="{'selected': model.hobbies[$index].length != 0 && model.hobbies[$index] != null}">
																		<option value="" ng-disabled="!!model.hobbies">Hobbies</option>
																	</select>
																	<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
																</div>
															</div>
														</li>
													</ul>
													<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addHobbies();">
														<span class="icomoon icon-plus"></span>Agregar hobbie...
													</button>
												</section>

												<div class="page-number">
													<p class="text-center">
														<span>1</span>
														<span>/</span>
														<span>3</span>
													</p>
												</div>

												<div class="actions">
													<div class="button-group page-controls">
														<!-- <button type="button" class="btn btn-primary btn-lg control left" ng-disabled="isRegistered" ng-click="navigateToPage(3)">
															<span class="icomoon icon-arrow-slim-left"></span>
														</button> -->
														<button type="button" class="btn btn-primary btn-lg control left" disabled>
															<span class="icomoon icon-arrow-slim-left"></span>
														</button>
														<button type="button" class="btn btn-primary btn-lg btn-block action" ng-click="save()">Guardar</button>
														<!-- <button type="button" class="btn btn-primary btn-lg control right" disabled>
															<span class="icomoon icon-arrow-slim-right"></span>
														</button> -->
														<button type="button" class="btn btn-primary btn-lg control right" ng-disabled="isRegistered" ng-click="navigateToPage(6)">
															<span class="icomoon icon-arrow-slim-right"></span>
														</button>													
													</div>
													<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
												</div>												
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				<div class="page" ng-class="currentPage == 6 ? 'active' : ''">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">

								<div class="panel panel-default panel-form">
									<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
										<span class="icomoon icon-arrow-slim-left"></span>
										<span class="icomoon icon-information"></span>
										<h3 class="panel-title">Mi personalidad</h3>
									</div>
									<div class="panel-body">
										<fieldset class="my-profile-form">
											<h5>Mis cualidades</h5>
											<section>
												<h4>Talentos</h4>
												<ul class="block-list">
													<li ng-repeat="s in model.talents">
														<div class="form-group theme-form">
															<h5>
																<span>Talento {{model.talents.indexOf(s) + 1}}</span>
																<button class="btn btn-circle" ng-click="deleteTalents($index);">
																	<span class="icomoon icon-cross"></span>
																</button>
															</h5>
															<div class="form-group-control custom-caret-wrapper">
																<select 
																	class="form-control form-control-lg theme-form" 
																	ng-model="model.talents[$index]" 
																	ng-options="item for item in talentsList" 
																	ng-init="model.talents == null" 
																	ng-class="{'selected': model.talents[$index].length != 0 && model.talents[$index] != null}">
																	<option value="" ng-disabled="!!model.talents">Talentos</option>
																</select>
																<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
															</div>
														</div>
													</li>
												</ul>
												<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addTalents();">
													<span class="icomoon icon-plus"></span>Agregar talento...
												</button>
											</section>

											<section>
												<h4>Valores</h4>
												<ul class="block-list">
													<li ng-repeat="s in model.values">
														<div class="form-group theme-form">
															<h5>
																<span>Valor {{model.values.indexOf(s) + 1}}</span>
																<button class="btn btn-circle" ng-click="deleteValue($index);">
																	<span class="icomoon icon-cross"></span>
																</button>
															</h5>
															<div class="form-group-control custom-caret-wrapper">
																<select 
																	class="form-control form-control-lg theme-form" 
																	ng-model="model.values[$index]" 
																	ng-options="item for item in valuesList" 
																	ng-init="model.values == null" 
																	ng-class="{'selected': model.values[$index].length != 0 && model.values[$index] != null}">
																	<option value="" ng-disabled="!!model.values">Valores</option>
																</select>
																<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
															</div>
														</div>
													</li>
												</ul>
												<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addValue();">
													<span class="icomoon icon-plus"></span>Agregar valor...
												</button>
											</section>

											<section>
												<h4>Habilidades</h4>
												<ul class="block-list">
													<li ng-repeat="s in model.habilities">
														<div class="form-group theme-form">
															<h5>
																<span>Habilidad {{model.habilities.indexOf(s) + 1}}</span>
																<button class="btn btn-circle" ng-click="deleteHabilitie($index);">
																	<span class="icomoon icon-cross"></span>
																</button>
															</h5>
															<div class="form-group-control custom-caret-wrapper">
																<select 
																	class="form-control form-control-lg theme-form"
																	ng-model="model.habilities[$index]" 
																	ng-options="item for item in habilitiesList" 
																	ng-init="model.habilities == null" 
																	ng-class="{'selected': model.habilities[$index].length != 0 && model.habilities[$index] != null}">
																	<option value="" ng-disabled="!!model.habilities">Habilidades</option>
																</select>
																<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
															</div>
														</div>
													</li>
												</ul>
												<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addHabilitie();">
													<span class="icomoon icon-plus"></span>Agregar habilidad...
												</button>
											</section>

											<div class="page-number">
												<p class="text-center">
													<span>2</span>
													<span>/</span>
													<span>3</span>
												</p>
											</div>

											<div class="actions">
												<div class="button-group page-controls">
														<button type="button" class="btn btn-primary btn-lg control left" ng-disabled="isRegistered" ng-click="navigateToPage(5)">
															<span class="icomoon icon-arrow-slim-left"></span>
														</button>
														<button type="button" class="btn btn-primary btn-lg btn-block action" ng-click="save()">Guardar</button>
														<button type="button" class="btn btn-primary btn-lg control right" ng-disabled="isRegistered" ng-click="navigateToPage(7)">
															<span class="icomoon icon-arrow-slim-right"></span>
														</button>
												</div>
												<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
											</div>
										
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="page" ng-class="currentPage == 7 ? 'active' : ''">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">

								<div class="panel panel-default panel-form">
									<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
										<span class="icomoon icon-arrow-slim-left"></span>
										<span class="icomoon icon-information"></span>
										<h3 class="panel-title">Mi personalidad</h3>
									</div>
									<div class="panel-body">
										<fieldset class="my-profile-form">
											<h5>A quién admiro</h5>
											<section>
												<h4>Personajes</h4>
												<ul class="block-list">
													<li ng-repeat="p in model.inspirationalCharacters">
														<div class="form-group theme-form">
															<h5>
																<span>Personaje {{model.inspirationalCharacters.indexOf(p) + 1}}</span>
																<button class="btn btn-circle" ng-click="deleteInspirationalCharacter($index);">
																	<span class="icomoon icon-cross"></span>
																</button>
															</h5>
															<div class="form-group-control custom-caret-wrapper">
																<select 
																	class="form-control form-control-lg theme-form" 
																	ng-model="model.inspirationalCharacters[$index].characterType" 
																	ng-options="item for item in inspirationalCharactersList" 
																	ng-init="model.inspirationalCharacters == null" 
																	ng-class="{'selected': model.inspirationalCharacters[$index].characterType.length != 0 && model.inspirationalCharacters[$index].characterType != null}">
																	<option value="" ng-disabled="!!model.inspirationalCharacters">Tipo de personaje</option>
																</select>
																<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
															</div>

															<div class="form-group-control custom-caret-wrapper">
																<input 
																type="text" 
																class="form-control form-control-lg theme-form"
																placeholder="Nombre Personaje"
																ng-model="model.inspirationalCharacters[$index].characterName" />
															</div>
														</div>
													</li>
												</ul>
												<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addInspirationalCharacter();">
													<span class="icomoon icon-plus"></span>Agregar personaje...
												</button>
												
												<div class="page-number">
													<p class="text-center">
														<span>3</span>
														<span>/</span>
														<span>3</span>
													</p>
												</div>

												<div class="actions">
													<div class="button-group page-controls">
														<button type="button" class="btn btn-primary btn-lg control left" ng-disabled="isRegistered" ng-click="navigateToPage(6)">
															<span class="icomoon icon-arrow-slim-left"></span>
														</button>
														<button type="button" class="btn btn-primary btn-lg btn-block action" ng-click="save()">Guardar</button>
														<button type="button" class="btn btn-primary btn-lg control right" disabled>
															<span class="icomoon icon-arrow-slim-right"></span>
														</button>
													</div>
													<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
												</div>
											</section>
										</fieldset>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="page" ng-class="currentPage == 8 ? 'active' : ''">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default panel-form">
									<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
										<span class="icomoon icon-arrow-slim-left"></span>
										<span class="icomoon icon-information"></span>
										<h3 class="panel-title">Socioeconómicos</h3>
									</div>
									<div class="panel-body">
										<fieldset class="my-profile-form">
											<section>
												<h4>Vivienda</h4>
												<div class="form-group theme-form">
													<div class="form-group-control custom-caret-wrapper">
														<select 
															class="form-control form-control-lg theme-form" 
															ng-model="model.iLiveWith" 
															ng-options="item for item in iLiveWithList" 
															ng-init="model.iLiveWith == null" 
															ng-class="{'selected': model.iLiveWith.length != 0 && model.iLiveWith != null}">
															<option value="" ng-disabled="!!model.iLiveWith">Vivo con</option>
														</select>
														<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
													</div>
												</div>
											</section>

											<section>
												<h4>Mi actividad principal</h4>
												<div class="form-group theme-form">
													<div class="form-group-control custom-caret-wrapper">
														<select 
															class="form-control form-control-lg theme-form" 
															ng-model="model.mainActivity[$index]" 
															ng-options="item for item in mainActivityList" 
															ng-init="model.mainActivity == null" 
															ng-class="{'selected': model.mainActivity[$index].length != 0 && model.mainActivity[$index] != null}">
															<option value="" ng-disabled="!!model.mainActivity">Actividad</option>
														</select>
														<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
													</div>
												</div>
											</section>

											<section>
												<h4>Actualmente estudio</h4>
												<div class="form-group theme-form">
													<div class="form-group-control custom-caret-wrapper">
														<select 
															class="form-control form-control-lg theme-form" 
															ng-model="model.level[$index]" 
															ng-options="item for item in levelList" 
															ng-init="model.level == null" 
															ng-class="{'selected': model.level[$index].length != 0 && model.level[$index] != null}">
															<option value="" ng-disabled="!!model.level">Nivel</option>
														</select>
														<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
													</div>
													
													<div class="form-group-control custom-caret-wrapper">
														<select 
															class="form-control form-control-lg theme-form" 
															ng-model="model.grade[$index]" 
															ng-options="item for item in gradeList" 
															ng-init="model.grade == null" 
															ng-class="{'selected': model.level[$index].length != 0 && model.level[$index] != null}">
															<option value="" ng-disabled="!!model.grade">Grado</option>
														</select>
														<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
													</div>

													<div class="form-group-control custom-caret-wrapper">
														<select 
															class="form-control form-control-lg theme-form" 
															ng-model="model.period[$index]" 
															ng-options="item for item in periodList" 
															ng-init="model.period == null" 
															ng-class="{'selected': model.period[$index].length != 0 && model.period[$index] != null}">
															<option value="" ng-disabled="!!model.period">Periodo</option>
														</select>
														<span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
													</div>
											</section>

											<div class="page-number">
												<p class="text-center">
													<span>1</span>
													<span>/</span>
													<span>2</span>
												</p>
											</div>
											
											<div class="actions">
												<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(9)">Continuar</button>
												<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
											</div>
										</fieldset>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="page" ng-class="currentPage == 9 ? 'active' : ''">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default panel-form">
									<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
										<span class="icomoon icon-arrow-slim-left"></span>
										<span class="icomoon icon-information"></span>
										<h3 class="panel-title">Socioeconómicos</h3>
									</div>
									<div class="panel-body">
										<fieldset class="my-profile-form">
											<section>
												<h5>Familiar</h5>
												<select ng-model="model.children" ng-options="item for item in yesNoList" ng-init="model.children == null" class="form-control form-control-lg theme-form">
													<option value="" ng-disabled="!!model.children">Familiar</option>
												</select>

												<h5>Ingresos</h5>
												<h4>¿Recibo ingresos?</h4>
												<select ng-model="model.gotMoneyIncome" ng-options="item for item in yesNoList" ng-init="model.gotMoneyIncome == null" class="form-control form-control-lg theme-form">
													<option value="" ng-disabled="!!model.gotMoneyIncome">¿Recibo ingresos?</option>
												</select>

												<h4>Fuente de ingresos</h4>
												<ul class="block-list">
													<li ng-repeat="s in model.moneyIncome">
														<div class="form-group theme-form">
															<h5>
																<span>Ingreso {{model.moneyIncome.indexOf(s) + 1}}</span>
																<button class="btn btn-circle" ng-click="deleteMoneyIncome($index);">
																	<span class="icomoon icon-cross"></span>
																</button>
															</h5>
															<select ng-model="model.moneyIncome[$index]" ng-options="item for item in moneyIncomeList" ng-init="model.moneyIncome == null"
															class="form-control form-control-lg theme-form">
																<option value="" ng-disabled="!!model.moneyIncome">Ingreso</option>
															</select>
														</div>
													</li>
												</ul>
												<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addMoneyIncome();">
													<span class="icomoon icon-plus"></span>Agregar ingreso...
												</button>

												<h5>Salud</h5>
												<h4>¿Cuento con seguro médico?</h4>
												<select ng-model="model.medicalCoverage" ng-options="item for item in yesNoList" ng-init="model.medicalCoverage == null"
												class="form-control form-control-lg theme-form">
													<option value="" ng-disabled="!!model.medicalCoverage">¿Cuento con seguro médico?</option>
												</select>

												<h4>Mi seguro es:</h4>
												<input type="text" class="form-control form-control-lg theme-form" placeholder="Mi seguro es" ng-model="s.medicalInsurance"
												/>
												<select ng-model="model.medicalInsurance" ng-options="item for item in medicalInsuranceList" ng-init="model.medicalInsurance == null"
												class="form-control form-control-lg theme-form">
													<option value="" ng-disabled="!!model.medicalInsurance">Mi seguro es:</option>
												</select>

												<div class="page-number">
													<p class="text-center">
														<span>2</span>
														<span>/</span>
														<span>2</span>
													</p>
												</div>

												<div class="button-group">
													<button type="button" ng-disabled="isRegistered" class="btn btn-primary btn-lg" ng-click="navigateToPage(8)">
														<span class="icomoon icon-arrow-slim-left"></span>
													</button>
													<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(1)">Continuar</button>
													<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
												</div>

											</section>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

<div class="page" ng-class="currentPage == 10 ? 'active' : ''">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">

			</div>
			<div class="panel panel-default panel-form">
				<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
					<span class="icomoon icon-arrow-slim-left"></span>
					<span class="icomoon icon-information"></span>
					<h3 class="panel-title">Uso Tecnología</h3>
				</div>
				<div class="panel-body">
					<fieldset class="my-profile-form">
						<section>
							<h5>Dispositivos</h5>

							<h4>¿Qué dispositivo sabes usar?</h4>
							<ul class="block-list">
								<li ng-repeat="s in model.knownDevices">
									<div class="form-group theme-form">
										<h5>
											<span>Dispositivo {{model.knownDevices.indexOf(s) + 1}}</span>
											<button class="btn btn-circle" ng-click="deleteKnownDevice($index);">
												<span class="icomoon icon-cross"></span>
											</button>
										</h5>
										<select ng-model="model.knownDevices[$index]" ng-options="item for item in knownDevicesList" ng-init="model.knownDevices == null"
										class="form-control form-control-lg theme-form">
										<option value="" ng-disabled="!!model.knownDevices">Dispositivos</option>
									</select>
								</div>
							</li>
						</ul>
						<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addKnownDevice();">
							<span class="icomoon icon-plus"></span>Agregar dispositivo...
						</button>

						<h4>¿Con qué dispositivos móviles cuentas?</h4>
						<ul class="block-list">
							<li ng-repeat="s in model.ownDevices">
								<div class="form-group theme-form">
									<h5>
										<span>Dispositivo {{model.ownDevices.indexOf(s) + 1}}</span>
										<button class="btn btn-circle" ng-click="deleteOwnDevice($index);">
											<span class="icomoon icon-cross"></span>
										</button>
									</h5>
									<select ng-model="model.ownDevices[$index]" ng-options="item for item in knownDevicesList" ng-init="model.ownDevices == null"
									class="form-control form-control-lg theme-form">
									<option value="" ng-disabled="!!model.ownDevices">Dispositivos</option>
								</select>
							</div>
						</li>
					</ul>
					<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addKnOwnDevice();">
						<span class="icomoon icon-plus"></span>Agregar dispositivo...
					</button>

					<h4>¿Qué es lo que más haces con un celular?</h4>
					<ul class="block-list">
						<li ng-repeat="s in model.phoneUsage">
							<div class="form-group theme-form">
								<h5>
									<span>Actividad {{model.phoneUsage.indexOf(s) + 1}}</span>
									<button class="btn btn-circle" ng-click="deletePhoneUsage($index);">
										<span class="icomoon icon-cross"></span>
									</button>
								</h5>
								<select ng-model="model.phoneUsage[$index]" ng-options="item for item in phoneUsageList" ng-init="model.phoneUsage == null"
								class="form-control form-control-lg theme-form">
								<option value="" ng-disabled="!!model.phoneUsage">Actividad</option>
							</select>
						</div>
					</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addPhoneUsage();">
					<span class="icomoon icon-plus"></span>Agregar actividad...
				</button>

				<div class="page-number">
					<p class="text-center">
						<span>1</span>
						<span>/</span>
						<span>2</span>
					</p>
				</div>

				<div class="actions">
					<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(11)">Continuar</button>
					<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
				</div>

			</section>
		</fieldset>
	</div>
</div>
</div>
</div>
</div>

<div class="page" ng-class="currentPage == 11 ? 'active' : ''">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default panel-form">
					<div class="panel-heading with-icons" ng-click="navigateToPage(1)">
						<span class="icomoon icon-arrow-slim-left"></span>
						<span class="icomoon icon-information"></span>
						<h3 class="panel-title">Uso Tecnología</h3>
					</div>
					<div class="panel-body">
						<fieldset class="my-profile-form">
							<section>
								<h5>Videojuegos</h5>

								<h4>¿Juegas videojuegos?</h4>
								<input type="text" class="form-control form-control-lg theme-form" placeholder="¿Juegas videojuegos?" ng-model="s.playVideogames"
								/>
								<select ng-model="model.playVideogames" ng-options="item for item in yesNoList" ng-init="model.playVideogames == null" class="form-control form-control-lg theme-form">
									<option value="" ng-disabled="!!model.playVideogames">¿Juegas videojuegos?</option>
								</select>

								<h4>¿Con qué frecuencia juegas videojuegos?</h4>
								<select ng-model="model.videoGamesFrecuency[$index]" ng-options="item for item in videoGamesFrecuencyList" ng-init="model.videoGamesFrecuency == null"
								class="form-control form-control-lg theme-form">
								<option value="" ng-disabled="!!model.videoGamesFrecuency">¿Con qué frecuencia juegas videojuegos?</option>
							</select>

							<h4>¿Qué tipo de videojuegos te gustan más?</h4>
							<ul class="block-list">
								<li ng-repeat="s in model.kindOfVideoGames">
									<div class="form-group theme-form">
										<h5>
											<span>Videojuejo {{model.kindOfVideoGames.indexOf(s) + 1}}</span>
											<button class="btn btn-circle" ng-click="deleteKindOfVideoGame($index);">
												<span class="icomoon icon-cross"></span>
											</button>
										</h5>
										<select ng-model="model.kindOfVideoGames[$index]" ng-options="item for item in kindOfVideoGamesList" ng-init="model.kindOfVideoGames == null"
										class="form-control form-control-lg theme-form">
										<option value="" ng-disabled="!!model.kindOfVideoGames">¿Qué tipo de videojuegos te gustan más?</option>
									</select>
								</div>
							</li>
						</ul>
						<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addKindOfVideoGame();">
							<span class="icomoon icon-plus"></span>Agregar videojuego...
						</button>


						<section>
							<h4>¿Cuáles son tus juegos favoritos?</h4>
							<ul class="block-list">
								<li ng-repeat="p in model.favoriteGames track by $index">
									<div class="form-group theme-form">
										<h5>
											<span>Juago {{model.favoriteGames.indexOf(p) + 1}}</span>
											<button class="btn btn-circle" ng-click="deleteFavoriteGame($index);">
												<span class="icomoon icon-cross"></span>
											</button>
										</h5>
										<input type="text" class="form-control form-control-lg theme-form" placeholder="Juego favorito" ng-model="model.favoriteGames[$index]"
										/>
									</div>
								</li>
							</ul>
							<button type="button" class="btn btn-lg btn-block btn-add" ng-click="addFavoriteGame();">
								<span class="icomoon icon-plus"></span>Agregar juego...
							</button>
						</section>

						<div class="page-number">
							<p class="text-center">
								<span>2</span>
								<span>/</span>
								<span>2</span>
							</p>
						</div>

						<div class="button-group">
							<button type="button" ng-disabled="isRegistered" class="btn btn-primary btn-lg" ng-click="navigateToPage(10)">
								<span class="icomoon icon-arrow-slim-left"></span>
							</button>
							<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(1)">Continuar</button>
							<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
						</div>

					</section>
				</fieldset>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>

			</form>
	 	</section>
	</article>
</div>