<div class="incluso-app step-dashboard" id="site-wrapper">


  <div id="site-canvas">
    <article>

      <!--
      <section class="component video-gallery">
        <h3>- Título de Video -</h3>
        <a ng-click="openClosingStageModal()">X</a>
        <div class="stage perform">
          <button class="icon icon-close"></button>
          <button class="icon icon-play" ng-click="playVideo('assets/media', 'TutorialTest2.mp4')"></button>
          <figure class="player">
            <img src="assets/images/ptr-video-0001.jpg" ng-click="playVideo('assets/media', 'TutorialTest2.mp4')" />
          </figure>
        </div>
        <figure class="player">
          <video poster="assets/images/ptr-video-0001.jpg">
            <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm" />
            <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg" />
            <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
            <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp" /> Ups! Parece que tu dispositivo no soporta video
          </video>
        </figure>

      </section>
      -->
      

      <section class="component video-gallery collapse-media">
        <div class="panel panel-video">
          <div class="panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">
            <h3>
              <span class="icomoon icon-video-file"></span>
              <span ng-bind="nombreEtapaActual"></span>
              <span class="icomoon icon-arrow" ng-show="isCollapsed"></span>
              <span class="icomoon icon-arrow-up" ng-show="!isCollapsed"></span>
            </h3>
          </div>
          <div class="panel-body" collapse="isCollapsed">
          <div class="stage perform">
            <button class="icon icon-close"></button>
            <button class="icon icon-play" ng-click="playVideo('assets/media', 'TutorialTest2.mp4')"></button>
            <figure class="player">
              <img src="assets/images/ptr-video-0001.jpg" ng-click="playVideo('assets/media', 'TutorialTest2.mp4')" alt="video" /> 
              
            </figure>
          </div>
          <figure class="player">
          <video poster="assets/images/ptr-video-0001.jpg" id="myVideo">
            <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm" />
            <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg" />
            <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
            <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp" /> Ups! Parece que tu dispositivo no soporta video
          </video>
        </figure>
          </div>
        </div>
      </section>

  


      <section class="holoproj">
        <div class="centered txt-title" ng-bind="challengeName"></div>
        <div id="carousel-example-generic2" class="carousel">

          <div id="owl-demo2" class="owl-carousel">

            <div class="item visib" ng-repeat="reto in logroEducativo.retosPorEtapa[0].retos">
              <img ng-src="{{reto.icon}}">
              <div class="txt-renglon centered" ng-bind="reto.name"></div>
            </div>

          </div>

          <a class="control" href="#" id="prev">
            <span class="icomoon icon-arrow-bold-left"></span>
          </a>
          <a class="control" href="#" id="next">
            <span class="icomoon icon-arrow-bold-right"></span>
          </a>
        </div>

        <div class="light"><img src="assets/images/img-light-cone.png"></div>
      </section>

      <section class="jector">
      </section>
      <section class="parts">
        <div id="owl-demo" class="owl-carousel">

          <div ng-repeat="reto in logroEducativo.retosPorEtapa[0].retos">
            <div class="part" ng-repeat="actividad in reto.actividades" ng-click="goToUrl(actividad.link)">
              <i class="icomoon icon-checked-join" ng-show="actividad.status == 1"></i>
              <i class="icomoon icon-gauge" ng-show="actividad.status == 0"></i>
              <span ng-bind="actividad.name"></span>
              <span>
                <i class="icomoon icon-star fl-right"></i>
                <i class="icomoon icon-play fl-right"></i>
          </span>
            </div>
          </div>
          <!--
      <!-- Actividades para el Reto # 1  
      <div>
        <div class="part">
          <i class="icomoon icon-checked-join"></i>
          <span>Exploracion inicial</span>
          <span>
                <i class="icomoon icon-star fl-right"></i>
                <i class="icomoon icon-play fl-right"></i>
                </span>
        </div>
      </div>
      
     
      <!-- Actividades para el Reto # 3 
      <div>
        <div class="part">
          <i class="icomoon icon-checked-join"></i>
          <span>Fuente de energia</span>
          <span>
                <i class="icomoon icon-star fl-right"></i>
                <i class="icomoon icon-play fl-right"></i>
                </span>
        </div>
        <div class="part">
          <i class="icomoon icon-checked-join"></i>
          <span>Reto multiple</span>
          <span>
                <i class="icomoon icon-star fl-right"></i>
                <i class="icomoon icon-play fl-right"></i>
                </span>
        </div>
        <div class="part">
          <i class="icomoon icon-checked-join"></i>          
          <span>Punto de Encuentro</span>
          <span>
                <i class="icomoon icon-star fl-right"></i>
                <i class="icomoon icon-play fl-right"></i>
                </span>
        </div>
        <div class="part">
          <i class="icomoon icon-checked-join"></i>
          <span>Zona de Contacto</span>
          <span>
                <i class="icomoon icon-star fl-right"></i>
                <i class="icomoon icon-play fl-right"></i>
                </span>
        </div>
      </div>

     
      
      -->



        </div>
        <!-- End of Caroussel -->

        <div><img src="assets/images/img-consoles.png"></div>
      </section>
      <section class="progreso">
        <div class="spinner">
          <!-- <img src="assets/images/prcnt/{{Math.ceil(model.StageProgress)}}.png">  -->
          <span ng-bind="puntosObtenidos"></span>
          <img src="assets/images/prcnt/{{Math.ceil(avanceEnEtapaActual)}}.png">
          <div class="circle"></div>
          <div class="text">{{avanceEnEtapaActual}}%</div>
        </div>
      </section>
      <section class="hangar-bay">
        <div id="ship">
          <img src="assets/images/img-ship-01.png" />
        </div>
      </section>

      <script type="text/ng-template" id="ClosingStage.html">
        <div class="modal-robot robot-lg closing-stage-modal user-help">
          <img src="assets/images/img-robot.png">
          <div class="modal-header">
            <button class="icon icon-close" ng-click="cancel()">
              <span class="icomoon icon-cross"></span>
            </button>
          </div>
          <div class="modal-body">
            <h3 class="subtitle">Cierre Zona de Vuelo</h3>
            <p class="txt-renglon centered">
              ¡Muy bien! Recuperaste todas las piezas para reparar la nave y continuar el viaje. Recuerda, los sueños son el motor principal
              de tu nave
            </p>
            <p class="txt-renglon centered">
              ¡Ahora tu aventura ya tiene un rumbo!
            </p>

            <!-- <video controls poster="assets/images/ptr-video-0001.jpg" >
              <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm" />
              <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg" />
              <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
              <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp" />
              Ups! Parece que tu dispositivo no soporta video
            </video> -->
          </div>
          <!--<div class="modal-footer">
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-primary btn-lg btn-cnt" type="button">Continuar</button>
                <img src="assets/images/img-lines-ftr.png" class="centered">
              </div>
            </div>
          </div> -->

        </div>

      </script>

    </article>
  </div>



</div>
</div>
<!-- html -->
<!-- scripts -->


<script>
  $(document).ready(function() {
    
    
    function myController($scope) {
      $scope.challengeName = "MIS RETOS";
    }

    setTimeout(function(){

      var hits = 1;
      
      //Carrusel de retos
      var owl2 = $("#owl-demo2");
      
      owl2.owlCarousel({
        navigation:false,
        pagination:false,
        paginationSpeed : 1000,
        goToFirstSpeed : 2000,
        singleItem : true,
        autoHeight : true,
        afterMove: callback1
      });
      
      //Carrusel de Actividades
      var owl = $("#owl-demo");
      
      owl.owlCarousel({
        navigation:false,
        pagination:false,
        paginationSpeed : 1000,
        goToFirstSpeed : 2000,
        singleItem : true,
        autoHeight : true,
        afterMove: callback2
      });
      
      function callback1(event) {
        var item = this.currentItem;       
        owl.trigger("owl.goTo", item);
      }
      
      function callback2(event) {
        var item = this.currentItem;   
        owl2.trigger("owl.goTo", item);
      }

      $("#next").click(function(ev){
        owl.trigger('owl.next');
        ev.preventDefault(); 
               
      })
      
      $("#prev").click(function(ev){
        owl.trigger('owl.prev');
        ev.preventDefault();
      })
    }, 1000);

});

</script>