<style>

    .incluso-app .faqs .list-group .list-group-item {
        background: #1f2733;
        background: -moz-radial-gradient(center,ellipse cover,#1f2733 0,#14181f 100%);
        background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0,#1f2733),color-stop(100%,#14181f));
        background: -webkit-radial-gradient(center,ellipse cover,#1f2733 0,#14181f 100%);
        background: -o-radial-gradient(center,ellipse cover,#1f2733 0,#14181f 100%);
        background: -ms-radial-gradient(center,ellipse cover,#1f2733 0,#14181f 100%);
        background: radial-gradient(ellipse at center,#1f2733 0,#14181f 100%);
        border: none;
    }
    
    .incluso-app .faqs .list-group span {
        color: #fff;
        line-height: inherit;
    }
    
    .incluso-app .faqs .list-group span:first-child+span {
        display: block;
        overflow: hidden;
        width: auto;
        padding: 0;
        margin: 0 18vw 0 11vw;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .incluso-app .faqs .list-group .icomoon {
        position: absolute;
        z-index: 1;
        color: #bcd431;
    }
    
    .incluso-app .faqs .list-group.separate-items .list-group-item a {
        display: block;
        padding: 1vh 14vw 1vh 4vw;
        margin: 0;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.4em;
        height: initial;
    }
    .incluso-app .faqs .list-group .icomoon.icon-arrow-slim-right {
        top: calc(50% - 3vw);
        right: 0;
        padding: 0 3vw 0 0;
        font-size: 6vw;
        margin: initial;
    }
    .incluso-app .faqs {
        width: auto!important;
        max-width: none!important;
        padding: 0 6vw!important;
        padding-top: 6vh!important;
    }
    .incluso-app .faqs .container {
        padding: 0!important;
    }
    .incluso-app .faqs .questions-list p {
        padding: 2vh 4vw 2vh 4vw;
        font-size: 1em!important;
        margin: 6vw 0;
    }
    .incluso-app .faqs .questions-list h3 {
        padding: 1vh 4vw 1vh 4vw;
        margin: 0;
    }
    
    .incluso-app .faqs .question-detail p:not(.subtitle) {
        font-size: 1.1em!important;
        line-height: 1.4em;
    }
    
    .incluso-app .faqs .component {
        padding-top: 0!important;
    }
        
</style>

<div class="incluso-app content-page-theme" id="site-wrapper">
    <article>
        <section class="component faqs">
            <div class="pages">
                <div class="page questions-list">
                    <div class="container">
                        <h3 ng-class="main-title">Preguntas Frecuentes</h3>
                        <p>Consulta la respuesta a las dudas que podrian presentarse durante tu aventura.</p>
                        <ul class="list-group separate-items">                                    
                            <li class="list-group-item">
                                <a href="">
                                    <span>¿En qué me va a beneficiar la Misión Incluso?</span>
                                    <span class="icomoon icon-arrow-slim-right"></span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="">
                                    <span>¿Cómo ingreso mis datos y registro mi perfil?</span>
                                    <span class="icomoon icon-arrow-slim-right"></span>
                                </a>
                            </li>

                            <li class="list-group-item">
                                <a href="">
                                    <span>¿De qué manera puedo crear mi Avatar?</span>
                                    <span class="icomoon icon-arrow-slim-right"></span>
                                </a>
                            </li>

                            <li class="list-group-item">
                                <a href="">
                                    <span>¿En dónde puedo encontrar un tutorial para Misión Incluso?</span>
                                    <span class="icomoon icon-arrow-slim-right"></span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="">
                                    <span>¿Cómo puedo invitar a mis amigos a Misión Incluso?</span>
                                    <span class="icomoon icon-arrow-slim-right"></span>
                                </a>
                            </li>

                            <li class="list-group-item">
                                <a href="">
                                    <span>¿Habrá algun asesor que me guiará durante la Misión?</span>
                                    <span class="icomoon icon-arrow-slim-right"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page question-detail active">
                    <div class="container">
                        <section class="component">
                            <h3 ng-class="main-title">Preguntas Frecuentes</h3>
                            <p class="subtitle">¿En que me va a beneficiar la Misión Incluso?</p>
          		            <p>
                                Esta declaración de derechos y responsabilidades (en adelante la "Declaración" o "Condiciones") contiene las condiciones de los servicios de [Incluso] que rigen la relación entre [Incluso], los usuarios y con todos aquellos que interactúan en la “Plataforma Misión Incluso”, así como con las marcas, los productos y los servicios de la misma. Al usar la Plataforma o al acceder a ella, manifiestas tu conformidad con la presente Declaración, la cual podrá actualizarse periódicamente según se estipula en la sección 6 “Enmiendas” descrita más adelante.
                            </p>
                            <a role="button" class="btn btn-primary btn-lg btn-block">Regresar</a> 
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>