<!-- <footer class="footer" ng-class="{'db-bg': showFooterRocks ,'show': showFooter}">
    <ul class="block-list">
      <li class="hidden"><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
      <li><a ng-click="navigateTo('HelpAndSupport', 'Ayuda y soporte', 'sidebar', 'navbarorange')" class="centered txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a class="to-top" ng-click="$emit('scrollTop');"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
</footer> -->

<footer class="app-footer" 
    ng-class="{
        'show': showFooter, 
        'theme-rocks': showFooterRocks,
        'theme-stage-1': showStage1Footer,
        'theme-stage-2': showStage2Footer,
        'stage-3-footer': showStage3Footer,
        'links-stage2-footer': linksStage2Footer, 
        'links-stage3-footer': linksStage3Footer}">
    <ul class="block-list">
        <li>
        	<a href="" class="btn-link">Preguntas Frecuentes</a>
        </li>
        <li>
        	<a href="" class="btn-link" ng-click="navigateTo('HelpAndSupport','sidebar')">Ayuda y Soporte</a>
        </li>
    </ul>
    <a class="btn-back-to-top" ng-click="$emit('scrollTop');">
        <span class="icomoon icon-double-arrow-up"></span>
        <span>Subir</span>
    </a>
</footer> 