<div class="incluso-app hall-of-fame" id="site-wrapper">
	<article>
		<section class="showcase-carousel">
			<div class="owl-carousel-" id="top-users-statistics">
				<div class="item">
					<div class="user-stats by-progress component">
						<h3>Top 5: <span>Avance</span></h3>
						<div class="user-avatar">
							<figure>
								<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
							</figure>
						</div>
						<div class="user-data">
							<p class="user-name">Mi Avance</p>
							<div class="user-progress-bar" data-progress-bar="23">
                                <div>
                                    <div class="container"></div>
                                    <label>23%</label>
                                </div>
				            </div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="user-stats by-stars component">
						<h3>Top 5: <span>Estrellas</span></h3>
						<div class="user-avatar">
							<figure>
								<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
							</figure>
						</div>
						<div class="user-data">
							<p class="user-name">Mis Estrellas</p>
                            <p class="user-points">
                                <span>600</span>
                                <span class="icomoon icon-star"></span>
                            </p>
						</div>
					</div>
				</div>
			</div>
            <a class="control back" href="#" id="prev">
				<span class="icomoon icon-arrow-bold-left"></span>
			</a>
			<a class="control next" href="#" id="next">
				<span class="icomoon icon-arrow-bold-right"></span>
			</a>
        </section>
        <section class="filter-section form">
            <span class="icomoon icon-list"></span>
            <select name="filter" class="form-control form-control-lg theme-default ng-pristine ng-untouched ng-valid" ng-model="filter">
                <option value="" disabled="">Filtrar contenido por...</option>
                <option value="">Ver Todo</option>
                <option value="mexico">Cd. de México</option> 
                <option value="monterrey">Monterrey</option> 
                <option value="guadalajara">Guadalajara</option> 
            </select>
            <span class="icomoon icon-arrow"></span>
        </section>
		<section class="component" id="top-users-detail">
			<div class="ranking-list">
                <div class="user-stats by-progress component">
					<div class="user-avatar">
						<figure>
							<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
						</figure>
					</div>
					<div class="user-data">
                        <h4>1er Lugar</h4>
						<p class="user-name">Halcon Espacial</p>
						<div class="user-progress-bar" data-progress-bar="80">
                            <div>
                                <div class="container"></div>
                                <label>23%</label>
                            </div>
				        </div>
					</div>
				</div>
                <div class="user-stats by-progress component">
					<div class="user-avatar">
						<figure>
							<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
						</figure>
					</div>
					<div class="user-data">
                        <h4>2do Lugar</h4>
						<p class="user-name">Halcon Espacial</p>
						<div class="user-progress-bar" data-progress-bar="50">
                            <div>
                                <div class="container"></div>
                                <label>23%</label>
                            </div>
				        </div>
					</div>
				</div>
                <div class="user-stats by-progress component">
					<div class="user-avatar">
						<figure>
							<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
						</figure>
					</div>
					<div class="user-data">
                        <h4>3er Lugar</h4>
						<p class="user-name">Halcon Espacial</p>
						<div class="user-progress-bar" data-progress-bar="35">
                            <div>
                                <div class="container"></div>
                                <label>23%</label>
                            </div>
				        </div>
					</div>
				</div>
            </div>
            <div class="ranking-list">
                <div class="user-stats by-star component">
					<div class="user-avatar">
						<figure>
							<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
						</figure>
					</div>
					<div class="user-data">
                        <h4>1er Lugar</h4>
						<p class="user-name">Halcon Espacial</p>
						<p class="user-points">
                            <span>600</span>
                            <span class="icomoon icon-star"></span>
                        </p>
					</div>
				</div>
                <div class="user-stats by-star component">
					<div class="user-avatar">
						<figure>
							<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
						</figure>
					</div>
					<div class="user-data">
                        <h4>2do Lugar</h4>
						<p class="user-name">Halcon Espacial</p>
                        <p class="list-records"><span>15</span> Multiplicaciones de foros</p>
                        <p class="list-records"><span>30</span> Mensajes en chat</p>
                        <p class="list-records"><span>20</span> Mensajes en comunidades</p>
					</div>
				</div>
                <div class="user-stats by-star component">
					<div class="user-avatar">
						<figure>
							<img src="assets/images/img-avatar-placeholder.svg" alt="avatar" />
						</figure>
					</div>
					<div class="user-data">
                        <h4>1er Lugar</h4>
						<p class="user-name">Halcon Espacial</p>
						<p class="list-records"><span class="icomoon icon-badge"></span><span> 25</span> Insignias ganadas</p>
					</div>
				</div>
            </div>
		</section>
	</article>
</div>
  
<script>
    jQuery.fn.UserProgressBar = function () {
        $.each(this, function () {
            var base = $(this);
            var p = parseInt(base.data("progress-bar"));
            base.find("label").text(p + "%");
            progress = Math.round(p / 5);
            for (var i = 0; i < 20; i++) {
                base.find(".container").append($("<div>", {
                    "class": "bar" + (i < progress ? " active" : "")
                }))
            }
        })
    };
    $(document).ready(function () {
        var topUsers = $("#top-users-statistics");
        var topDetail = $("#top-users-detail");
        topDetail.owlCarousel({
            navigation: false,
            pagination: false,
            paginationSpeed: 1000,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoHeight: true,
            touchDrag: false,
            mouseDrag: false,
            transitionStyle: "fade"
        });
        topUsers.owlCarousel({
            navigation: false,
            pagination: false,
            paginationSpeed: 1000,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoHeight: true,
            touchDrag: false,
            mouseDrag: false,
            transitionStyle: "fade"
        });
        $(".control.next").click(function (e) {
            topUsers.trigger('owl.next');
            topDetail.trigger('owl.next');
            e.preventDefault();
        })
        $(".control.back").click(function (e) {
            topUsers.trigger('owl.prev');
            topDetail.trigger('owl.prev');
            e.preventDefault();
        })
        $(".user-progress-bar").UserProgressBar();
    });


</script>