<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-menu" >

  </div>
  <div id="site-canvas">

    <article class="use-terms">
      <div class="container">

        <section class="component">
          <h3 ng-class="main-title">Ayuda para…</h3>
            <h4 class="sub-title">Guía de uso de Misión Incluso</h4>
            <p>Si no sabes por dónde empezar en Incluso, te recomendamos ver la guía de uso disponible en el menú principal. La torre de control te dará las herramientas suficientes para que no te pierdas en la misión. 
Personalizar avatar.</p>
            <h4 class="sub-title">Personalizar avatar</h4>
            <p>Para poder distinguirte en Misión Incluso debes generar tu Avatar para esto, en el menú superior da clic en el icono de la persona, una vez en el perfil da clic en el icono de editar que está a un costado de la imagen del Avatar.</p>
            <h4 class="sub-title">Primera actividad de cada Zona</h4>
            <p>Para poder iniciar los retos de cada una de las zonas, debes realizar primero la exploración inicial para que se activen los demás retos y actividades.</p>
            <h4 class="sub-title">Punto de encuentro y Zona de contacto</h4>
            <p>En las zonas de la misión encontrarás las actividades “Punto de encuentro” y “Zona de contacto”, cada foro tiene tópicos y debes hacer “dos” aportaciones en cada uno para poder tener la actividad completada.</p>
            <h4 class="sub-title">Cabina de soporte</h4>
            <p>Para pasar el reto "Cabina de soporte" de cada zona, entra a la actividad “Chat” y conversa con tu coach dos veces, asegúrate de que él también te responda las mismas dos veces ya que sólo así podrás continuar. Una vez con los 4 comentarios, regresa a la "Cabina de soporte" de la zona en la que te encuentras y da clic nuevamente en la actividad de “Chat” para que ésta aparezca como completada.</p>
            <h4 class="sub-title">Exploración final</h4>
            <p>Para activarla, debes tener completadas todas las actividades de los retos anteriores, incluyendo  “Cabina de Soporte” y haber respondido si te gusto o no la actividad. Si no estás seguro, vuelve a entrar a las actividades que te aparecen como no completadas y revisa si cumpliste con las condiciones para pasar, finalmente responde si te gustó o no.</p>
          <a role="button" class="btn btn-primary btn-lg btn-block text-uppercase" ng-click="navigateTo('ProgramaDashboard', 'sideToggle')">Regresar</a>
        </section>
        
      </div> <!-- /.container -->
      <img src=".../../assets/images/img-lines-ftr.png" class="centered">
      
    </article>

  </div>
</div>
  
