<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-menu" >

  </div>
  <div id="site-canvas">

    <article class="use-terms">
      <div class="container">

        <section class="component">
          <h3 ng-class="main-title">Ayuda y soporte</h3>
      		<p>Tu misión: encontrar al planeta IPSE 1.0 recorriendo las tres zonas de retos. Debes explorar cada una y conseguir las piezas que te permitan continuar.</p>
          <p>Descarga la  app “Incluso interactivo”, donde puedes dar personalidad a tu avatar y realizar otros retos que son parte de la misión. Asegúrate de llenar toda la información. En caso de que perder la señal de tu nave, te contactaremos con ayuda de tu perfil. Tu información es muy valiosa por lo que no te olvides de tenerla actualizada. Recuerda que tu información está protegida y sólo tú decides qué compartir con los demás en cualquier momento.</p>
          <p>En uno de los retos de la misión obtendrás el escudo que representa tus fortalezas y que siempre se mostrará en tu perfil.</p>
          <p>Inclubot será tu acompañante de viaje y te dará mensajes de guía para cumplir tu misión.</p>
          <p>En cada zona, tendrás que enfrentarte a retos y actividades, encontrarás fuentes de energía para descubrir más información de apoyo. Participa en los foros para ayudar y recibir apoyo de otros capitanes. Al terminar las actividades obtendrás estrellas; cada reto te hará ganar piezas y herramientas que te ayudarán en tu misión.</p>
          <p>Intercambia estrategias con otros capitanes en la comunidad compartiendo información de interés. Tendrás a contacto con un coach que te asesorará lograr la misión. Recuerda revisar tus notificaciones.</p>
          <p>Desde este menú podrás editar tu perfil cada vez que así lo requieras.</p>
            <h4 class="sub-title">Ayuda para Punto de encuentro y soporte</h4>
            <p>Dentro de las zona de misión incluso encontrarás, Punto de encuentro y Zona de contacto, cada foro tiene tópicos y debes hacer dos aportaciones en cada uno para poder terminar la actividad.</p>
            <h4 class="sub-title">Ayuda para Cabina de soporte</h4>
            <p>Para pasar el reto "Cabina de soporte" en cada zona debes ingresar a la actividad de chat, en este espacio conversarás con tu coach, debe responderte al menos dos veces para poder continuar. Una vez realizadas las dos interacciones, deberás regresar al reto "Cabina de soporte" de la zona en la que te encuentras y dar clic nuevamente en la actividad de chat para que aparezca como completada.</p>
            <h4 class="sub-title">Ayuda para activar Exploración final</h4>
            <p>El tip es regresar al reto “Cabina de Soporte”, entrar de nuevo al Chat, verificar que aparezca la actividad como completada y responder si te gustó la sección para que puedas realizar la Exploración final.</p>
          <a role="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateTo('ProgramaDashboard', 'sideToggle')">Regresar</a>
        </section>
        
      </div> <!-- /.container -->
      <img src=".../../assets/images/img-lines-ftr.png" class="centered">
      
    </article>

  </div>
</div>
  
