<!-- Sidebars -->
<div ui-track-as-search-param='true' class="sidebar sidebar-left ng-scope">
	<div ui-track-as-search-param="true" class="sidebar sidebar-left ng-scope">
		<div class="scrollable ng-scope">
			<div class="scrollable-content">
				<div class="list-group">
					<div id="site-menu" >
						<div class="ng-scope">
							<div class="navbar" id="navBar" ng-class="{'navbar-blue': navbarBlue, 'navbar-orange': navbarOrange}">
								<a class="navbar-toggle collapsed"  ng-click="sideToggle()">
									<span class="sr-only">Toggle navigation</span>
									<span class="icomoon icon-cross"></span>
								</a>
								<div class="navbar-assets clearfix">
									<h1 class="navbar-heading">Menú</h1>
								</div>
							</div>
						</div>
						<ul class="nav" ng-controller="menuController">
							<li><a ng-click="navigateTo('ProgramaDashboard', 'sideToggle')"><span class="icomoon icon-home"></span> Inicio</a></li>							
							<li>
								<span class="icomoon icon-arrow fl-right white pointer accsub" data-id="0" ng-show="!one.isCollapsed" ng-click="one.isCollapsed = !one.isCollapsed"></span>
								<span class="icomoon icon-arrow-up ng-hide fl-right white pointer accsub" data-id="0" ng-show="one.isCollapsed" ng-click="one.isCollapsed = !one.isCollapsed"></span>
								<a class="menu-blue" ng-click="navigateToStageDashboard('/ZonaDeVuelo/Dashboard/1/0', 'sideToggle', 1001)">
									<span class="icomoon icon-spaceship">
										<span class="path1"></span>
										<span class="path2"></span>
										<span class="path3"></span>        
									</span>Zona de Vuelo
								</a>
								<div class="submenu" id="sub0">
									<ul>
										<li>Cuarto de recursos</li>
										<li><a ng-class="activityBlocked[1101]" ng-click="navigateTo('/ZonaDeVuelo/CuartoDeRecursos/FuenteDeEnergia/1101', 'sideToggle',1101)">Fuente de energía</a></li>
									</ul>
									<ul>  
										<li>Conócete</li>
										<li><a ng-class="activityBlocked[1020]" ng-click="navigateTo('/ZonaDeVuelo/Conocete/FuenteDeEnergia/1020', 'sideToggle',1020)">Fuente de energía</a></li>
										<li><a ng-class="activityBlocked[1039]" ng-click="navigateTo('/ZonaDeVuelo/Conocete/RetoMultiple/1039', 'sideToggle',1039)">Reto múltiple </a></li>
										<li><a ng-class="activityBlocked[1010]" ng-click="navigateTo('/ZonaDeVuelo/Conocete/PuntoDeEncuentro/Topicos/1010', 'sideToggle',1010)">Punto de encuentro </a></li>
										<li><a ng-class="activityBlocked[1049]" ng-click="navigateTo('/ZonaDeVuelo/Conocete/ZonaDeContacto/1049', 'sideToggle',1049)">Zona de contacto</a></li>
									</ul>
									<ul>
										<li>Mis sueños </li>
										<li><a ng-class="activityBlocked[1021]" ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/FuenteDeEnergia/1021', 'sideToggle',1021)">Fuente de energía</a></li>
										<li><a ng-class="activityBlocked[1005]" ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/MisCualidades/1005', 'sideToggle',1005)">Mis cualidades</a></li>
										<li><a ng-class="activityBlocked[1006]" ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/MisGustos/1006', 'sideToggle',1006)">Mis gustos</a></li>
										<li><a ng-class="activityBlocked[1007]" ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/Suena/1007', 'sideToggle',1007)">Sueña</a></li>
										<li><a ng-class="activityBlocked[1008]" ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/PuntosDeEncuentro/Topicos/1008', 'sideToggle',1008)">Punto de encuentro </a></li>
									</ul>
									<ul>
										<li>Cabina de soporte</li>
										<li><a ng-class="activityBlocked[1002]" ng-click="navigateTo('/ZonaDeVuelo/CabinaDeSoporte/1002', 'sideToggle',1002)">Chat</a></li>
									</ul>
								</div>
							</li>
							<li>
								<span class="icomoon icon-arrow fl-right white pointer accsub" data-id="1" ng-show="!two.isCollapsed" ng-click="two.isCollapsed = !two.isCollapsed"></span>
								<span class="icomoon icon-arrow-up ng-hide fl-right white pointer accsub" data-id="1" ng-show="two.isCollapsed" ng-click="two.isCollapsed = !two.isCollapsed"></span>
								<a class="menu-green" ng-click="navigateToStageDashboard('/ZonaDeNavegacion/Dashboard/2/0', 'sideToggle',2001)">
									<span class="icomoon icon-asterodis">
                                        <img src="assets/images/svg/icon-zona-navegacion.svg" alt="Zona de navegación">   
									</span>
                                    Zona de Navegacion
								</a>
								<div class="submenu" id="sub1">
									<ul>
										<li>Cuarto de recursos</li>
										<li><a ng-class="activityBlocked[2004]" ng-click="navigateTo('/ZonaDeNavegacion/CuartoDeRecursos/FuenteDeEnergia/2004', 'sideToggle', 2004)">Fuente de energía</a></li>
									</ul>
									<ul>
										<li>Transfórmate</li>
										<li><a ng-class="activityBlocked[2006]" ng-click="navigateTo('/ZonaDeNavegacion/Transformate/FuenteDeEnergia/2006', 'sideToggle', 2006)">Fuente de energía</a></li>
										<li><a ng-class="activityBlocked[2007]" ng-click="navigateTo('/ZonaDeNavegacion/Transformate/TusIdeas/2007', 'sideToggle', 2007)">Tus ideas </a></li>
										<li><a ng-class="activityBlocked[2030]" ng-click="navigateTo('/ZonaDeNavegacion/Transformate/PuntoDeEncuentro/Topicos/2030', 'sideToggle', 2030)">Punto de encuentro </a></li>
									</ul>
									<ul>
										<li>Tú eliges </li>
										<li><a ng-class="activityBlocked[2011]" ng-click="navigateTo('/ZonaDeNavegacion/TuEliges/FuenteDeEnergia/2011', 'sideToggle', 2011)">Fuente de energía</a></li>
										<li><a ng-class="activityBlocked[2012]" ng-click="navigateTo('/ZonaDeNavegacion/TuEliges/TuEliges/2012', 'sideToggle', 2012)">Tú eliges</a></li>
									</ul>
									<ul>
										<li>Proyecta tu vida</li>
										<li><a ng-class="activityBlocked[2015]" ng-click="navigateTo('/ZonaDeNavegacion/ProyectaTuVida/FuenteDeEnergia/2015', 'sideToggle', 2015)">Fuente de energía</a></li>
										<li><a ng-class="activityBlocked[2016]" ng-click="navigateTo('/ZonaDeNavegacion/ProyectaTuVida/13y5/2016', 'sideToggle', 2016)">1, 3 y 5</a></li>
										<li><a ng-class="activityBlocked[2017]" ng-click="navigateTo('/ZonaDeNavegacion/ProyectaTuVida/MapaDeVida/2017', 'sideToggle', 2017)">Mapa de vida</a></li>
										<li><a ng-class="activityBlocked[2026]" ng-click="navigateTo('/ZonaDeNavegacion/ProyectaTuVida/PuntoDeEncuentro/Topicos/2026', 'sideToggle', 2026)">Punto de encuentro </a></li>
									</ul>
									<ul>
										<li>Cabina de soporte</li>
										<li><a ng-class="activityBlocked[2022]" ng-click="navigateTo('/ZonaDeNavegacion/CabinaDeSoporte/2022', 'sideToggle', 2022)">Chat</a></li>
									</ul>
								</div>
							</li>
							<li>
								<span class="icomoon icon-arrow fl-right white pointer accsub" data-id="2" ng-show="!three.isCollapsed" ng-click="three.isCollapsed = !three.isCollapsed"></span>
								<span class="icomoon icon-arrow-up ng-hide fl-right white pointer accsub" data-id="2" ng-show="three.isCollapsed" ng-click="three.isCollapsed = !three.isCollapsed"></span>
								<a class="menu-pink" ng-click="navigateToStageDashboard('/ZonaDeAterrizaje/Dashboard/3/0', 'sideToggle', 3101)">
									<span class="icomoon icon-planet">
										<span class="path1"></span>
										<span class="path2"></span>
										<span class="path3"></span>        
									</span>Zona de Aterrizaje
								</a>
								<div class="submenu" id="sub2">
									<ul>
										<li>Cuarto de recursos</li>
										<li><a ng-class="activityBlocked[3201]" ng-click="navigateTo('/ZonaDeAterrizaje/CuartoDeRecursos/FuenteDeEnergia/3201', 'sideToggle', 3201)">Fuente de energía</a></li>
									</ul>
									<ul>
										<li>Educación Financiera</li>
										<li><a ng-class="activityBlocked[3301]" ng-click="navigateTo('/ZonaDeAterrizaje/EducacionFinanciera/FuenteDeEnergia/3301', 'sideToggle', 3301)">Fuente de energía</a></li>
										<li><a ng-class="activityBlocked[3302]" ng-click="navigateTo('/ZonaDeAterrizaje/EducacionFinanciera/MultiplicaTuDinero/3302', 'sideToggle', 3302)">Multiplica tu dinero</a></li>
										<li><a ng-class="activityBlocked[3304]" ng-click="navigateTo('/ZonaDeAterrizaje/EducacionFinanciera/PuntoDeEncuentro/Topicos/3304', 'sideToggle', 3304)">Punto de encuentro</a></li>
									</ul>
									<ul>
										<li>Mapa del Emprendedor</li>
										<li><a ng-class="activityBlocked[3401]" ng-click="navigateTo('/ZonaDeAterrizaje/MapaDelEmprendedor/FuenteDeEnergia/3401', 'sideToggle', 3401)">Fuente de energía</a></li>
										<li><a ng-class="activityBlocked[3402]" ng-click="navigateTo('/ZonaDeAterrizaje/MapaDelEmprendedor/MapaDelEmprendedor/3402','sideToggle',3402)">Mapa del emprendedor</a></li>
										<li><a ng-class="activityBlocked[3404]" ng-click="navigateTo('/ZonaDeAterrizaje/MapaDelEmprendedor/PuntoDeEncuentro/Topicos/3404', 'sideToggle', 3404)">Punto de encuentro </a></li>
									</ul>
									<ul>
										<li>Cabina de soporte</li>
										<li><a ng-class="activityBlocked[3501]" ng-click="navigateTo('/ZonaDeNavegacion/CabinaDeSoporte/3501', 'sideToggle', 3501)">Chat</a></li>
									</ul>
								</div>
							</li>
							<!-- COMMENTED AS PART OF NEW REQUIREMENTS FOR 2.3
							<li>
								<a ng-click="navigateTo('MyStars','sideToggle')">
									<span class="icomoon icon-earned-stars"></span> Mis estrellas
								</a>
							</li>
							-->
							<li><a ng-click="navigateTo('HallOfFame', 'sideToggle')"><span class="icomoon icon-cup"></span> Salón de la fama</a></li>
							<li class="hidden"><a><span class="icomoon icon-racing-flag "></span> Recuerdos Incluso</a></li>
							<li class="hidden"><a><span class="icomoon icon-loop"></span> Seguimiento</a></li>
							<li class="hidden"><a><span class="icomoon icon-document"></span> Certificación</a></li>
							<li class="hidden"><a><span class="icomoon icon-lifesaver"></span> Preguntas frecuentes</a></li>
							<li><a ng-click="playVideo('assets/media', 'video-tutorial.mp4')"><span class="icomoon icon-video-file"></span> Guía de uso </a></li>
							<li><a ng-click="navigateTo('PrivacyNotice', 'sideToggle')"><span class="icomoon icon-privacy"></span> Aviso de privacidad</a></li>
							<li><a ng-click="navigateTo('TermsOfUse', 'sideToggle')"><span class="icomoon icon-books"></span> Condiciones de uso</a></li>
							<li class="" ng-show="showDiploma"><a class="menu-yellow" ng-click="navigateTo('SharingExperience', 'sideToggle')"><span class="icomoon icon-share"></span> Compartir experiencia</a></li>
							<li class="" ng-show="showDiploma"><a ng-click="navigateTo('/AlbumIncluso', 'sideToggle')"><span class="icomoon icon-album"></span> Album incluso</a></li>
							<li class="" ng-show="showDiploma"><a ng-click="navigateTo('/reconocimiento', 'sideToggle')"><span class="icomoon icon-acknowledgment"></span> Reconocimiento</a></li>                            
							<li class="separate"></li>
							<li><a ng-click="logout()"><span class="icomoon icon-logout"></span> Salir</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>