 <div class="incluso-app step-dashboard" id="site-wrapper">
      <article class="blueprint">
        <section>
          <div class="subtitle">Mis fortalezas</div>
        </section> 
        <section class="txt-renglon txt-bigger pill">
          <div class="fl-left">Estrellas a Ganar</div>
          <div class="fl-right sm-pill">240&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
        </section>
        <section>
          <div class="txt-renglon">Instrucciones de descarga:</div>
        </section>
        <section class="forma txt-renglon up-line">
          <ol>
            <li>
              <p class="txt-renglon">
                01. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              </p>
            </li>
            <li>
              <p class="txt-renglon">
                02. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              </p>
            </li>
            <li>
              <p class="txt-renglon">
                03. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              </p>
            </li>              
          </ol>
        </section> 
        <section class="actions">
          <button class="btn btn-primary btn-lg btn-block">Descargar juego</button>
          <button class="btn btn-link btn-block">Cancelar</button>
        </section>
      </article>
  </div>
