<div class="incluso-app content-page-theme my-stars score-dashboard" id="site-wrapper">
<!--   <article>
    <section class="component">
      <h3>Mis estrellas</h3>

      <a role="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateTo('ProgramaDashboard', 'sideToggle')">Regresar</a> 
    </section>
  </article> -->

  <article class="starway">

  	<section class="score centered txt-bigger lightgreen">
  		<div id="totstars">{{profileStars}}</div>
  	</section>
  	<section class="centered">
  		<div class="sharer">
  			<i class="icomoon icon-share icon"></i><a href="#openModal1" class="modbut"><div class="txt">Compartir puntuación</div></a>
  		</div>
  	</section>
  	<section class="modales">

  		<div id="openModal1" class="modalDialog">
  			<div>
  				<a href="#close" title="Close" class="close"></a>
  				<div class="txt-renglon txt-bigger">"Puntuación {{profileStars}} Estrellas"</div>
  				<div class="add"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar texto..." value=""/></div>

  				<button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
  			</div>
  		</div>
  	</section>
  	<section class="starcontain">
  		<div class="subtitle centered">Mis estrellas</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">21 de Julio 2015 - 4:30 PM</div>Conócete:Descubre Más</div><div class="fl-right sm-pill">+240&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">20 de Junio 2015 - 10:22 PM</div>Conócete:Mis Cualidades</div><div class="fl-right sm-pill">+50&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">20 de Junio 2015 - 5:50 PM</div>Conócete:Sueña</div><div class="fl-right sm-pill">+40&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">19 de Junio 2015 - 3:22 PM</div>Conócete:Foro Común</div><div class="fl-right sm-pill">+30&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">16 de Mayo 2015 - 11:42 AM</div>Evaluación Inicial</div><div class="fl-right sm-pill">+20&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
  		</div>

  		<div class="part showmore">
  			<i class="icomoon  icon-show-more fl-right"></i> Mostrar más estrellas...
  		</div>
  	</section>
  	<section class="starcontain">
  		<div class="subtitle centered">Mis Recompensas</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">21 de Julio 2015 - 4:30 PM</div>Nueva Mochila Incluso</div>
  			<i class="icomoon icon-arrow-bold-right fl-right"></i>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">20 de Junio 2015 - 10:22 PM</div>Estuche nuevo para celular</div>
  			<i class="icomoon icon-arrow-bold-right fl-right"></i>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">20 de Junio 2015 - 5:50 PM</div>¡Te regalamos 1000 estrellas!</div>
  			<i class="icomoon icon-arrow-bold-right fl-right"></i>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">19 de Junio 2015 - 3:22 PM</div>Gorra Incluso</div>
  			<i class="icomoon icon-arrow-bold-right fl-right"></i>
  		</div>
  		<div class="part">
  			<div class="fl-left"><div class="date">16 de Mayo 2015 - 11:42 AM</div>Sudadera Incluso</div>
  			<i class="icomoon icon-arrow-bold-right fl-right"></i>
  		</div>

  		<div class="part showmore">
  			<i class="icomoon  icon-show-more fl-right"></i> Mostrar más recompensas...
  		</div>
  	</section>
  </article>

</div>