<div class="incluso-app content-page-theme">
    <article class="starway">  
	    <div class="component">  	
	    	
	    	<h3 class="box-dark item-title">Usuarios que les gusta tu publicación</h3>   
	    	<ul class="list-group green-lantern-theme">
	    		<li class="list-item">
	    			<figure class="img-sm">
	    				<img src="assets/avatar/default-1.png" alt="Avatar" />
    				</figure>
    				<div class="pull-left">
    					<span>Ana Mendoza</span>
    				</div>
    				<span class="icomoon icon-like pull-left no-padding pink"></span>
	    		</li>
	    		<li class="list-item">	    		
                    <figure class="img-sm">
                        <img src="assets/avatar/default-1.png" alt="Avatar" />
                    </figure>                
                    <div class="pull-left">
                    	<span>Carlos Echeverría</span>
                    </div>
                    <span class="icomoon icon-like pull-left no-padding pink">
                </li>
	    		<li class="list-item">
	    			<figure class="img-sm">
                        <img src="assets/avatar/default-1.png" alt="Avatar" />
                    </figure>               
                    <div class="pull-left">
                    	<span class="">Mayela Gzz.</span>
                	</div>
    				<span class="icomoon icon-like pull-left no-padding pink"></span>
                </li>
	    		<li class="list-item">
	    			<figure class="img-sm">
                        <img src="assets/avatar/default-1.png" alt="Avatar" />
                    </figure>      
                    <div class="pull-left">         
                    	</span>Gabriela Cavazos</span>
                    </div>
    				<span class="icomoon icon-like pull-left no-padding pink"></span>
    			</li>
	    		<li class="list-item">
	    			<figure class="img-sm">
                        <img src="assets/avatar/default-1.png" alt="Avatar" />
                    </figure>
                    <div class="pull-left">
                    	<span>Rogelio Mendoza</span>
                    </div>
    				<span class="icomoon icon-like pull-left no-padding pink"></span>
    			</li>
    		</ul> 	
	    </div>
	    <p class="actions component">
          <a role="button" class="btn btn-primary btn-lg btn-block btn-uppercase" ng-click="navigateTo('Alerts','null')">Regresar</a>
        </p>
    </article>
</div>