<div class="app-preloader" id="spinner" ng-show="loading" ng-init="loaderRandom()">
    <div>
        <div class="spinner-svg vibration {{spinnerShow!=0 ? 'hide' : 'show'}}">
            <img src="assets/images/spinners/spaceship/img-spaceship.svg" alt="..." />
            <img src="assets/images/spinners/spaceship/img-fire.svg" alt="..." class="opacity" />
        </div>

        <div class="spinner-svg {{spinnerShow!=1 ? 'hide' : 'show'}}">
            <img src="assets/images/spinners/asteroid/img-asteroid.svg" alt="..." class="rotating" />
            <img src="assets/images/spinners/asteroid/img-trail.svg" alt="..." class="opacity" />
        </div>

        <div class="spinner-svg {{spinnerShow!=2 ? 'hide' : 'show'}}">
            <img src="assets/images/spinners/robot/img-robot.svg" alt="..." />
            <img src="assets/images/spinners/robot/img-light.svg" alt="..." class="spinner-complement opacity-1s"/>
            <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-0"/>
            <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-1"/>
            <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-2"/>
        </div>

        <div class="spinner-svg {{spinnerShow!=3 ? 'hide' : 'show'}}">
            <img src="assets/images/spinners/planet/img-orbit-bk.svg" alt="..." class="spinner-complement orbit-bk"/>
            <img src="assets/images/spinners/planet/img-planet.svg" alt="..." />
            <img src="assets/images/spinners/planet/img-orbit-front.svg" alt="..." class="spinner-complement"/>
            <img src="assets/images/spinners/planet/img-moon.svg" alt="..." class="spinner-complement moon"/>
        </div>
    </div>
</div>