<div class="app-preloader" id="spinner" ng-show="loading" ng-init="loaderRandom()">
    <div>
        <div class="spinner-svg incluso {{spinnerShow == 0 && loaderForLogin ? 'show' : 'hide'}}">
            <div>
                <div>
                    <img src="assets/images/spinners/incluso/img-light.svg" alt="..." class="spinner-complement rotating-10s light" />
                    <img src="assets/images/spinners/incluso/img-logo-gentera.png" alt="..."/>
                </div>
                <div class="loading-bar">
                    <div class="fill-bar"></div>
                </div>
                <div class="label-progress">
                    <span>0</span><span>%</span>
                </div>
            </div>
        </div>
        <div class="spinner-svg {{spinnerShow == 1 ? 'show' : 'hide'}}">
            <div class="vibration">
                <img src="assets/images/spinners/spaceship/img-spaceship.svg" alt="..."/>
                <img src="assets/images/spinners/spaceship/img-fire.svg" alt="..." class="opacity" />
            </div>
            <div class="points">
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-0"/>
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-1"/>
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-2"/>
            </div>
        </div>

        <div class="spinner-svg {{spinnerShow == 2 ? 'show' : 'hide'}}">
            <div>
                <img src="assets/images/spinners/asteroid/img-asteroid.svg" alt="..." class="rotating" />
                <img src="assets/images/spinners/asteroid/img-trail.svg" alt="..." class="opacity trail" />               
            </div>
            <div class="points">
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-0"/>
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-1"/>
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-2"/>
            </div>
        </div>

        <div class="spinner-svg {{spinnerShow == 3 ? 'show' : 'hide'}}">
            <img src="assets/images/spinners/robot/img-robot.svg" alt="..." />
            <img src="assets/images/spinners/robot/img-light.svg" alt="..." class="spinner-complement opacity-1s"/>
            <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-0 robot"/>
            <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-1 robot"/>
            <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-2 robot"/>
        </div>

        <div class="spinner-svg planet {{spinnerShow == 4 ? 'show' : 'hide'}}">
            <!--<div>
                <img src="assets/images/spinners/planet/img-orbit-bk.svg" alt="..." class="spinner-complement orbit-bk"/>
                <img src="assets/images/spinners/planet/img-planet.svg" alt="..." />
                <img src="assets/images/spinners/planet/img-orbit-front.svg" alt="..." class="spinner-complement orbit-front"/>
                <img src="assets/images/spinners/planet/img-moon.svg" alt="..." class="spinner-complement moon"/>
            </div>
            <div class="points">
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-0"/>
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-1"/>
                <img src="assets/images/spinners/robot/img-circle.svg" alt="..." class="spinner-complement point-2"/>
            </div>-->
            <div>
                <img src="assets/images/spinners/planet/planet_loader.gif" alt="..." class="" style="position: absolute;top: -15rem;left:-8.5rem;width: 340px;height: 266px;max-width: 300px;">
            </div>
        </div>

        <!--<div class="spinner-svg other {{spinnerAvatar === true ? 'show' : 'hide'}}">-->
            <!--<div>-->
            <!--</div>-->
            <!--<div class="points">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
