<div class="incluso-app profile" id="site-wrapper">
    <article>
        <section class="component profile-dashboard">
            <div>
                <figure>
                    <img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
                </figure>
            </div>
            <div>
                <div class="user-avatar">
                    <figure>
                        <img ng-src="{{model.profileimageurl}}" alt="" class="img-responsive" />
                        <figcaption ng-bind="model.rank >= 0 ? model.rank : '?'"></figcaption>
                    </figure>
                    <button type="button" id="editProfile" ng-click="avatar()">
                        <span class="icomoon icon-edit"></span>
                    </button>
                </div>
            </div>
            <div>
                <div class="profile-data">
                    <h4 class="user-name" ng-bind="model.alias"></h4>
                    <!-- <h4 class="user-name">leonardo garza r.</h4> -->
                    <p class="user-points">
                        <span ng-bind="model.stars"></span>
                        <span class="icomoon icon-star"></span>
                    </p>
                </div>
                <div class="profile-settings">
                    <button class="btn btn-icon-aside left" ng-click="edit();">
                        <div class="btn-icon">
                            <span class="icomoon icon-settings"></span>
                        </div>
                        <span for="">Editar</span>
                    </button>

                    <button class="btn btn-icon-aside right">
                        <div class="btn-icon">
                            <span class="icomoon icon-lock"></span>
                        </div>
                        <span for="">Privacidad</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="component profile-options">
            <div class="pages">
                <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-group separate-items">
                                    <li class="list-group-item" ng-click="navigateToPage(2)">
                                        <a href="">
                                            <span class="icomoon icon-information"></span>
                                            <span>Mi Información</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                    <li class="list-group-item" ng-click="navigateToPage(3)">
                                        <a href="">
                                            <span class="icomoon icon-star-clip"></span>
                                            <span>Mi Personalidad</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                    <li class="list-group-item hidden" ng-click="navigateToPage(4)">
                                        <a href="">
                                            <span class="icomoon icon-wallet"></span>
                                            <span>Socioeconómicos</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                    <li class="list-group-item no-badge hidden" ng-click="navigateToPage(5)">
                                        <a href="">
                                            <span class="icomoon icon-smartphone"></span>
                                            <span>Uso Tecnología</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                    <!-- <li class="list-group-item no-badge" ng-click="navigateToPage(6)" ng-show="model.strengths.length > 0">  -->
                                    <li class="list-group-item no-badge" ng-click="navigateToPage(6)">

                                        <a href="">
                                            <span class="icomoon icon-badge"></span>
                                            <span>Mis Logros</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                    <li class="list-group-item no-badge" ng-click="navigateToPage(7)" ng-show="model.recomendedBachelorDegrees.length > 0">
                                        <a href="">
                                            <span class="icomoon icon-compass"></span>
                                            <span>Mis Habilidades</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                    <li class="list-group-item no-badge" ng-click="navigateToPage(8)" ng-show="(model.dreamsToBe.length > 0 || model.dreamsToHave.length > 0 || model.dreamsToDo.length > 0)">
                                        <a href="">
                                            <span class="icomoon icon-workman"></span>
                                            <span>Mis Áreas de Oportunidad</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                    <li class="list-group-item no-badge" ng-click="navigateToPage(9)" ng-show="(model.dreamsToBe.length > 0 || model.dreamsToHave.length > 0 || model.dreamsToDo.length > 0)">
                                        <a href="">
                                            <span class="icomoon icon-rocket"></span>
                                            <span>Elige el Rumbo</span>
                                            <span class="icomoon icon-star"></span>
                                            <span class="icomoon icon-arrow-slim-right"></span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 2 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-click="navigateToPage(1)">
                                        <span class="icomoon icon-arrow-slim-left"></span>
                                        <span class="icomoon icon-information"></span>
                                        <h3 class="panel-title">Mi Información</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="my-profile-information">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">

                                                        <div class="profile-info-asset">
                                                            <h4>Datos Generales</h4>

                                                            <div class="from-group">
                                                                <label>Nombre(s)</label>
                                                                <p ng-bind="model.firstname"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Apellido paterno</label>
                                                                <p ng-bind="model.lastname"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Apellido materno</label>
                                                                <p ng-bind="model.mothername"></p>
                                                            </div>

                                                            <!--<div class="from-group">
                                                                <label>Alias</label>
                                                                <p ng-bind="model.alias"></p>
                                                            </div>-->

                                                            <div class="from-group">
                                                                <label>Sexo</label>
                                                                <p ng-bind="model.gender"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>País de nacimiento</label>
                                                                <p ng-bind="model.birthCountry"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Fecha de nacimiento</label>
                                                                <p ng-bind="model.birthday" ng-init="model.birthday == 'MM/dd/yyyy'"></p>
                                                                <!--p {{ng-bind="model.birthday" | date: "MM/dd/yyyy"}}></p-->
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Edad</label>
                                                                <p ng-bind="model.age"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Estado civil</label>
                                                                <p ng-bind="model.maritalStatus"></p>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Educación</h4>
                                                            <ul class="block-list">
                                                                <li ng-repeat="s in model.studies">
                                                                    <div class="from-group">
                                                                        <label ng-bind="s.levelOfStudies"></label>
                                                                        <p ng-bind="s.school"></p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Dirección</h4>
                                                            <div class="from-group">
                                                                <label>País</label>
                                                                <p ng-bind="model.address.country"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Ciudad</label>
                                                                <p ng-bind="model.address.city"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Delegación/Municipio</label>
                                                                <p ng-bind="model.address.town"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Código postal</label>
                                                                <p ng-bind="model.address.postalCode"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Calle</label>
                                                                <p ng-bind="model.address.street"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Número</label>
                                                                <p ng-bind="model.address.num_ext"></p>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Colonia</label>
                                                                <p ng-bind="model.address.colony"></p>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Teléfonos</h4>
                                                            <ul class="block-list">
                                                                <li ng-repeat="s in model.phones">
                                                                    <div class="from-group">
                                                                        <label>Teléfono {{model.phones.indexOf(s) + 1}}</label>
                                                                        <p ng-bind="s"></p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Redes sociales</h4>
                                                            <ul class="block-list">
                                                                <li ng-repeat="s in model.socialNetworks">
                                                                    <div class="from-group">
                                                                        <label ng-bind="s.socialNetwork"></label>
                                                                        <p ng-bind="s.socialNetworkId"></p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Familia Compartamos</h4>
                                                            <ul class="block-list">
                                                                <li ng-repeat="s in model.familiaCompartamos">
                                                                    <div class="from-group">
                                                                        <label ng-bind="s.relationship"></label>
                                                                        <p ng-bind="s.relativeName"></p>
                                                                        <p>
                                                                            <em>No. Cliente:</em>
                                                                            <span ng-bind="s.idClient"></span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                   
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 3 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-click="navigateToPage(1)">
                                        <span class="icomoon icon-arrow-slim-left"></span>
                                        <span class="icomoon icon-star-clip"></span>
                                        <h3 class="panel-title">Mi Personalidad</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="my-profile-information">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">

                                                        <div class="profile-info-asset">
                                                            <h4>Mis gustos</h4>
                                                            <div class="from-group">
                                                                <label>Mis deportes preferidos</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.favoriteSports">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Actividades artísticas</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.artisticActivities">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Hobbies</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.hobbies">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Mis cualidades</h4>
                                                            <div class="from-group">
                                                                <label>Talentos</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.talents">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Valores</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.values">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>Habilidades</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.habilities">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>A quién admiro</h4>
                                                            <ul class="block-list">
                                                                <li ng-repeat="s in model.inspirationalCharacters">
                                                                    <div class="from-group">
                                                                        <label>Nombre</label>
                                                                        <p ng-bind="s.characterName"></p>
                                                                    </div>
                                                                    <div class="from-group">
                                                                        <label>Tipo de personaje</label>
                                                                        <p ng-bind="s.characterType"></p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 4 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-click="navigateToPage(1)">
                                        <span class="icomoon icon-arrow-slim-left"></span>
                                        <span class="icomoon icon-wallet"></span>
                                        <h3 class="panel-title">Socioeconómicos</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="my-profile-information">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">

                                                        <div class="profile-info-asset">
                                                            <h4>Vivienda</h4>
                                                            <div class="from-group">
                                                                <label>Vivo con</label>
                                                                <p ng-bind="model.iLiveWith"></p>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Actividad</h4>
                                                            <div class="from-group">
                                                                <label>Mi actividad principal</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.mainActivity">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Actualmente estudio</h4>
                                                            <ul class="block-list">
                                                                <li ng-repeat="s in model.currentStudies">
                                                                    <div class="from-group">
                                                                        <label>Nivel</label>
                                                                        <p ng-bind="s"></p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Familiar</h4>
                                                            <div class="from-group">
                                                                <label>Tengo hijos</label>
                                                                <p ng-bind="model.children"></p>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Ingresos</h4>
                                                            <div class="from-group">
                                                                <label>Recibo ingresos</label>
                                                                <p ng-bind="model.gotMoneyIncome"></p>
                                                            </div>
                                                            <div class="from-group">
                                                                <label>Fuente de ingresos</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.moneyIncome">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Salud</h4>
                                                            <div class="from-group">
                                                                <label>Cuento con seguro médico</label>
                                                                <p ng-bind="model.medicalCoverage"></p>
                                                            </div>
                                                            <div class="from-group">
                                                                <label>Mi seguro es</label>
                                                                <p ng-bind="model.medicalInsurance"></p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 5 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-click="navigateToPage(1)">
                                        <span class="icomoon icon-arrow-slim-left"></span>
                                        <span class="icomoon icon-smartphone"></span>
                                        <h3 class="panel-title">Uso Tecnología</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="my-profile-information">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">

                                                        <div class="profile-info-asset">
                                                            <h4>Dispositivos</h4>
                                                            <div class="from-group">
                                                                <label>¿Qué dispositivo sabes usar?</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.knownDevices">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>¿Con qué dispositivos móviles cuentas?</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.ownDevices">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="from-group">
                                                                <label>¿Qué es lo que más haces con un celular?</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.phoneUsage">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-asset">
                                                            <h4>Videojuegos</h4>
                                                            <div class="from-group">
                                                                <label>¿Juegas videojuegos?</label>
                                                                <p ng-bind="model.playVideogames"></p>
                                                            </div>
                                                            <div class="from-group">
                                                                <label>¿Con qué frecuencia juegas videojuegos?</label>
                                                                <p ng-bind="model.videogamesFrecuency"></p>
                                                            </div>
                                                            <div class="from-group">
                                                                <label>¿Cuántas horas juegas al día?</label>
                                                                <p ng-bind="model.videogamesHours"></p>
                                                            </div>
                                                            <div class="from-group">
                                                                <label>¿Qué tipo de videojuegos te gustan más?</label>
                                                                <p ng-bind="model.kindOfVideogames"></p>
                                                            </div>
                                                            <div class="from-group">
                                                                <label>¿Cuáles son tus juegos favoritos?</label>
                                                                <ul class="block-list">
                                                                    <li ng-repeat="s in model.favoriteGames">
                                                                        <p ng-bind="s"></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 6 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default achievements">
                                    <div class="panel-heading">
                                        <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                        <span class="icomoon icon-badge"></span>
                                        <h3 class="panel-title" style="cursor:pointer;">Mis Logros</h3>
                                    </div>
                                    <div class="panel-body">

                                        <div class="container-fluid">
                                            <div class="row">

                                                <div ng-repeat="badge in wholeBadgesPages[badgePage]" class="badge-item text-center">
                                                    <img class="badgesviews" ng-src="assets/images/insignias/{{badge.id}}.svg" alt="" class="img-responsive" width="100px"
                                                    height="100px" ng-click="showDetailBadge(badge.id, badge.name, badge.dateIssued, badge.earned_times)" ng-show="badge.status != 'pending'"
                                                    />
                                                    
                                                    <img class="badgesviews" ng-src="assets/images/insignias/placeholder.svg" alt="" class="img-responsive" width="100px"
                                                    height="100px" ng-click="showDetailBadge('placeholder', badge.name, badge.dateIssued, badge.earned_times, badge.status)" ng-show="badge.status == 'pending'"
                                                    />
                                                    
                                                    <span class="badgename text-center" ng-bind="badge.name"></span>
                                                </div>

                                                <div class="pager">
                                                    <a class="icomoon icon-arrow-bold-left" ng-click="changepage(-1)" ng-show="normalBadgePage > 1"></a>
                                                    <a class="disabled icomoon icon-arrow-bold-left" disabled="disabled" ng-show="normalBadgePage == 1"></a>
                                                    <span>
                                                        <span ng-bind="normalBadgePage" class="actual-page"></span>/
                                                        <span ng-bind="totalBadgePages"></span>
                                                    </span>
                                                    <a class="icomoon icon-arrow-bold-right" ng-click="changepage(1)" ng-show="normalBadgePage < totalBadgePages"></a>
                                                    <a class="disabled icomoon icon-arrow-bold-right" disabled="disabled" ng-show="normalBadgePage == totalBadgePages"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 7 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                        <span class="icomoon icon-compass"></span>
                                        <h3 class="panel-title">Mis habilidades</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="my-profile-information">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="block-list" ng-repeat="b in model.recomendedBachelorDegrees">
                                                            <li>
                                                                <p ng-bind="b"></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 8 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                        <span class="icomoon icon-workman"></span>
                                        <h3 class="panel-title">Mis Áreas de Oportunidad</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="my-profile-information">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h5>Sueños Ser</h5>
                                                        <ul class="block-list" ng-repeat="db in model.dreamsToBe">
                                                            <li>
                                                                <p ng-bind="db"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        </ul>

                                                        <h5>Sueños Tener</h5>
                                                        <ul class="block-list" ng-repeat="dh in model.dreamsToHave">
                                                            <li>
                                                                <p ng-bind="dh"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        </ul>

                                                        <h5>Sueños Hacer</h5>
                                                        <ul class="block-list" ng-repeat="dd in model.dreamsToDo">
                                                            <li>
                                                                <p ng-bind="dd"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        </ul>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

                <div class="page" ng-class="currentPage == 9 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                        <span class="icomoon icon-rocket"></span>
                                        <h3 class="panel-title">Carreras Afines</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="my-profile-information">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="block-list" ng-repeat="b in model.recomendedBachelorDegrees">
                                                            <li>
                                                                <p ng-bind="b"></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->


                <div class="page" ng-class="currentPage == 10 ? 'active' : ''">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default achievement-detail">
                                    <div class="panel-heading">
                                        <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                        <span class="icomoon icon-information"></span>
                                        <h3 class="panel-title">Mis Insignias</h3>
                                    </div>
                                    <div class="panel-body">

                                    <div class="my-profile-information">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="achievement-badge">
                                                        <!--
                                                        <img class="badgesviews" ng-src="assets/images/insignias/{{badgeId}}.svg" alt="" class="img-responsive" width="100px" height="100px"
                                                        />
                                                        -->
                                                        <img class="badgesviews" ng-src="assets/images/insignias/{{badgeId}}.svg" alt="" class="img-responsive" width="100px"
                                                        height="100px" />
                                                        <!--
                                                        <img class="badgesviews" ng-src="assets/images/insignias/placeholder.svg" alt="" class="img-responsive" width="100px"
                                                        height="100px" ng-show="status == 'pending'"
                                                        />
                                                        -->
                                                        <div class="badgename" ng-bind="badgeName"></div>
                                                        <div class="badgedate" ng-bind="badgeDateIssued"></div>
                                                    </div>
                                                    <div class="achievement-description">
                                                        <span>
                                                            Cumpliste con los retos de la seccion de "Mis Sueños" y asi obtuviste la Turbina CONO-CT para colocarla en tu nave espacial y estar mas cerca del despegue de tu aventura.
                                                        </span>
                                                    </div>
                                                    <div class="earned-info">
                                                        <span class="users"><span ng-show="status != 'pending'">Tú y</span>
                                                            <span ng-bind="earnedTimes"></span>
                                                        </span>jóvenes han ganado esta insignia
                                                    </div>
                                                    <!--
                                                    <div class="share-achievement">
                                                        <span class="icon-container">
                                                            <span class="icomoon icon-share"></span>

                                                        </span>
                                                        <span class="share-text">Compartir Insignia</span>
                                                    </div>
                                                    -->

                                                    <button class="btn btn-primary btn-lg btn-cnt" ng-click="navigateToPage(6)" type="button">Regresar</button>
                                                    <div class="txt-renglon centered txt-bigger"></div>
                                                </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End of page -->

            </div>
        </section>
    </article>
</div>