<div class="incluso-app step-dashboard">
    <article class="starway award">
        <div class="green-border">
            <div class="logo"><img src="assets/images/reconocimiento-logo.gif"></div>
            <!--<section class="subtitle centered txt-renglon txt-bigger">Otorga el presente reconocimiento a</section>-->
            <section class="subtitle centered txt-renglon txt-bigger">{{::contentResources.recognition_title}}</section>
            <img class="medalla" ng-src="assets/images/badges/{{profile.awards.title}}-medal.gif">
            <section class="centered txt-renglon username">
                <div>{{::profile.firstname}}</div>
                <div>{{::profile.lastname + " " + profile.mothername}}</div>
            </section>
            <section class="centered txt-renglon">
                <div>{{::contentResources.cause}}</div>
                <div class="subtitle">{{::contentResources.project_name}} {{::lastActivityYear * 1000 | date:'yyyy' }}</div>
                <div>{{::contentResources.motivation}}</div>
                <!--<div>Por su participación en la misión</div>-->
                <!--<div class="subtitle">Incluso {{::currentYear}}</div>-->
                <!--<div>Para una inclusión Productiva Sana</div>-->
            </section>
            <section class="centered txt-renglon quote">
                <div class="subtitle">{{::contentResources.recognition_quote_title}}</div>
                <div>{{::contentResources.recognition_quote_content}}</div>
                <div class="author">{{::contentResources.recognition_quote_author}}</div>
                <!--<div class="subtitle">Todos tenemos sueños</div>-->
                <!--<div>pero para que se vuelvan realidad se necesita una gran determinación, autodisciplina y esfuerzo...</div>-->
                <!--<div class="author">Jesse Owens</div>-->
            </section>
        </div>
        <section class="txt-renglon distribuido">
            <a href="" class="icon-circle" ng-click="download()">
                <span class="icomoon icon-download"></span>
            </a>
            <a href="" class="icon-circle" ng-click="shareByEmail()">
                <span class="icomoon icon-envelope"></span>
            </a>
            <a href="" class="icon-circle" ng-click="shareToCommunityClick()" ng-show="hasCommunityAccess" ng-class="{'active': !communityModalOpen}">
                <span class="icomoon icon-share"></span>
            </a>
            <a href="" class="icon-circle" ng-click="shareToSocialNetworks()">
                <span class="icomoon icon-more-options-horizontal"></span>
            </a>
        </section>

        <div id="shareAlbum" class="modalDialog" collapse="communityModalOpen" ng-show="hasCommunityAccess">
            <span class="arrow-up"></span>
            <div>
                <div class="add"><span class="icomoon icon-edit"></span><textarea placeholder="Agregar texto..." value="" ng-model="textToCommunity"></textarea></div>
                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="shareToCommunity()">{{::contentResources.share_button}}</a>
                <!--<a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="shareToCommunity()">Compartir en Comunidad</a>-->
            </div>
        </div>


        <div id="openModal2" class="modalDialog reportModal" ng-show="shareToCommunityOpen">
            <div>
                <a title="close" class="close"></a>
                <div class="add">Has compartido tú reconocimiento.</div>
                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="navigateTo('/Community/50000', '',50000)">Ir a Comunidad</a>
                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="shareToCommunityOpen = false">Cerrar</a>
            </div>
        </div>
        <div id="openModal3" class="modalDialog reportModal" ng-show="shareToDownloadOpen">
            <div>
                <a title="close" class="close"></a>
                <div class="add">Has descargado tú reconocimiento.</div>
                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="shareToDownloadOpen = false">Cerrar</a>
            </div>
        </div>
        <div id="openModal4" class="modalDialog reportModal" ng-show="shareToEmailOpen">
            <div>
                <a title="close" class="close"></a>
                <div class="add">Has compartido tu reconocimiento por correo.</div>
                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="shareToEmailOpen = false">Cerrar</a>
            </div>
        </div>
        <div id="openModal5" class="modalDialog reportModal" ng-show="shareToSocialNetworksOpen">
            <div>
                <a title="close" class="close"></a>
                <div class="add">Has compartido tu reconocimiento en redes sociales.</div>
                <a class="btn btn-primary btn-lg btn-cnt" role="button" ng-click="shareToSocialNetworksOpen = false">Cerrar</a>
            </div>
        </div>
    </article>
</div>