<div class="incluso-app step-dashboard">
	<div id="site-canvas">
		<article class="starway award">
			<div class="yellow-border">
				<!--img src=""-->
				<section class="subtitle centered txt-renglon txt-bigger">Otorga el presente reconocimiento a</section>
				<!--img src=""/-->
				<section class="centered txt-renglon">Leonardo Vásquez Lopez</section>
				<section class="centered txt-renglon txt-bigger">
					<div>Por su participación en la misión</div>
					<div class="subtitle">Incluso 2015</div>
					<div>Para una inclusión Productiva Sana</div>
				</section>
				<section class="centered txt-renglon">
					<div class="subtitle">Todos tenemos sueños</div>
					<div>pero para que se vuelvan realidad se necesita una gran determinación, autodisciplina y esfuerzo...</div>
					<div>Jesse Owens</div>
				</section>		
			</div>
			<section class="txt-renglon distribuido">
		      <a href="" class="icon-circle">
		        <span class="icomoon icon-text"></span>
		        <span class="arrow-up"></span>
		      </a>
		      <a href="" class="icon-circle">
		        <span class="icomoon icon-hyperlink"></span>
		        <span class="arrow-up"></span>
		      </a>
		      <a href="" class="icon-circle">
		        <span class="icomoon icon-share"></span>
		        <span class="arrow-up"></span>
		      </a>
		      <a href="" class="icon-circle">
		        <span class="icomoon icon-more-options"></span>
		        <span class="arrow-up"></span>
		      </a>
		    </section>
		</article>
	</div>
</div>