<div class="modal-open">
   <div class="pages feedback-modal ">     
      <div class="page "  ng-class="currentPage == 1 ? 'show' : 'hidden'">
         <div class="user-help-modal feedback">
            <div class="modal-robot robot-sm user-help">
               <div class="icon-img">
                  <img src="assets/images/svg/icon-walkie-talkie.svg" alt="Logo" />
               </div>
               <div class="modal-body">                
                  <h3 class="subtitle text-center">Retroalimentación<br/>Zona de vuelo</h3>
                  <div>
                     <p class="txt-renglon centered">{{messageProfile.description}}</p>
                     <div class="txt-renglon">
                        <button type="button" ng-click="continueActivity()" class="btn btn-primary btn-lg btn-cnt">Continuar</button>    
                     </div>
                  </div> 
               </div>
            </div>
         </div>
      </div>
   </div>
      <!-- activity closing  -->
   <div class="page blueprint evaluation " ng-class="currentPage == 2 ? 'show' : 'hidden'">
      <div id="finalized">
         <section class="header-title">                
            <div class="txt-renglon centered txt-bigger min-pad ">{{::closingContent.closing_message}}</div>
            <div class="subtitle centered min-pad ">{{::activity.activityname}}</div>
            <div class="txt-renglon centered txt-bigger min-pad ">{{::closingContent.closing_message_congrats}}</div>
         </section>
         <section class="centered txt-bigger ">
            <span class="icomoon icon-checked-join txt-bigger green-giant"></span>
         </section>
         <section class="txt-renglon pill">
            <div class="pull-left">{{::closingContent.earned_stars}}</div>
            <div class="pull-right sm-pill">
               <span class="pull-left">{{::activity.points}}</span>
               <span class="icomoon icon-star pull-right"></span>
            </div>
         </section>
         <section class="txt-renglon centered form ">                
            {{::closingContent.activity_rating_label}}
            <section class="txt-renglon txt-bigger clearfix">
                <div>
                   <div class="opinion">
                      <input id="like" type="radio" value="1" name="like" ng-model="like_status">
                      <label for="like">{{::closingContent.like_label}}</label>
                   </div>
                   <div class="opinion">
                      <input id="dislike" type="radio" value="0" name="like" ng-model="like_status">
                      <label for="dislike">{{::closingContent.not_like_label}}</label>
                   </div>
                </div>
            </section>
            <a class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()">{{::closingContent.finish_button}}</a>
         </section>
      </div>
   </div>
</div>