<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Incluso Digital</title>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/css.css"> -->
  <link rel="stylesheet" type="text/css" href="../../assets/styles/dev-css.css">
  <script type="text/javascript" src="../../Scripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../../Scripts/bootstrap-3.3.2.js"></script>
  <script type="text/javascript" src="../../Scripts/angular.js"></script>
  <script type="text/javascript" src="../../Scripts/owl.carousel.min.js"></script>
</head>
<body ng-app>
<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-menu" class="navbar-collapse">
    <ul class="nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
  <div id="site-canvas">

    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a href="#" data-transition="ease" id="menuton"><i class="icomoon icon-more-options white"></i> Estación: Conócete</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>                 
              </ul>
            </div> 
          </div>
        </div>
      </div> <!-- /.container-fluid -->
    </nav>

  <article class="blueprint">
<section>
<div class="subtitle">Class: subtitle</div>
<div class="txt-renglon">Class: txt-renglon</div>
<div class="txt-renglon txt-bigger">Class: txt-renglon txt-bigger</div>
</section>    
<section class="forma txt-renglon up-line">

<div>Section classes: forma txt-renglon up-line</div>
<div>
<label class="select-label">Class: select-label</label>
				<select class="cs-select cs-skin-rotate">
					<option value="1">Class</option>
					<option value="2">cs-select</option>
					<option value="3">cs-skin-rotate</option>
				</select>
				* Javascript needed
</div>
		<input type="radio" value="sime" name="gender" id="male">
		<label for="male">input radio</label>
		<input type="radio" value="nome" name="gender" id="female">
		<label for="female">no class</label>
		<input type="radio" value="auno" name="gender" id="auno">
		<label for="auno">but inside forma</label>

				<input type="checkbox" value="check1" name="check" id="check1">
		<label for="check1">input checkbox</label>
		<input type="checkbox" value="check1" name="check" id="check2">
		<label for="check2">Inside</label>
		<input type="checkbox" value="check1" name="check" id="check3">
		<label for="check3">forma</label>
		<br/>
		DIV Class: tnf
		<div class="tnf">
			<input type="radio" value="verdadero" name="vf" id="tru">
			<label for="tru">input radio</label>
			<input type="radio" value="Falso" name="vf" id="fols">
			<label for="fols">no class</label>
		</div>
		<br/>
<button class="btn btn-primary btn-lg btn-cnt" type="button">btn btn-primary<br/>btn-lg btn-cnt</button>
</section>	
<section id="suenios">

<div class="txt-renglon">Section Id:suenios</div>

	<div class="parte"><span>Class: parte</span><i class="icomoon icon-edit fl-right"></i></div>
	<div class="parte"><span>Class icon: icon-edit fl-right</span><i class="icomoon icon-edit fl-right"></i></div>
	<div class="parte"><span>SPAN</span><i class="icomoon icon-edit fl-right"></i></div>
</section>

<section class="controls">

<div class="txt-renglon">Section class: controls</div>

<div class="agregar">
	<i class="icomoon icon-edit"></i>
	<span>Class: agregar</span>

</div>

<div class="paginadores">
<i class="icomoon icon-arrow-bold-left txt-bigger fl-left notw"></i>
<i class="icomoon icon-arrow-bold-right txt-bigger fl-right"></i>
<div class="centrado"><span class="txt-bigger">Class: </span><span class="blanco txt-bigger">paginadores</span></div>
</div><br/>
</section>
<section class="centrado txt-bigger">
<div class="txt-renglon">Section Class: centrado txt-bigger</div>

<i class="icomoon icon-checked-join txt-bigger green-giant"></i>


<div class="txt-renglon">Icon Class: icon-checked-join txt-bigger green-giant</div>
</section>
<section class="txt-renglon txt-bigger pill">
<div class="fl-left">Sec class: pill</div><div class="fl-right sm-pill">sm-pill&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
</section>

<div class="txt-renglon">Section class: txt-renglon distribuido</div>
<section class="txt-renglon distribuido">
<a href="#openModal1"><img src="../../assets/images/aa.svg"></a>
<a href="#openModal2"><img src="../../assets/images/link.svg"></a>
<a href="#openModal3"><img src="../../assets/images/play.svg"></a>
<a href="#openModal4"><img src="../../assets/images/clip.svg"></a>
</section>
<div class="txt-renglon">* Next is the section class: modales, with 4 divs class: modalDialog</div>

<section class="modales">

<div id="openModal1" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close"></a>
<div class="agregar"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar texto..." value=""/></div>

<button class="btn btn-primary btn-lg btn-cnt" type="button">Class↑: agregar</button>
	</div>
</div>

<div id="openModal2" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close"></a>
<div class="agregar"><i class="icomoon icon-edit"></i><input type="text" placeholder="input text" value=""/></div>

<button class="btn btn-primary btn-lg btn-cnt" type="button">Class↑: agregar</button>
	</div>
</div>

<div id="openModal3" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close"></a>
<div class="agregar"><i class="icomoon icon-edit"></i><input type="text" placeholder="Agregar ruta de tu peli..." value=""/></div>

<button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
	</div>
</div>

<div id="openModal4" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close"></a>
<div class="agregar"><i class="icomoon icon-edit"></i><input type="text" placeholder="Atachea algo..." value=""/></div>

<button class="btn btn-primary btn-lg btn-cnt" type="button">Compartir</button>
	</div>
</div>
</section>
<section class="wall">

<div class="txt-renglon">Section Class: wall</div>
<div class="parte">
  <div class="author"><img src="../../assets/images/avatar.svg">
  <div>   Class: author <span>span:</span>   
  <div>Structure: img div{span div}</div>
  </div>
</div>
<div class="block">  
  Class: block
<img src="../../assets/images/avatar.svg">
  <div>DIV { <span class="green">Span class: green</span> }</div></div>
<div class="coment block"><img src="../../assets/images/avatar.svg">
  <div>   Class: coment block <span>span:</span>   <div>Structure = .author</div>
  </div>
</div>
<div class="coment block"><img src="../../assets/images/avatar.svg">
  <div>   DIV{ <span>span</span>   <div>}</div>
  </div>
</div>

<div class="vermas">
Class: vermas
<i class="icomoon icon-plus"></i>
</div>
<div class="social">
<div><i class="icomoon icon-required"></i> DIV Class:
</div>
<div><i class="icomoon icon-required"></i> social
</div>
</div>
</div>

<div class="vermas">
Class: vermas
<i class="icomoon icon-plus"></i>
</div>
</section>
  </article>

  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centrado txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centrado txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
		</div>
		</div>
  <!-- html -->
  <!-- scripts -->

    
    <script>
    $(document).ready(function() {
    var owl = $("#owl-demo");
		owl.owlCarousel({
			navigation:false,
			pagination:false,
			paginationSpeed : 1000,
			goToFirstSpeed : 2000,
			singleItem : true,
			autoHeight : true,
			transitionStyle:"fade"
		});
		
		$("#next").click(function(){
			owl.trigger('owl.next');
		  })
		$("#prev").click(function(){
			owl.trigger('owl.prev');
		  })
    $('#menuton').click(function() {
      var transitionClass = $(this).data('transition');
      $('body').removeClass();
      $('#site-canvas').removeClass();
      $('#site-canvas').addClass(transitionClass);
      $('#site-wrapper').toggleClass('show-nav');

      return false;
    });
    });
    </script>
	
  		<script src="../../Scripts/classie.js"></script>
		<script src="../../Scripts/selectFx.js"></script>
		<script>
			(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el);
				} );
			})();
		</script>

</body>
</html>