<div class="incluso-app use-terms experience-share">	
	<article class="starway component">		
		<h3 class="main-title text-left">Compartir experiencia</h3>
			<p>Aquí podrás darnos tu testimonio de cómo te fue con tus proyectos.</p>
		<div class="container">			
			<section class="">
				<h4>Mi testimonio</h4>
				<div class="form-group theme-form">
					<div class="form-group-control">
						<div class="add">
                            <span class="icomoon icon-edit"></span>
                            <textarea 
                                id="textoarea1" 
                                class="form-control form-control-lg theme-form ng-pristine ng-valid ng-touched"
                                row="2"
                                name="opciones" 
                                placeholder="Escribe aquí acerca de tu experiencia con Misión Incluso, todo lo que has logrado..." 
                                ng-model="dreamsLists.answers[0][$index]" ng-readonly="setReadOnly"></textarea>
                        </div>
					</div>
				</div>
			</section>

			<section class="media-experience">
				<h4>Fotografias</h4>
				<ul class="media-list">
					<li class="media-item">						
						<figure class="">
							<caption>
								<a class="btn btn-circle pull-right" ng-click="deleteSueno1($index)" ng-hide="setReadOnly">
                                	<span class="icomoon icon-cross white"></span>
	                            </a>
                            </caption>
							<img src="assets/images/ptr-video-0001.jpg" alt="sample" />
						</figure>
					</li>
					<li class="media-item">
						<figure class="">
							<caption>
								<a class="btn btn-circle pull-right" ng-click="deleteSueno1($index)" ng-hide="setReadOnly">
                                	<span class="icomoon icon-cross white"></span>
	                            </a>
                            </caption>
							<img src="assets/images/ptr-video-0001.jpg" alt="sample" />
						</figure>
					</li>
				</ul>
				<a class="btn btn-block btn-add" ng-click="addStudy();">
					<span class="icomoon icon-plus"></span>Agregar nueva fotografía...
				</a>
			</section>
		
			<div class="actions">
				<div class="page-controls">													
					<a type="button" class="btn btn-primary btn-lg btn-block" ng-click="save()">Compartir</a>
					<a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
				</div>
				
			</div>

		</div>
</article>
</div>