<div class="incluso-app content-page-theme" id="site-wrapper">
    <article>
      <div class="container">
        <section class="component">
            <h3 ng-class="main-title">{{contentResources.t_and_c_title}}</h3> 
            <div ng-bind-html="contentResources.t_and_c_content.value"></div>
                <div class="checkbox checkbox-custom change-of-term" ng-show="showCheckbox">
                    <label>
                        <input type="checkbox"  name="termsAndConditions" class="ng-pristine ng-untouched ng-valid" ng-model="acceptsNewTerms" ng-change="changeButton()">
                        <span>Acepto los términos y condiciones</span>
                    </label>
                </div>
                <a role="button" class="btn btn-primary btn-lg btn-block" ng-click="accepted ? navigateTo('ProgramaDashboard', 'sideToggle'):processNewTerms()">{{ termsButtonText }}</a>
        </section>
      </div>
    </article>
</div>
