<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-menu" >

  </div>
  <div id="site-canvas">

    <article class="use-terms">
      <div class="container">

        <section class="component">
          <h3 ng-class="main-title">Condiciones de uso</h3>
          		<p>Todos los elementos que conforman el contenido de esta aplicación, identificado por el
              nombre de “Misión Incluso”, incluyendo de manera enunciativa más no limitativa, los
              nombres comerciales, marcas u otros signos distintivos que figuren en la misma son
              propiedad de Gentera, S.A.B. y se encuentran protegidos bajo las leyes de Propiedad
              Industrial. Los derechos de Propiedad Intelectual sobre los contenidos, diseño gráfico,
              estructura, elementos audiovisuales y demás elementos de este sitio web son
              propiedad exclusivamente de Gentera, S.A.B., quedando expresamente prohibido su
              reenvío, transmisión, modificación, reproducción, distribución, comercialización o
              cualquier otro tipo de explotación comercial en términos de las leyes aplicables sin el
              previo consentimiento y autorización expresa para ello, por parte del titular de los
              derechos patrimoniales mencionado previamente.</p>
              <p>En virtud de lo anterior, salvo el uso que se llegue a dar para fines personales o
              privados, a los cuales se encuentra autorizado el usuario, cualquier uso distinto que se
              dé a cualquiera de los elementos de propiedad intelectual e industrial mencionados en
              el párrafo previo constituirá en sí mismo una infracción a los derechos de propiedad
              intelectual e industrial por lo que el titular de los mismos, podrá proceder civil e incluso
              penalmente de acuerdo a las leyes aplicables.</p>
              <br>
              <a class="btn btn-primary btn-lg btn-block" ng-click="navigateTo('ProgramaDashboard', 'sideToggle')">Regresar</a> 
        </section>
        
      </div> <!-- /.container -->
      <img src=".../../assets/images/img-lines-ftr.png" class="centered">

    </article>

  </div>
</div>
  
