<div class="navbar navbar-app navbar-absolute-top" id="navBar" ng-class="{'navbar-blue': navbarBlue, 'navbar-orange': navbarOrange, 'show': showToolbar, 'navbar-green': navbarGreen, 'navbar-pink': navbarPink }">
  <a class="navbar-toggle collapsed" ng-click="sideToggle()">
    <span class="sr-only">Toggle navigation</span>
    <span class="icomoon icon-more-options"></span>
  </a>

  <div class="navbar-assets clearfix">
    <h1 class="navbar-heading">{{pageName}}</h1>
    <ul class="navbar-tools">

      <li ng-class="toolbarOptionActive(['/Perfil','/Perfil/Editar', '/Perfil/ConfigurarPrivacidad', '/Juegos/Avatar'])">
        <a ng-click="navigateToMyProfile()">
          <span class="icomoon icon-profile"></span>
        </a>
      </li>  

      <li ng-class="toolbarOptionActive('/Chat')">
        <a ng-click="navigateTo('/Chat', 'Cabina de soporte', 'chat', 'navbarorange')">
          <span class="icomoon icon-headset"></span>
        </a>
        <div class="bubble bubble-sm" ng-show="showChatNotification()">
          <p class="number-alerts">...
            <span class="glyphicon glyphicon-triangle-top"></span>
          </p>
        </div>        
      </li>

      <li ng-class="toolbarOptionActive('/Alerts')">
        <a ng-click="navigateTo('Alerts', 'Notificaciones', 'null', 'navbarorange')">
          <span class="icomoon icon-broadcast"></span>
        </a>
        <div class="bubble bubble-sm" ng-show="showNotification()">
          <p class="number-alerts">{{totalNotifications}}
            <span class="glyphicon glyphicon-triangle-top"></span>
          </p>
        </div>
      </li>      

      <li ng-class="toolbarOptionActive('/Community/50000')">
        <a ng-click="navigateTo('Community/50000', 'Comunidad', 50000)">
          <span class="icomoon icon-community"></span>
        </a>
      </li>
    </ul>
  </div>
</div>