<div class="incluso-app tutorial">
    <article>
        <section>
            <form action="" class="container-fluid" name="registerForm" ng-show="!isRegistered">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="subtitle centered text-uppercase" ng-class="main-title" ng-bind="contentResources.tutorial_title"></h3>
                    </div>
                </div>
                <div class="pages">
                    <div class="page" data-page="1" ng-class="currentPage === 1 ? 'active' : ''">
                        <div class="txt-renglon centered" ng-bind-html="contentResources.etiqueta_titulo_video"></div>
                        <div class="video-gallery">
                            <div class="stage">
                                <a class="icon icon-play" ng-click="playVideo('assets/media', 'video-tutorial.mp4')">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                                <figure class="poster">
                                    <img src="assets/media/thumb-tutorial.jpg"/>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-number">
                                    <p class="text-center">
                                        <a class="disabled"><span class="icomoon icon-arrow-bold-left"></span></a>
                                        <span>1</span>
                                        <span>/</span>
                                        <span class="total-number">3</span>
                                        <a ng-click="navigateToPage(2)"><span class="icomoon icon-arrow-bold-right"></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="txt-renglon">
                            <button type="button" class="btn btn-primary btn-lg btn-block text-uppercase" ng-click="navigateToPage(2)" ng-bind="contentResources.tutorial_continue_button"></button>
                        </div>
                    </div>
                    <div class="page" data-page="2" ng-class="currentPage === 2 ? 'active' : ''">                        
                        <section>
                            <div class="txt-renglon centered" ng-bind-html="contentResources.tutorial_instructions.value" ng-show="!isInstalled"></div>
                            <div class="txt-renglon centered" ng-bind-html="contentResources2.tutorial_instructions.value" ng-show="isInstalled"></div>
                        </section>
                        <section class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="page-number">
                                        <p class="text-center">
                                            <a ng-click="navigateToPage(1)"><span class="icomoon icon-arrow-bold-left"></span></a>
                                            <span>2</span>
                                            <span>/</span>
                                            <span class="total-number">3</span>
                                            <a ng-click="navigateToPage(3)"><span class="icomoon icon-arrow-bold-right"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="txt-renglon">
                            <button type="button" class="btn btn-primary btn-lg btn-block text-uppercase" ng-show="!isInstalled" ng-click="avatar()" ng-bind="contentResources.tutorial_download_button"></button>
                            <!--<button type="button" class="btn btn-primary btn-lg btn-block text-uppercase" ng-show="isInstalled" ng-click="avatar()" ng-bind="contentResources.tutorial_start_game_button"></button>-->
                        </section>
                    </div>
                    <div class="page" data-page="3" ng-class="currentPage === 3 ? 'active' : ''">
                        <section>
                            <div class="txt-renglon centered" ng-bind-html="contentResources3.tutorial_instructions.value"></div>
                        </section>
                        <section class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="page-number">
                                        <p class="text-center">
                                            <a ng-click="navigateToPage(2)"><span class="icomoon icon-arrow-bold-left"></span></a>
                                            <span>3</span>
                                            <span>/</span>
                                            <span class="total-number">3</span>
                                            <a class="disabled"><span class="icomoon icon-arrow-bold-right"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="txt-renglon">
                            <button type="button" class="btn btn-primary btn-lg btn-block text-uppercase" ng-disabled="!isInstalled" ng-click="avatar()" ng-bind="contentResources3.tutorial_download_button"></button>
                        </section>
                    </div>
                </div>
            </form>
        </section>
    </article>
</div>