<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">

  <div id="site-canvas">
    <article>
      <div class="container chat">
        <section class="component">
          <div class="container-shadow col-xs-12"></div>
            <div class="msg-container">
              <div class="msg received">
                <div class="msg-icn glyphicon glyphicon-triangle-bottom"></div>
                <div class="text">
                  <span>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                  <span class="date">Julio 29, 8:41 a.m.</span>
                </div>
              </div>
              <div class="msg sent">
                <div class="msg-icn glyphicon glyphicon-triangle-bottom"></div>
                <div class="text">
                  <span>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</span>
                  <span class="date">Julio 29, 8:41 a.m.</span>
                </div> 
              </div>
              <div class="msg received">
                <div class="msg-icn glyphicon glyphicon-triangle-bottom"></div>
                <div class="text">
                  <span>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                  <span class="date">Julio 29, 8:41 a.m.</span>
                </div>
              </div>
              <div class="msg sent">
                <div class="msg-icn glyphicon glyphicon-triangle-bottom"></div>
                <div class="text">
                  <span>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                  <span class="date">Julio 29, 8:41 a.m.</span>
                </div>
              </div>
              <div class="msg received">
                <div class="msg-icn glyphicon glyphicon-triangle-bottom"></div>
                <div class="text">
                  <span>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                  <span class="date">Julio 29, 8:41 a.m.</span>
                </div>
              </div>
            </div>
          <div class="typing-section col-xs-12">
              <textarea type="text" placeholder="Escribe tu mensaje aquí..."  class="col-xs-10"></textarea>
              <div class="send-text col-xs-2">
              </div>
          </div>
        </section>
      </div> <!-- /.container -->
    </article>

  </div>
</div>
  
