/********************************************************************************
    Incluso Digital CSS Styles

    Parallel work file for UI Developer 02

    Color Palette:  Please look at base.css
    Index:
        01. $_Base
        02. $_Entities
        03. $_Overrrides
********************************************************************************/
/*******************************************************************************/
/****************************************************************************
 LESS Utilities - variables and functions
****************************************************************************/
/* Path vars */
/* Placeholder default opacity */
/* Color Palette */
/* shape variables */
/* parametric color functions */
/* Custom Functions */
.incluso-app {
  /********************************************************************************
     Base styles (if needed)
    ********************************************************************************/
  /* Start writing base classes here */
  /********************************************************************************
     Entities styles (if needed)
    ********************************************************************************/
  /* Start writing base classes here */
  /********************************************************************************
     Overrides styles (if needed)
    ********************************************************************************/
  /* Start writing base classes here */
  /* Mis Logros */
  /* Detalle de Logro */
  /* Chat */
  /* Fuente de energia */
}
.incluso-app .achievements .panel-body .badge-item {
  height: 45vw;
  padding: 2vw 0 4vw;
  margin: 4vw 0 0;
  border-bottom: 1px solid #8ba8b1;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.incluso-app .achievements .panel-body .badge-item img {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.incluso-app .achievements .panel-body .badge-item .badgename {
  color: #fff;
  font-family: Play;
  font-size: 4vw;
  line-height: 5vw;
  text-align: center;
  margin: 0;
  padding: 0;
}
.incluso-app .achievements .panel-body .pager {
  display: block;
  margin: 8vw 0 0;
}
.incluso-app .achievements .panel-body .pager > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2vw;
}
.incluso-app .incluso-app .achievements .panel-body .pager .icomoon {
  font-size: 13vw;
  color: #00ad8a;
  cursor: pointer;
}
.incluso-app .incluso-app .achievements .panel-body .pager span {
  font-size: 5vw;
  color: #ffffff;
  font-weight: bold;
}
.incluso-app .incluso-app .achievements .panel-body .pager .actual-page {
  color: #00ad8a;
}
.incluso-app .incluso-app .achievements .panel-body .pager .icomoon.disabled {
  opacity: 0.3;
}
.incluso-app .achievement-detail .panel-body .text-center .achievement-badge {
  border-bottom: 1px solid #8ba8b1;
  margin-bottom: 5vw;
}
.incluso-app .achievement-detail .panel-body .text-center .achievement-badge img {
  width: 50vw;
  height: 50vw;
}
.incluso-app .achievement-detail .panel-body .text-center .achievement-badge .badgename {
  color: #fff;
  font-family: Play;
  font-size: 8vw;
  line-height: 7vw;
  text-align: center;
  padding: 4vw 0 0;
}
.incluso-app .achievement-detail .panel-body .text-center .achievement-badge .badgedate {
  font-family: Play;
  font-size: 4vw;
  font-weight: bold;
  padding: 2vw 0 4vw;
  color: #999999;
}
.incluso-app .achievement-detail .panel-body .text-center .achievement-description {
  color: #fff;
  font-family: Play;
  font-size: 5vw;
  line-height: 7vw;
  padding: 4vw 0;
}
.incluso-app .achievement-detail .panel-body .text-center .earned-info {
  color: #63777d;
  font-family: Play;
  font-size: 4vw;
  padding: 4vw 0;
  font-weight: bold;
  letter-spacing: 1px;
}
.incluso-app .achievement-detail .panel-body .text-center .earned-info .users {
  color: #b8cf33;
}
.incluso-app .achievement-detail .panel-body .text-center .share-achievement {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 4vw;
  cursor: pointer;
}
.incluso-app .achievement-detail .panel-body .text-center .share-achievement .icon-container {
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: #485157;
  border-radius: 90px;
  display: inline-block;
  vertical-align: middle;
  padding: 1vw;
  text-align: center;
  width: auto;
  position: relative;
}
.incluso-app .achievement-detail .panel-body .text-center .share-achievement .icon-container .icon-share {
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: #b8cf33;
  border-radius: 90px;
  font-size: 7vw;
  font-weight: bold;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
}
.incluso-app .achievement-detail .panel-body .text-center .share-achievement .share-text {
  background: #485157;
  -webkit-border-radius: 10vw;
  -moz-border-radius: 10vw;
  border-radius: 10vw;
  display: inline-block;
  padding: 2vw 4vw 2vw 12vw;
  font-size: 4vw;
  margin-left: -10vw;
  vertical-align: middle;
  color: #fff;
}
.incluso-app .achievement-detail .panel-body .text-center .return-btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 1vw solid #d14027;
  background: #ed4823;
  padding: 4vw 6vw;
  color: #ffffff;
  font-family: play;
  font-size: 7vw;
  font-weight: bold;
  padding: 2vw 4vw;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  margin: 4vw 1vw 0;
}
.incluso-app .container.chat .component {
  padding: 0;
  margin: 0;
  position: relative;
}
.incluso-app .container.chat .component .container-shadow {
  position: absolute;
  top: 0;
  box-shadow: 0 0 10vw 20vw #000000;
  z-index: 1;
  height: 1vw;
  background: #000000;
  opacity: 0.3;
}
.incluso-app .container.chat .component .msg-container {
  padding: 5vw 2%;
  display: block;
  min-height: 70vh;
  max-height: 74vh;
  overflow-y: auto;
}
.incluso-app .container.chat .component .msg-container .msg {
  display: block;
  margin: 0 0 4vw 0;
  position: relative;
  width: 100%;
  float: left;
}
.incluso-app .container.chat .component .msg-container .msg .text span {
  width: 100%;
  color: #ffffff;
  font-family: Play;
  font-size: 4vw;
  display: block;
}
.incluso-app .container.chat .component .msg-container .msg .text .date {
  color: #ffffff;
  font-size: 3.5vw;
  text-align: right;
  opacity: 0.5;
  margin: 2vw 0 0;
}
.incluso-app .container.chat .component .msg-container .msg.received .text {
  background: #004e70;
  border-radius: 4vw 4vw 4vw 0;
  padding: 1vw 4vw;
  width: 92vw;
  margin-left: 20px;
}
.incluso-app .container.chat .component .msg-container .msg.received .msg-icn {
  display: block;
  color: #004e70;
  font-size: 5vw;
  position: absolute;
  left: 0;
  top: auto;
  bottom: -1px;
}
.incluso-app .container.chat .component .msg-container .msg.received .msg-icn::before {
  content: "\e66a";
}
.incluso-app .container.chat .component .msg-container .msg.sent {
  float: right;
}
.incluso-app .container.chat .component .msg-container .msg.sent .text {
  background: #04876d;
  color: #04876d;
  font-size: 5vw;
  border-radius: 4vw 4vw 0 4vw;
  padding: 1vw 4vw;
  width: 92vw;
  margin-right: 20px;
  float: right;
}
.incluso-app .container.chat .component .msg-container .msg.sent .msg-icn {
  font-size: 5vw;
  display: block;
  top: auto;
  bottom: -1px;
  color: #04876d;
  position: absolute;
  right: 0;
}
.incluso-app .container.chat .component .msg-container .msg.sent .msg-icn::before {
  content: "\e669";
}
.incluso-app .container.chat .component .typing-section {
  /*min-height: 6vh;
            max-height: 20vh;*/
  height: auto;
  background: #ffffff;
  padding: 2vw 0;
}
.incluso-app .container.chat .component .typing-section input[type="text"],
.incluso-app .container.chat .component .typing-section textarea {
  float: none;
  display: inline-block;
  width: 86.5vw;
  height: 11vh;
  resize: none;
  padding: 2vh 2vw 0;
  border-color: transparent;
  overflow-y: auto;
  font-size: 4.5vw;
  outline: none;
  vertical-align: middle;
}
.incluso-app .container.chat .component .typing-section input[type="text"]:focus,
.incluso-app .container.chat .component .typing-section textarea:focus {
  outline: none;
}
.incluso-app .container.chat .component .typing-section input[type="text"]::-webkit-input-placeholder {
  color: #565656;
}
.incluso-app .container.chat .component .typing-section input[type="text"]:-moz-placeholder {
  color: #565656;
}
.incluso-app .container.chat .component .typing-section input[type="text"]::-moz-placeholder {
  color: #565656;
}
.incluso-app .container.chat .component .typing-section input[type="text"]:-ms-input-placeholder {
  color: #565656;
}
.incluso-app .container.chat .component .typing-section .send-text {
  /*width: 0; 
            height: 0; 
            border-left: 20px solid rgb(237,72,35);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; */
  float: none;
  display: inline-block;
  color: #ed4823;
  font-size: 7vw;
  vertical-align: middle;
  cursor: pointer;
}
.incluso-app .fuente-energia .title-section .txt-renglon {
  margin: 0 5%;
  display: block;
}
.incluso-app .fuente-energia .title-section .subtitle {
  font-size: 5vw;
  text-transform: uppercase;
  font-family: play;
  padding: 0 5%;
  font-weight: bold;
  display: block;
}
.incluso-app .fuente-energia .title-section span {
  font-size: 4vw;
  color: #aaaaaa;
  padding: 4vw 5% 2vw;
  display: block;
}
.incluso-app .fuente-energia .filter-section {
  margin: 5%;
  padding: 0;
}
.incluso-app .fuente-energia .filter-section {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0;
  margin: 0 10vw;
  position: relative;
}
.incluso-app .fuente-energia .filter-section i {
  font-size: 5vw;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.incluso-app .fuente-energia .filter-section select {
  font-size: 5vw;
  font-weight: bold;
  color: white;
  width: 92%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-indent: 0 !important;
  padding-left: 1.4vw;
}
.incluso-app .fuente-energia .filter-section .icon-arrow {
  font-size: 3vw;
  position: absolute;
  top: 5vw;
  right: 2vw;
}
.incluso-app .fuente-energia .wall {
  padding: 2vw 5%;
}
.incluso-app .fuente-energia .wall .part {
  margin: 0 0 3vw;
  width: 100%;
  display: block;
}
.incluso-app .fuente-energia .wall .part .type {
  padding: 2vw 3.4vw 2vw 1vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}
.incluso-app .fuente-energia .wall .part .type * {
  float: none;
  display: table-cell;
  vertical-align: middle;
  padding-right: 1px;
}
.incluso-app .fuente-energia .wall .part .type i {
  color: #62767c;
  font-size: 7vw;
  cursor: pointer;
}
.incluso-app .fuente-energia .wall .part .type .icon-checked-join {
  color: #0a9648;
}
.incluso-app .fuente-energia .wall .part .type .icon-required {
  color: #f06344;
  font-size: 3vw;
}
.incluso-app .fuente-energia .wall .part .detail .image-container {
  display: block;
  padding: 3vw;
}
.incluso-app .fuente-energia .wall .part .detail .image-element {
  height: 45vw;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.incluso-app .fuente-energia .wall .part .detail .message {
  padding: 0 3vw 3vw;
}
.incluso-app .fuente-energia .wall .part .detail .message * {
  color: #ffffff;
  font-size: 5vw;
}
.incluso-app .fuente-energia .wall .part .detail .interact {
  display: table;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.08);
}
.incluso-app .fuente-energia .wall .part .detail .interact div {
  float: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 3vw 0;
  cursor: pointer;
}
.incluso-app .fuente-energia .wall .part .detail .interact .like {
  border-right: 2px solid rgba(255, 255, 255, 0.08);
}
.incluso-app .fuente-energia .wall .part .detail .interact .like * {
  color: #e60980;
  font-size: 5vw;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.incluso-app .fuente-energia .wall .part .detail .interact .comment * {
  color: #02af8e;
  font-size: 5vw;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
