/********************************************************************************
Incluso Digital CSS Styles

Parallel work file for UI Developer 01
********************************************************************************/
/****************************************************************************
 LESS Utilities - variables and functions
****************************************************************************/
/* Path vars */
/* Placeholder default opacity */
/* Color Palette */
/* shape variables */
/* parametric color functions */
/* Custom Functions */
.incluso-app {
  /********************************************************************************
    Base styles (if needed)
    ********************************************************************************/
  /* Start writing base classes here */
  /********************************************************************************
    Entities styles (if needed)
    ********************************************************************************/
  /* Start writing base classes here */
}
.incluso-app .form input[type="radio"]:checked + label::before {
  color: #e1e455;
  background-color: transparent;
}
.incluso-app .form input[type="radio"]:checked + label {
  color: #e1e455;
}
.incluso-app .form .tnf input[type="radio"]:checked + label {
  color: white;
}
.incluso-app .evaluation .subtitle {
  padding-top: 60px;
  text-transform: uppercase;
  font-weight: bold;
}
.incluso-app .evaluation .subtitle + .txt-renglon {
  font-size: 4.5vw;
  font-weight: normal;
  padding: 2.5% 0;
}
.incluso-app .evaluation .txt-renglon.txt-bigger {
  font-size: 129%;
}
.incluso-app .evaluation .part {
  margin: 1vh 5%;
  width: 90%;
}
.incluso-app .evaluation .part.list {
  padding: 5% 6%;
}
.incluso-app .evaluation .part.list .add {
  margin: 0;
  font-size: 106%;
  padding: 4% 0;
}
.incluso-app .evaluation .part.list .add .icomoon::before {
  padding-right: 3% !important;
}
.incluso-app .evaluation .part.list .add .icomoon {
  font-size: 86% !important;
  padding-right: 0 !important;
}
.incluso-app .evaluation .part.list .add input {
  width: 89% !important;
}
.incluso-app .evaluation .part span {
  font-weight: bold;
}
.incluso-app .evaluation .part span + .icomoon {
  color: white;
  font-size: 92% !important;
  padding-right: 0 !important;
}
.incluso-app .evaluation .controls .centered span {
  position: relative;
  top: -9px;
  font-weight: bold;
}
.incluso-app .evaluation .controls .centered.txt-bigger {
  font-size: 120%;
}
.incluso-app .evaluation .controls .btn {
  margin-top: 4%;
  margin-bottom: 4%;
}
.incluso-app .evaluation .form label {
  font-size: 4.5vw;
  padding-left: 8vw;
}
.incluso-app .evaluation .form label::before {
  font-size: 4vw;
  height: 5vw;
  width: 5vw;
  line-height: 4.5vw;
  margin-top: 3px;
}
.incluso-app .evaluation .form input[type="radio"] + label::before {
  font-size: 9vw;
  height: 6vw;
  width: 6vw;
  line-height: 5vw;
  margin-top: 1px;
}
.incluso-app .evaluation .add {
  padding: 3% 0;
  font-size: 115%;
}
.incluso-app .evaluation .add#agregar {
  display: none;
}
.incluso-app .evaluation .add .icomoon::before {
  color: white;
  font-size: 92%;
  padding-right: 3%;
}
.incluso-app .evaluation .add input {
  background: transparent;
  color: white;
  border: none;
  width: 90%;
  font-weight: normal;
}
.incluso-app .evaluation .add input::-webkit-input-placeholder {
  color: white !important;
  opacity: 1;
}
.incluso-app .evaluation .add input:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
  opacity: 1;
}
.incluso-app .evaluation .add input::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
  opacity: 1;
}
.incluso-app .evaluation .add input:-ms-input-placeholder {
  color: white !important;
  opacity: 1;
}
.incluso-app .evaluation #finalized .header-title {
  padding-top: 40px;
  padding-bottom: 10px;
}
.incluso-app .evaluation #finalized .subtitle {
  padding-top: 5px;
}
.incluso-app .evaluation #finalized .green-giant {
  font-size: 640%;
}
.incluso-app .evaluation #finalized .txt-renglon.pill {
  font-weight: normal;
  font-size: 4.5vw;
  margin: 8vw 5vw 3vw;
  padding: 5vw 4vw 10vw 7vw;
  width: 90%;
}
.incluso-app .evaluation #finalized .txt-renglon.pill .sm-pill,
.incluso-app .evaluation #finalized .txt-renglon.pill .green-pill {
  border-width: 2px;
  font-size: 5.5vw;
  font-weight: bold;
  padding: 0.7vw 3vw 1vw;
  position: relative;
  top: -6px;
}
.incluso-app .evaluation #finalized .txt-renglon.pill .sm-pill .icon-star,
.incluso-app .evaluation #finalized .txt-renglon.pill .green-pill .icon-star {
  font-size: 4.5vw;
  position: relative;
  top: 4.5px;
}
.incluso-app .evaluation #finalized .txt-renglon.pill .green-pill {
  margin: -0.3vw -1vw;
  padding: 0.7vw 2.3vw 1vw;
}
.incluso-app .evaluation #finalized .txt-renglon.form {
  font-weight: normal;
  font-size: 4.5vw;
}
.incluso-app .evaluation #finalized .txt-renglon.form section {
  margin: 0;
  width: 100%;
}
.incluso-app .evaluation #finalized .txt-renglon.form section .opinion {
  display: inline-block;
  float: left;
  margin: 0 4.4vw;
}
.incluso-app .evaluation #finalized .txt-renglon.form section label {
  width: auto;
  margin: 0;
  display: inline-block;
}
.incluso-app .evaluation #finalized .txt-renglon.form .btn {
  width: 100%;
  margin: 3% 0 0;
}
.incluso-app .evaluation #finalized .txt-renglon.panel {
  background-color: transparent;
  padding: 0;
  margin: 3% 2.5%;
  width: 95%;
  font-weight: normal;
}
.incluso-app .evaluation #finalized .txt-renglon.panel > .panel-heading {
  background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center, #1f2733 0%, #141921 100%) repeat scroll 0 0;
  border-radius: 1.5vw;
  padding: 2.5vw 4.6vw;
  font-size: 5vw;
  line-height: 1.4;
}
.incluso-app .evaluation #finalized .txt-renglon.panel > .panel-heading .icon-wrong-join {
  color: transparent;
  margin-right: 1.5vw;
  margin-top: 2px;
  font-size: 7vw;
}
.incluso-app .evaluation #finalized .txt-renglon.panel > .panel-heading .icon-wrong-join.active {
  color: #ee4823;
}
.incluso-app .evaluation #finalized .txt-renglon.panel > .panel-heading .icon-arrow-up {
  position: relative;
  top: 1vw;
}
.incluso-app .evaluation #finalized .txt-renglon.panel.collapsed > .panel-heading {
  border-radius: 1.5vw 1.5vw 0 0;
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body {
  background-color: rgba(13, 15, 20, 0.5);
  color: white;
  padding: 2.5vw 3vw 4.5vw;
  font-size: 5vw;
  font-weight: bold;
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul {
  list-style: none;
  padding: 0 3.7vw;
  margin: 0;
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul li {
  padding: .2vw 0;
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul li:first-child,
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul li:last-child {
  padding: 0;
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul li::before {
  font-size: 6vw;
  content: "•";
  padding-right: 3.3vw;
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul li.failed {
  color: #ee4823;
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul li.failed::before {
  content: "";
}
.incluso-app .evaluation #finalized .txt-renglon.panel .panel-body ul li.failed .icon-wrong {
  font-size: 4vw;
  margin-left: -0.5vw;
  margin-top: 1.65vw;
  padding-right: 2.6vw;
}
.incluso-app .evaluation #finalized .question-parts {
  margin: 8vw 0;
}
