/********************************************************************************
    Incluso Digital CSS Styles

    Parallel work file for UI Developer 01
    ********************************************************************************/
    @import "less-utilities.less";


    .incluso-app {

    /********************************************************************************
     Base styles (if needed)
     ********************************************************************************/
     /* Start writing base classes here */


    /********************************************************************************
     Entities styles (if needed)
     ********************************************************************************/
     /* Start writing base classes here */
     .evaluation {

        .subtitle {            
            padding-top: 60px;
            text-transform: uppercase;
            font-weight: bold;

            + .txt-renglon {
                font-size: 4.5vw;
                font-weight: normal;
                padding: 2.5% 0;                
            }            
        }

        .txt-renglon {

            &.txt-bigger {
                font-size: 129%;
            } 

        }

        .part {
            margin: 0vh 5%;
            padding: 5% 6%;
            width: 90%;
        }

        .controls {           
            .centered {
                span {
                    position: relative;
                    top: -8px;
                }
            }
        }


    }


}