<div class="incluso-app">
    <div class="alert alert-warning" role="alert" ng-show="showWarning" ng-cloak>
        <div class="alert-message" ng-click="hideWarning">
            <div class="icomoon icon-warning"></div>
            <p>{{warningMessage}}</p>
        </div>
    </div>    
    <article class="blueprint evaluation">
        <div class="pages">
            <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
                <section id="title">
                    <div class="subtitle">Mis cualidades</div>
                    <div class="txt-renglon">Responde lo siguiente:</div>                       
                </section>
                <div id="owl" class="owl-carousel">
                    <div>
                        <div class="txt-renglon txt-bigger">De la siguiente lista, elige lo que mejor te describe, esto aparecerá en tu perfil. No olvides
                            utilizarlo para el siguiente reto.
                        </div>
                        <section class="form txt-renglon txt-bigger part list">
                            <input id="q1r0" type="checkbox" value="0" ng-model="misCualidadesAnswers[0][0]" ng-disabled="setReadOnly" />
                            <label for="q1r0">Cantar</label>
                            <input id="q1r1" type="checkbox" value="1" ng-model="misCualidadesAnswers[0][1]" ng-disabled="setReadOnly" />
                            <label for="q1r1">Llevar ritmos</label>
                            <input id="q1r2" type="checkbox" value="2" ng-model="misCualidadesAnswers[0][2]" ng-disabled="setReadOnly" />
                            <label for="q1r2">Bailar</label>
                            <input id="q1r3" type="checkbox" value="3" ng-model="misCualidadesAnswers[0][3]" ng-disabled="setReadOnly" />
                            <label for="q1r3">Hablar frente a otros</label>
                            <input id="q1r4" type="checkbox" value="4" ng-model="misCualidadesAnswers[0][4]" ng-disabled="setReadOnly" />
                            <label for="q1r4">Dibujar</label>
                            <input id="q1r5" type="checkbox" value="5" ng-model="misCualidadesAnswers[0][5]" ng-disabled="setReadOnly" />
                            <label for="q1r5">Hacer amigos</label>
                            <input id="q1r6" type="checkbox" value="6" ng-model="misCualidadesAnswers[0][6]" ng-disabled="setReadOnly" />
                            <label for="q1r6">Hacer operaciones matemáticas</label>
                            <input id="q1r7" type="checkbox" value="7" ng-model="misCualidadesAnswers[0][7]" ng-disabled="setReadOnly" />
                            <label for="q1r7">Aprender cosas rápido</label>
                            <input id="q1r8" type="checkbox" value="8" ng-model="misCualidadesAnswers[0][8]" ng-disabled="setReadOnly" />
                            <label for="q1r8">Ubicar lugares </label>
                            <input id="q1r9" type="checkbox" value="9" ng-model="misCualidadesAnswers[0][9]" ng-disabled="setReadOnly" />
                            <label for="q1r9">Memorizar</label>
                            <input id="q1r10" type="checkbox" value="10" ng-model="misCualidadesAnswers[0][10]" ng-disabled="setReadOnly" />
                            <label for="q1r10">Hacer manualidades</label>
                            <input id="q1r11" type="checkbox" value="11" ng-model="misCualidadesAnswers[0][11]" ng-disabled="setReadOnly" />
                            <label for="q1r10">Otro</label>
                        </section>
                    </div>

                    <div>
                        <div class="txt-renglon txt-bigger">De la siguiente lista, elige lo que mejor te describe, esto aparecerá en tu perfil. No olvides
                            utilizarlo para el siguiente reto.
                        </div>
                        <section class="form txt-renglon txt-bigger part list">
                            <input id="q2r0" type="checkbox" value="0" ng-model="misCualidadesAnswers[1][0]" ng-disabled="setReadOnly" />
                            <label for="q2r0">Tolerancia</label>
                            <input id="q2r1" type="checkbox" value="1" ng-model="misCualidadesAnswers[1][1]" ng-disabled="setReadOnly" />
                            <label for="q2r1">Respeto</label>
                            <input id="q2r2" type="checkbox" value="2" ng-model="misCualidadesAnswers[1][2]" ng-disabled="setReadOnly" />
                            <label for="q2r2">Honestidad</label>
                            <input id="q2r3" type="checkbox" value="3" ng-model="misCualidadesAnswers[1][3]" ng-disabled="setReadOnly" />
                            <label for="q2r3">Responsabilidad</label>
                            <input id="q2r4" type="checkbox" value="4" ng-model="misCualidadesAnswers[1][4]" ng-disabled="setReadOnly" />
                            <label for="q2r4">Confiabilidad</label>
                            <input id="q2r5" type="checkbox" value="5" ng-model="misCualidadesAnswers[1][5]" ng-disabled="setReadOnly" />
                            <label for="q2r5">Solidaridad</label>
                            <input id="q2r6" type="checkbox" value="6" ng-model="misCualidadesAnswers[1][6]" ng-disabled="setReadOnly" />
                            <label for="q2r6">Igualdad</label>
                            <input id="q2r7" type="checkbox" value="7" ng-model="misCualidadesAnswers[1][7]" ng-disabled="setReadOnly" />
                            <label for="q2r7">Lealtad</label>
                            <input id="q2r8" type="checkbox" value="8" ng-model="misCualidadesAnswers[1][8]" ng-disabled="setReadOnly" />
                            <label for="q2r8">Amistad</label>
                            <input id="q2r9" type="checkbox" value="9" ng-model="misCualidadesAnswers[1][9]" ng-disabled="setReadOnly" />
                            <label for="q2r9">Generosidad</label>
                            <input id="q2r10" type="checkbox" value="10" ng-model="misCualidadesAnswers[1][10]" ng-disabled="setReadOnly" />
                            <label for="q2r10">Esfuerzo</label>
                            <input id="q2r11" type="checkbox" value="11" ng-model="misCualidadesAnswers[1][11]" ng-disabled="setReadOnly" />
                            <label for="q2r10">Otro</label>                            
                        </section>                        
                    </div>

                    <div>
                        <div class="txt-renglon txt-bigger">De la siguiente lista, elige lo que mejor te describe, esto aparecerá en tu perfil. No olvides
                            utilizarlo para el siguiente reto.
                        </div>
                        <section class="form txt-renglon txt-bigger part list">
                            <input id="q3r0" type="checkbox" value="0" ng-model="misCualidadesAnswers[2][0]" ng-disabled="setReadOnly" />
                            <label for="q3r0">Empatía</label>
                            <input id="q3r1" type="checkbox" value="1" ng-model="misCualidadesAnswers[2][1]" ng-disabled="setReadOnly" />
                            <label for="q3r1">Creatividad</label>
                            <input id="q3r2" type="checkbox" value="2" ng-model="misCualidadesAnswers[2][2]" ng-disabled="setReadOnly" />
                            <label for="q3r2">Liderazgo</label>
                            <input id="q3r3" type="checkbox" value="3" ng-model="misCualidadesAnswers[2][3]" ng-disabled="setReadOnly" />
                            <label for="q3r3">Comunicación</label>
                            <input id="q3r4" type="checkbox" value="4" ng-model="misCualidadesAnswers[2][4]" ng-disabled="setReadOnly" />
                            <label for="q3r4">Negociación</label>
                            <input id="q3r5" type="checkbox" value="5" ng-model="misCualidadesAnswers[2][5]" ng-disabled="setReadOnly" />
                            <label for="q3r5">Trabajo en equipo</label>
                            <input id="q3r6" type="checkbox" value="6" ng-model="misCualidadesAnswers[2][6]" ng-disabled="setReadOnly" />
                            <label for="q3r6">Innovación</label>
                            <input id="q3r7" type="checkbox" value="7" ng-model="misCualidadesAnswers[2][7]" ng-disabled="setReadOnly" />
                            <label for="q3r7">Iniciativa</label>
                            <input id="q3r8" type="checkbox" value="8" ng-model="misCualidadesAnswers[2][8]" ng-disabled="setReadOnly" />
                            <label for="q3r8">Toma de decisiones</label>
                            <input id="q3r9" type="checkbox" value="9" ng-model="misCualidadesAnswers[2][9]" ng-disabled="setReadOnly" />
                            <label for="q3r9">Planeación</label>
                            <input id="q3r10" type="checkbox" value="10" ng-model="misCualidadesAnswers[2][10]" ng-disabled="setReadOnly" />
                            <label for="q3r10">Organización</label>
                            <input id="q3r11" type="checkbox" value="11" ng-model="misCualidadesAnswers[2][11]" ng-disabled="setReadOnly" />
                            <label for="q3r10">Otro</label>                            
                        </section>                        
                    </div>
                </div>

                <section id="controls" class="controls">
                    <div class="paginate">
                        <a href="#" id="prev" ng-click="addToAnswerIndex(-1)">
                            <span class="icomoon icon-arrow-bold-left txt-bigger fl-left"></span>
                        </a>
                        <a href="#" id="next" ng-click="addToAnswerIndex(1)">
                            <span class="icomoon icon-arrow-bold-right txt-bigger fl-right"></span>
                        </a>
                        <div class="centered"><span id="index" class="txt-bigger">1/</span><span class="white txt-bigger">3</span></div>
                    </div>
                    <a class="btn btn-primary btn-lg btn-cnt" id="save" ng-click="validateMisCualidadesAnsweredQuestions()" ng-show="!setReadOnly && nswerIndex == 3">Guardar</a>
                    <a class="txt-renglon centered txt-bigger btn-block" ng-click="cancel()">Cancelar</a>
                </section>
            </div>

            <div class="page" ng-class="currentPage==2 ? 'active' : ''">
                <div id="finalized">
                    <section class="header-title">
                        <div class="txt-renglon centered txt-bigger min-pad">Has completado la actividad</div>
                        <div class="subtitle centered min-pad ">"Mis cualidades"</div>
                        <div class="txt-renglon centered txt-bigger min-pad">¡Bien hecho!</div>
                    </section>
                    <section class="centered txt-bigger">
                        <span class="icomoon icon-checked-join txt-bigger green-giant"></span>
                    </section>
                    <section class="txt-renglon pill">
                        <div class="fl-left">Estrellas ganadas:</div>
                        <div class="fl-right sm-pill"><span>{{activityPoints}}</span><span class="icomoon icon-star fl-right"></span>
                        </div>
                    </section>
                    <section class="txt-renglon centered form">
                        ¿Que opinas de ésta actividad?
                        <section class="txt-renglon txt-bigger clearfix">
                            <div class="opinion">
                                <input id="like" type="radio" value="0" name="like" ng-model="like_status">
                                <label for="like">Me gusta</label>
                            </div>
                            <div class="opinion">
                                <input id="dislike" type="radio" value="1" name="dislike" ng-model="like_status">
                                <label for="dislike">No me gusta</label>
                            </div>
                        </section>

                        <a class="btn btn-primary btn-lg btn-cnt" ng-click="finishActivity()">Terminar</a>
                    </section>
                </div>
            </div>
        </div>
        <img src="assets/images/img-lines-ftr.png " class="centered" alt="lines" />
    </article>

        <!-- initial message -->
        <script type="text/ng-template" id="OpeningStageModal.html">
            <div class="modal-robot robot-lg closing-stage-modal user-help">
                <img src="assets/images/img-robot-lg.svg" alt="robot" />
                <div class="modal-header">
                    <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                        <span class="icomoon icon-cross"></span>
                    </a>
                </div>
                <div class="modal-body">
                    <h3 class="subtitle text-center">Mis cualidades</h3>
                    <p class="txt-renglon centered">
                        Conocer qué talentos y habilidades tienes te permitirá aprovecharlas al máximo y hará más sencillo el camino para lograr
                        lo que te propongas. Piensa ¿para qué tipo de actividades tienes facilidad?
                    </p>
                </div>                
            </div>
        </script>    
</div>

<script>
    $(document).ready(function () {
        var owl = $("#owl ");
        owl.owlCarousel({
            navigation: false,
            pagination: false,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoHeight: true,
            mouseDrag: false,
            touchDrag: false,
            transitionStyle: "fade",
            afterMove: callback
        });

        function callback(event) {
            var item = this.currentItem;
            $("#index").html(item + 1 + '/');
        }

        $("#next").click(function () {
            owl.trigger('owl.next');
            return false;
        });

        $("#prev").click(function () {
            owl.trigger('owl.prev');
            return false;
        });    
    });

</script>

<script src="../../Scripts/classie.js "></script>
<script src="../../Scripts/selectFx.js "></script>
<script>
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();

</script>