
<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-canvas">

  <article class="blueprint">
    <section>
      <div class="subtitle">Mis sue&ntilde;os de tener</div>
      <div class="txt-renglon">Tus sue&ntilde;os de tener pueden llevarte a continuar tus estudios, comenzar a trabajar o emprender un proyecto propio.<br/>Registra la lista de tus sue&ntilde;os de tener.</div>
    </section>
    <section>
      <div class="part"><span>Terminar mis estudios</span><i class="icomoon icon-edit fl-right"></i></div>
      <div class="part"><span>Entrar a cursos de m&uacute;sica</span><i class="icomoon icon-edit fl-right"></i></div>
      <div class="part"><span>Ser m&aacute;s responsable con el medio ambiente.</span><i class="icomoon icon-edit fl-right"></i></div>
    </section>
    <section class="controls">
      <div class="add"><i class="icomoon icon-edit"></i><span>Nuevo Sue&ntilde;o...</span></div>
      <div class="paginate">
      <i class="icomoon icon-arrow-bold-left txt-bigger fl-left"></i>
      <i class="icomoon icon-arrow-bold-right txt-bigger fl-right"></i>
      <div class="centered"><span class="txt-bigger">3/</span><span class="blanco txt-bigger">3</span></div>
      </div><br/>

      <br/>
      <button class="btn btn-primary btn-lg btn-cnt" type="button">Guardar</button>
      <div class="txt-renglon centered txt-bigger">Cancelar</div>
    </section>
    
    <img src="assets/images/img-lines-ftr.png" class="centered">
    
  </article>
 
  <!-- scripts -->
  <script>
    $(document).ready(function() {
  var step = 0;
  
  
    var owl = $("#owl");
    owl.owlCarousel({
      navigation:false,
      pagination:false,
      paginationSpeed : 1000,
      goToFirstSpeed : 2000,
      singleItem : true,
      autoHeight : true,
      afterMove: callback
    });
  function callback(event) {
    var item      = this.currentItem;
    $("#index").html(item + 1);
  }
    $("#next").click(function(){
      owl.trigger('owl.next');
      return false;
      })
    $("#prev").click(function(){
      owl.trigger('owl.prev');
      return false;
      })
  $("#save").click(function(){
    $(owl).hide("slow");
    $("#controls").hide();
    $("#taitel").hide();
    $("#finalized").show("slow");
    return false;
  });
$(".acc").click(function(){
$(this).toggleClass('icon-arrow-down');
$(this).toggleClass('icon-arrow-slim-right');
var cual = $(this).attr('data-id');
  $('#ord' + cual).toggle();

}); 
    $("#finalized").hide();
    
    });
    </script>
  <script type="text/javascript" src="../../Scripts/scriptmenu.js"></script>
  <script src="../../Scripts/classie.js"></script>
    <script src="../../Scripts/selectFx.js"></script>
    <script>
      (function() {
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
          new SelectFx(el);
        } );
      })();
    </script>
