<div class="incluso-app step-dashboard" id="site-wrapper">
  <article class="bluespace">
    <div class="subtitle">Tú Eliges</div>
    <section class="txt-renglon pill">
      <div class="fl-left">Estrellas a ganar:</div><div class="fl-right sm-pill">{{stars}}&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
    </section>
    <div class="txt-renglon">Instrucciones de uso:</div>
    <section class="txt-renglon up-line">
      <ol>
        <li>Descargar la aplicación Incluso Interactivo con el botón naranja.</li>
        <li>Regresa a Misión Incluso.</li>
        <li>Presiona el botón para iniciar la aplicación.</li>
      </ol>
    </section>  
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="!isInstalled" ng-click="downloadGame()">Descargar Juego</a>
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="isInstalled" ng-click="downloadGame()">Empezar Juego</a>
    <div role="button" class="txt-renglon centered" ng-click="back()">Cancelar</div>
  </article>
  <script type="text/ng-template" id="TuEligesModal.html">
      <div class="modal-robot robot-lg closing-stage-modal user-help" >
          <img src="assets/images/img-robot-lg.svg" alt="robot" />
          <div class="modal-header">
              <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                  <span class="icomoon icon-cross"></span>
              </a>
          </div>
          <div class="modal-body">
              <h3 class="subtitle text-center" ng-bind="title"></h3>
              <p class="txt-renglon centered" ng-bind="message"></p>
          </div>
      </div>
  </script>
</div>
