<div class="incluso-app step-dashboard" id="site-wrapper">
  <article class="bluespace">
    <div class="subtitle" ng-bind="contentResources.tu_eliges_title"></div>
    <section class="txt-renglon pill">
      <div class="fl-left">{{contentResources.tu_eliges_stars_to_win}}</div><div class="fl-right sm-pill">{{stars}}&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
    </section>
    <div class="txt-renglon" ng-bind-html="contentResources.tu_eliges_instructions_tit"></div>
    <section class="txt-renglon up-line" ng-bind-html="contentResources.tu_eliges_instructions.safe_value"></section>
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="!isInstalled" ng-click="downloadGame()" ng-bind="contentResources.tu_eliges_download_game"></a>
    <a role="button" class="btn btn-primary btn-lg btn-cnt" ng-show="isInstalled" ng-click="downloadGame()" ng-bind="contentResources.tu_eliges_start_game"></a>
    <div role="button" class="txt-renglon centered" ng-click="back()" ng-bind="contentResources.tu_eliges_cancel"></div>
  </article>
  <script type="text/ng-template" id="TuEligesModal.html">
      <div class="modal-robot robot-lg closing-stage-modal user-help" >
          <img src="assets/images/img-robot-lg.svg" alt="robot" />
          <div class="modal-header">
              <a class="icon icon-close btn btn-circle" ng-click="cancel()">
                  <span class="icomoon icon-cross"></span>
              </a>
          </div>
          <div class="modal-body">
              <h3 class="subtitle text-center" ng-bind="title"></h3>
              <p class="txt-renglon centered" ng-bind="message"></p>
          </div>
      </div>
  </script>
</div>
