<div class="incluso-app public">
    <!--<div tabindex="-1" id="offlineModal" role="dialog" class="modal ng-isolate-scope user-help-modal opening-stage-modal error-connection">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-robot robot-lg closing-stage-modal user-help ng-scope">-->
                    <!--<ul>-->
                        <!--<li></li>-->
                        <!--<li></li>-->
                        <!--<li></li>-->
                    <!--</ul>-->
                    <!--<img src="assets/images/img-error-msg.svg" alt="...">-->
                    <!--<div class="modal-body">-->
                        <!--<h3 class="subtitle text-center text-uppercase">Error en la conexión</h3>-->
                        <!--<div>-->
                            <!--<p class="txt-renglon centered">-->
                                <!--No puedes seguir con tu aventura, porque actualmente no estás conectado a la internet.-->
                            <!--</p>-->
                            <!--<p class="txt-renglon centered">-->
                                <!--Asegúrate de restablecer tu conexión para continuar con tu aventura, en Misión Incluso.-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<a role="button" id="OfflineRedirect" class="btn btn-primary btn-lg btn-block" ng-click="ToDashboard()">CONTINUAR</a>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>