<div class="incluso-app public" ng-app>

    <article class="password-recovery">

        <script type="text/ng-template" id="passwordInfoModal.html">
            <div class="modal-header">
                <h3 class="modal-title"> Contraseña </h3>
                <a role="button" class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <p>
                    Es necesario que tu contraseña tenga al menos 8 caracteres, en los cuales debe haber por lo menos un carácter especial, como guión bajo (_), guión (-), punto (.) y arroba (@), un número, una letra mayúscula y una letra minúscula. No debe contener espacios.
                </p>
            </div>
            <div class="modal-footer"></div>
        </script>

        <div class="alert alert-warning" role="alert" ng-show="!recoverPasswordModel.modelState.isValid" ng-cloak>
            <div class="alert-message">
                <div class="icomoon icon-warning"></div>
                <p>¡Error! Los datos son inválidos</p>
                <ul ng-if="recoverPasswordModel.modelState.errorMessages.length > 0">
                    <li ng-repeat="msg in recoverPasswordModel.modelState.errorMessages">{{msg}}</li>
                </ul>
            </div>
        </div>

        <div class="alert alert-success" role="alert" ng-show="recoverPasswordModel.modelState.isValid && currentPage === 3" ng-cloak>
            <div class="alert-message">
                <div class="icomoon icon-checked-clip"></div>
                <p ng-bind="successMessage"></p>
            </div>
        </div>

        <header>
            <figure>
                <img src="assets/images/img-logo-gentera-lg.png" alt="" class="login-logo"/>
                <figcaption class="center-block text-center">
                    <span>Estudia</span>
                    <span>|</span>
                    <span>Trabaja</span>
                    <span>|</span>
                    <span>Emprende</span>
                </figcaption>
            </figure>
        </header>

        <section>
            <form class="password-recovery-form container-fluid" name="recoverPasswordForm" novalidate>
                <div class="pages">
                    <div class="page" data-page="1" ng-class="currentPage === 1 ? 'active' : ''">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Recuperar contraseña</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p><strong class="number">1.</strong> Valida tu correo electrónico/usuario para que puedas tener acceso a tu pregunta de seguridad.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default" ng-init="keypressUser = false">
                                        <p class="input-group-addon" id="emailAddOn">
                                            <span class="icomoon icon-envelope"></span>
                                        </p>
                                        <input type="text"
                                               name="userOrEmail" id="userOrEmail"
                                               ng-model="recoverPasswordModel.userOrEmail"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Correo/Usuario"
                                               aria-describedby="emailAddOn"
                                               ng-pattern="/^(?=\S)[-.@_a-zñ0-9]+|[a-zA-ZñÑ0-9._%+-]+@[a-zA-ZñÑ0-9.-]+\.[a-zA-ZñÑ]{2,3}$/"
                                               ng-trim="true" required />
                                        <a class="input-group-addon btn-info">
                                            <span class="icomoon icon-error red" id="wrong"
                                                  ng-show="recoverPasswordForm.userOrEmail.$dirty && recoverPasswordForm.userOrEmail.$invalid"
                                                  ng-click="togglePassword()">
                                            </span>
                                            <span class="icomoon icon-success yellowgreen" id="tick"
                                                  ng-show="recoverPasswordForm.userOrEmail.$dirty && recoverPasswordForm.userOrEmail.$valid"
                                                  ng-click="togglePassword()">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-number">
                                    <p class="text-center">
                                        <span>1</span>
                                        <span>/</span>
                                        <span class="total-number">3</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <a role="button"
                                   class="btn btn-primary btn-lg btn-block"
                                   ng-disabled="recoverPasswordForm.userOrEmail.$pristine || recoverPasswordForm.userOrEmail.$invalid"
                                   ng-click="validateUserOrEmail()">VALIDAR CORREO/USUARIO</a>
                            </div>
                            <div class="col-xs-12">
                                <a role="button"
                                   class="btn btn-default btn-transparent btn-lg btn-block"
                                   ng-click="backToLogin()">Cancelar</a>
                            </div>
                        </div>

                    </div>
                    <div class="page" data-page="2" ng-class="currentPage === 2 ? 'active' : ''">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Recuperar Contraseña</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p><strong class="number">2.</strong> Responde a tu pregunta de seguridad para recuperar tu contraseña.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default secret-question">
                                        <p class="input-group-addon" id="securityQuestionAddOn">
                                            <span class="icomoon icon-help"></span>
                                        </p>
                                        <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                                            <span ng-bind="secretQuestion"></span>
                                            <!--select ng-model="recoverPasswordModel.secretQuestion"
                                                    ng-options="item for item in securityquestionItems"
                                                    class="form-control form-control-lg theme-default"
                                                    aria-describedby="securityQuestionAddOn"
                                                    name="securityQuestion"
                                                    ng-class="{'selected': truerecoverPasswordModel.secretQuestion.length != 0}">
                                            </select-->
                                            <!--span class="glyphicon glyphicon-triangle-bottom custom-caret"></span-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="securityAnswerAddOn">
                                            <span class="icomoon icon-dna"></span>
                                        </p>
                                        <input type="text"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Respuesta de Seguridad"
                                               aria-describedby="securityAnswerAddOn"
                                               ng-model="recoverPasswordModel.secretAnswer"
                                               name="secretAnswer"
                                               ng-trim="false"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-number">
                                    <p class="text-center">
                                        <span>2</span>
                                        <span>/</span>
                                        <span class="total-number">3</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="!recoveredPassword">
                            <div class="col-xs-12">
                                <a role="button"
                                   ng-click="validateSecretAnswer()"
                                   ng-disabled="recoverPasswordForm.secretAnswer.$pristine"
                                   class="btn btn-primary btn-lg btn-block">
                                    SIGUIENTE
                                </a>
                            </div>
                            <div class="col-xs-12">
                                <a role="button" ng-click="backToLogin()"
                                   class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</a>
                            </div>
                        </div>

                    </div>
                    <div class="page" data-page="3" ng-class="currentPage === 3 ? 'active' : ''">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Recuperar Contraseña</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p><strong class="number">3.</strong> Recupera tu contraseña</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="securityCodeAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="text"
                                               ng-model="recoverPasswordModel.code"
                                               name="code"
                                               class="form-control form-control-lg theme-default"
                                               ng-readonly="readOnly"
                                               placeholder="Código"
                                               aria-describedby="securityCodeAddOn"
                                               ng-trim="true"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="accountPasswordAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="password"
                                               class="form-control form-control-lg theme-default"
                                               ng-readonly="readOnly"
                                               placeholder="Contraseña Nueva"
                                               aria-describedby="accountPasswordAddOn"
                                               name="password" id="password"
                                               ng-model="recoverPasswordModel.password"
                                               ng-trim="true" required>
                                        <a class="input-group-addon btn-info">
                                            <span class="icomoon icon-error red"
                                                  ng-show="recoverPasswordForm.password.$dirty && !passwordSignal"
                                                  ng-click="openModalPassword()"></span>
                                            <span class="icomoon icon-success yellowgreen"
                                                  ng-show="recoverPasswordForm.password.$dirty && passwordSignal"
                                                  ng-click="openModalPassword()"></span>
                                            <span class="icomoon icon-information"
                                                  ng-click="openModalPassword()"
                                                  ng-show="recoverPasswordForm.password.$pristine"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="repeatPasswordAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="password"
                                               class="form-control form-control-lg theme-default"
                                               ng-readonly="readOnly"
                                               placeholder="Repetir Contraseña"
                                               aria-describedby="repeatPasswordAddOn"
                                               ng-model="recoverPasswordModel.confirmPassword"
                                               name="confirmPassword" id="confirmPassword"
                                               ng-trim="true" required>
                                        <a class="input-group-addon btn-info">
                                            <span class="icomoon icon-error red"
                                                  id="confirmPasswordWrong"
                                                  ng-show="recoverPasswordForm.confirmPassword.$dirty && !confirmPasswordSignal"
                                                  ng-click="openModalPassword()"></span>
                                            <span class="icomoon icon-success yellowgreen"
                                                  id="confirmPasswordTick"
                                                  ng-show="recoverPasswordForm.confirmPassword.$dirty && confirmPasswordSignal"
                                                  ng-click="openModalPassword()"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="checkbox checkbox-custom">
                                        <label>
                                            <input type="checkbox" name="termsAndConditions" ng-click="togglePassword()"/>
                                            <span>Mostrar contraseña</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-number">
                                    <p class="text-center">
                                        <span>3</span>
                                        <span>/</span>
                                        <span class="total-number">3</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row" ng-show="!recoveredPassword && !recoverPasswordForm.code.$pristine && !recoverPasswordForm.code.$error.required && !recoverPasswordForm.password.$pristine && !recoverPasswordForm.password.$error.pattern && !recoverPasswordForm.password.$error.required && recoverPasswordModel.password === recoverPasswordModel.confirmPassword">
                        -->
                        <div class="row">
                            <div class="col-xs-12">
                                <a role="button"
                                   ng-show="!recoveredPassword"
                                   ng-disabled="recoveredPassword || recoverPasswordForm.code.$pristine || recoverPasswordForm.code.$error.required || recoverPasswordForm.password.$pristine || recoverPasswordForm.password.$error.pattern || recoverPasswordForm.password.$error.required || recoverPasswordModel.password !== recoverPasswordModel.confirmPassword"
                                   ng-click="recoverPassword()"
                                   class="btn btn-primary btn-lg btn-block">
                                    CAMBIAR CONTRASEÑA
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-show="!recoveredPassword">
                            <div class="col-xs-12">
                                <a role="button" ng-click="backToLogin()"
                                   class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</a>
                            </div>
                        </div>
                        <div class="row" ng-show="recoveredPassword">
                            <div class="col-xs-12">
                                <a role="button" ng-click="backToLogin()" class="btn btn-primary btn-lg btn-block">
                                    Acceder a Incluso</a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </section>

    </article>
</div>
