<div class="incluso-app public" ng-app>

    <article class="password-recovery">

        <div class="alert alert-warning" role="alert" ng-show="!recoverPasswordModel.modelState.isValid">
            <div class="alert-message">
                <div class="icomoon icon-warning"></div>
                <p>¡Error! Los datos son inválidos</p>
                <ul ng-if="recoverPasswordModel.modelState.errorMessages.length > 0">
                    <li ng-repeat="msg in recoverPasswordModel.modelState.errorMessages">{{msg}}</li>
                </ul>
            </div>
        </div>

        <div class="alert alert-success" role="alert"
             ng-show="recoverPasswordModel.modelState.isValid && currentPage === 2">
            <div class="alert-message">
                <div class="icomoon icon-checked-clip"></div>
                <p ng-bind="successMessage"></p>
            </div>
        </div>

        <header>
            <figure>
                <img src="assets/images/img-logo-gentera-lg.png" alt="" class="login-logo"/>
                <figcaption class="center-block text-center">
                    <span>Estudia</span>
                    <span>|</span>
                    <span>Trabaja</span>
                    <span>|</span>
                    <span>Emprende</span>
                </figcaption>
            </figure>
        </header>

        <section>
            <form action="" class="password-recovery-form container-fluid" name="recoverPasswordForm" novalidate>

                <div class="pages">
                    <div class="page" data-page="1" ng-class="currentPage === 1 ? 'active' : ''">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Recuperar contraseña</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">

                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="emailAddOn">
                                            <span class="icomoon icon-envelope"></span>
                                        </p>
                                        <input type="email"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Correo"
                                               aria-describedby="emailAddOn"
                                               name="email"
                                               ng-model="recoverPasswordModel.email"
                                               ng-pattern="/^[a-zA-ZñÑ0-9._%+-]+@[a-zA-ZñÑ0-9.-]+\.[a-zA-ZñÑ]{2,3}$/"
                                               ng-trim="true" required />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">

                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="securityQuestionAddOn">
                                            <span class="icomoon icon-calendar"></span>
                                        </p>
                                        <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                                            <select type="text"
                                                    ng-model="recoverPasswordModel.secretQuestion"
                                                    ng-init="recoverPasswordModel.secretQuestion == null"
                                                    ng-options="item for item in securityquestionItems"
                                                    class="form-control form-control-lg theme-default"
                                                    aria-describedby="securityQuestionAddOn" name="securityQuestion"
                                                    ng-class="{'selected': recoverPasswordModel.secretQuestion.length != 0}">
                                                <option value="" ng-disabled="!!recoverPasswordModel.secretQuestion">
                                                    Pregunta de seguridad
                                                </option>
                                            </select>
                                            <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">

                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="securityAnswerAddOn">
                                            <span class="icomoon icon-dna"></span>
                                        </p>
                                        <input type="text"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Respuesta de seguridad"
                                               aria-describedby="securityAnswerAddOn"
                                               ng-model="recoverPasswordModel.secretAnswer"
                                               name="secretAnswer"
                                               ng-pattern="/^[\w\W]+$/"
                                               ng-trim="true" required />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-number">
                                    <p class="text-center">
                                        <span>1</span>
                                        <span>/</span>
                                        <span class="total-number">2</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <a role="button" class="btn btn-primary btn-lg btn-block"
                                   ng-click="getPasswordRecoveryCode()">Continuar</a>
                            </div>
                            <div class="col-xs-12">
                                <a role="button" class="btn btn-default btn-transparent btn-lg btn-block"
                                   ng-click="login()">Cancelar</a>
                            </div>
                        </div>

                    </div>

                    <div class="page" data-page="2" ng-class="currentPage === 2 ? 'active' : ''">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Nueva contraseña</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="securityCodeAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="text" class="form-control form-control-lg theme-default"
                                               ng-readonly="readOnly" placeholder="Código"
                                               aria-describedby="securityCodeAddOn" ng-model="recoverPasswordModel.code"
                                               name="code" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="accountPasswordAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="password"
                                               class="form-control form-control-lg theme-default"
                                               ng-readonly="readOnly"
                                               placeholder="Contraseña"
                                               aria-describedby="accountPasswordAddOn"
                                               name="password"
                                               ng-model="recoverPasswordModel.password"
                                               ng-pattern="/^(?=.*[a-zñ])(?=.*[A-ZÑ])(?=.*\d)(?=.*[_\W])[\S]{8,}$/"
                                               ng-trim="false" required/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="repeatPasswordAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="password"
                                               class="form-control form-control-lg theme-default"
                                               ng-readonly="readOnly"
                                               placeholder="Repetir contraseña"
                                               aria-describedby="repeatPasswordAddOn"
                                               ng-model="recoverPasswordModel.confirmPassword"
                                               name="confirmPassword"
                                               ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_\W])[\S]{8,}$/"
                                               ng-trim="false" required/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-number">
                                    <p class="text-center">
                                        <span>2</span>
                                        <span>/</span>
                                        <span class="total-number">2</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="!recoveredPassword">
                            <div class="col-xs-12">
                                <a role="button" ng-click="recover()" class="btn btn-primary btn-lg btn-block">Cambiar
                                    contraseña</a>
                            </div>
                            <div class="col-xs-12">
                                <a role="button" ng-click="login()"
                                   class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</a>
                            </div>
                        </div>

                        <div class="row" ng-show="recoveredPassword">
                            <div class="col-xs-12">
                                <a role="button" ng-click="login()" class="btn btn-primary btn-lg btn-block">Acceder a
                                    Incluso</a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </section>

    </article>
</div>
