<div class="incluso-app public" ng-app>
  <article class="register" ng-controller="publicRegisterController">

    <div class="alert alert-warning" role="alert" ng-show="!registerModel.modelState.isValid && !isRegistered" ng-cloak>      
      <div class="alert-message">
        <div class="icomoon icon-warning"></div>
        <p>¡Error! Verifica tus datos</p>
        <ul ng-if="registerModel.modelState.errorMessages.length > 0">
          <li ng-repeat="msg in registerModel.modelState.errorMessages">{{msg}}</li>
        </ul>
      </div>
    </div>

    <div class="alert alert-success" role="alert" ng-show="isRegistered" ng-cloak>
      <div class="alert-message">
        <div class="icomoon icon-checked-clip"></div>
        <p>¡Te has registrado correctamente!</p> 
      </div>
    </div>

    <script type="text/ng-template" id="termsAndConditionsModal.html">
      <div class="modal-header">
        <h3 class="modal-title"> &mdash; Términos y Condiciones &mdash; </h3>
        <a role="button" class="icon icon-close btn btn-circle" ng-click="cancel()">
          <span class="icomoon icon-cross"></span>
        </a>
      </div>
      <div class="modal-body">
       <p>
                Esta declaración de derechos y responsabilidades (en adelante la "Declaración" o "Condiciones") contiene las condiciones de los servicios de [Incluso] que rigen la relación entre [Incluso], los usuarios y con todos aquellos que interactúan en la “Plataforma Misión Incluso”, así como con las marcas, los productos y los servicios de la misma. Al usar la Plataforma o al acceder a ella, manifiestas tu conformidad con la presente Declaración, la cual podrá actualizarse periódicamente según se estipula en la sección 6 “Enmiendas” descrita más adelante.
              </p>
              <p>1. Contenido</p>
                <ul class="alpha-list">
                  <li>
                    Todos los elementos que conforman el contenido de la aplicación de la Plataforma, identificada como “Misión Incluso”,  incluyendo de manera enunciativa más no limitativa, los nombres comerciales, marcas u otros signos distintivos que figuren en la misma son propiedad de Gentera, S.A.B. de C.V. (en adelante “Gentera”) y se encuentran protegidos bajo las leyes de Propiedad Industrial. Los derechos de Propiedad Intelectual sobre los contenidos, diseño gráfico, estructura, elementos audiovisuales y demás elementos de este sitio web son propiedad exclusivamente de Gentera quedando expresamente prohibido su reenvío, transmisión, modificación, reproducción, distribución, comercialización o cualquier otro tipo de explotación comercial en términos de las leyes aplicables sin el previo consentimiento y autorización expresa de Gentera y/o del titular de los derechos patrimoniales.
                  </li>
                  <li>
                    En virtud de lo anterior, salvo el uso que se llegue a dar para fines personales o privados, a los cuales se encuentra autorizado el usuario, cualquier uso distinto que se dé a cualquiera de los elementos de Propiedad Intelectual mencionados en el inciso a) que antecede constituirá en sí mismo una infracción a los derechos de Propiedad Intelectual por lo que el titular de los mismos, podrá proceder civil e incluso penalmente de acuerdo a las leyes aplicables.
                  </li>
                </ul>
              
              <p>
                2. Privacidad
              </p>
              <p>
                La privacidad de tus datos es muy importante para nosotros, por lo que hemos diseñado nuestro Aviso de Privacidad para ayudarte a comprender cómo puedes usar la Plataforma para compartir información con otros usuarios, y cómo recopilamos y usamos el contenido e información. Para acceder a la Plataforma deberás leer y en su caso aceptar los términos de nuestro Aviso de Privacidad descrito a continuación. 
              </p>
              <p>
                Aviso de Privacidad Misión Incluso
              </p>
              <p>
                Con fundamento en la Ley Federal de Protección de Datos Personales en Posesión de Particulares ( en adelante la “ Ley” ) le informamos que Incluso Estudia, Trabaja, Emprende, ( en adelante “ Incluso” ) , empresa perteneciente a GENTERA, S.A.B. DE C.V., con domicilio en Insurgentes Sur número 1458 piso  11,  Colonia Actipan,  Delegación  Benito  Juárez,  C.P.  03230,  México D.F., actúa como Responsable de sus datos personales.
              </p>
              <p>¿Para qué fines utilizaremos sus datos?</p>

              <p>  Los datos personales que recabaremos, serán utilizados para las siguientes finalidades:</p>
                <ul>
                  <li>Brindar a los adscritos al programa capacitación sobre el uso de dispositivo móvil, redes sociales y plataforma;</li>
                  <li>Brindar  a   los   adscritos   al   programa   los conocimientos  teóricos  y  metodológicos  sobre  el modelo pedagógico;</li>
                  <li>Brindar apoyo y seguimiento a los adscritos al programa a través de redes sociales y/ o medios tecnológicos;</li>
                  <li>Realizar un diagnóstico de las necesidades e inquietudes  de  los  adscritos  al  programa   sobre temas de emprendimiento e inclusión productiva en la sociedad;
                  </li>
                  <li>Apoyar a los adscritos al programa para definir sueños propios a partir del reconocimiento de sus intereses, habilidades e inteligencias predominantes para un mejor aprovechamiento de sus recursos personales;
                  </li>

                  <li>Apoyar   a   los   adscritos   al   programa   a   que   se planteen un proyecto de vida aprovechando sus recursos personales y los de otros, poniendo en práctica competencias sociales como colaboración, comunicación y toma de decisiones;
                  </li>
                  <li>Apoyar a los adscritos al programa para desarrollar una   actitud   emprendedora    que     les    permita emprender un proyecto con impacto social considerando principios de negocios y educación financiera;
                  </li>
                  <li>Entregar   un   reconocimiento   a   los   adscritos   al programa por finalizar el programa;</li>
                  <li>Realizar encuestas y/ o estudios que nos permitan conocer sus necesidades  y  preferencias  para  estar en posibilidad de desarrollar programas o beneficios que se adecuen a estas; y
                  </li>
                  <li>Análisis y  estadísticas  sobre  los  adscritos  al programa.</li>
                </ul>
                <p>
                  De manera adicional y como finalidades secundarias, utilizaremos su información personal para las siguientes finalidades que no son necesarias para el servicio solicitado, pero que nos permiten brindarle un mejor servicio como cliente:
                </p>
                <ul>
                  <li>Realizar encuestas sobre la calidad en el servicio;</li>
                  <li>Ofrecerle o enviarle promociones, publicidad  de Banco Compartamos y de las empresas que forman parte de GENTERA;</li>
                  <li>Conocer sus necesidades y  preferencias  para  estar en posibilidad de ofrecerle productos que se adecuen a estas;</li>
                  <li>Elaborar estudios de  mercadotecnia,  segmentación de mercado, estadísticos; y</li>
                  <li>Invitarlo a participar en nuestros eventos, concursos o sorteos, y en caso de resultar ganador, contactarlo para la entrega del premio.
                  </li>
                </ul>
                <p>
                  En caso que no desee que sus datos personales sean tratados para los fines adicionales señalados en el presente aviso desde este momento usted lo puede solicitar ingresando a la aplicación Misión Incluso por medio del menú superior en la opción “perfil” donde podrás seleccionar si aceptas o no las finalidades secundarias.
                </p>

                <p>
                  La negativa para el uso de sus datos personales sobre las finalidades secundarias, no podrá ser un motivo para que le  neguemos los productos y/o servicios que solicita o contrate con nosotros.
                </p>
                <p>¿Qué datos personales utilizaremos para estos fines?</p>

                <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</p>
                <p>
                  Datos Personales: Nombre completo, Nivel de estudios, Institución educativa, domicilio completo, teléfono, redes sociales, nombre completo de cliente compartamos (familiar), gustos, pasatiempos, geolocalización, información del dispositivo móvil el usuario (marca, modelo y versión sistema operativo), tiempo de navegación en la plataforma.
                </p>
                <p>
                  Además de los datos personales para las finalidades descritas en el presente aviso de privacidad, confirmamos que no utilizaremos datos personales considerados como sensibles.
                </p>

                <p>
                  El tratamiento de su información personal y financiera se realizará con base en los principios de licitud, calidad, consentimiento, información, finalidad, lealtad, proporcionalidad y responsabilidad consagrados en la Ley.
                  ¿Con quién compartimos su información personal y para qué fines?
                  Le informamos que Incluso podrá transferir sus datos personales a terceros cuando: (i) esté prevista  en  una Ley o Tratado; (ii) sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el  control común de GENTERA; (iii) sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia; y (iv) sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial.
                  ¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
                  Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su  derecho  solicitar  la  corrección  de  su  información personal en caso de que esté desactualizada,  sea inexacta o incompleta ( Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios,  deberes  y  obligaciones  previstas   en   la normativa ( Cancelación); así como oponerse al  uso  de sus datos personales para fines específicos ( Oposición). Estos derechos se conocen como derechos ARCO.
                </p>

                <p>
                  Para el ejercicio de cualquiera de los derechos ARCO, y para la revocación de su consentimiento al tratamiento de sus Datos Personales, deberá llenar debidamente el formulario que ponemos a su disposición en  las siguientes modalidades, a través de nuestra página de internet http://www.incluso.com.mx; y por medio de un escrito   dirigido   a   la   Gerencia   de   Privacidad   de   la Información a la siguiente dirección: Insurgentes  Sur número 1458 piso 7, Colonia Actipan, Delegación Benito Juárez, C.P. 03230, México, D.F..
                </p>
                <p>
                  Para aclarar dudas sobre el procedimiento y  requisitos para el ejercicio de los derechos ARCO, y para la revocación de su consentimiento al tratamiento de sus Datos  Personales,  usted  podrá  llamar  al  siguiente número telefónico 01 ( 55) 5276- 7250,  extensión 7658; ingresar         a         nuestro         sitio         de         Internet  http://www.incluso.com.mx en la sección Privacidad, o bien, puede ponerse en contacto con nuestra área de Privacidad de la Información, quien dará trámite a las solicitudes para el ejercicio de estos derechos, y atenderá  cualquier  duda  que  pudiera  tener  respecto  al tratamiento de su información. Los datos de contacto son los siguientes:
                </p>
                <ul>
                  <li>Nombre  de  la  Persona:  Oficial  de  Privacidad  de  la Información</li>
                  <li>Domicilio: Insurgentes Sur número 1458 piso 7, Colonia Actipan, Delegación Benito Juárez, C.P. 03230, México, D.F.,</li>
                  <li>Número  telefónico: 01 ( 55) 5276- 7250,  extensión 7658.</li>
                  <li>Correo electrónico: oficialdeprivacidad@gentera.com.mx</li>
                </ul>
                <p>
                  La revocación del consentimiento  sobre  el  tratamiento de sus datos será atendida en un periodo de 5 días hábiles, posterior a la recepción de su solicitud.
                </p>
                <p>¿Cómo puede limitar el uso o divulgación de su información personal?</p>
                <p>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios:</p>

                <p>
                  Inscribir su registro en el listado de exclusión de Banco Compartamos “Exclusión de Promoción y Publicidad”, a fin de que sus datos personales no sean tratados para fines mercadotécnicos, publicitarios o de prospección comercial por nuestra parte    llamando    al    número    telefónico    0 1 8 0 02 2 0 9 0 0 0 opción 0 , o bien, enviar un correo electrónico a la siguiente dirección: oficialdeprivacidad@gentera.com.mx,
                </p>
                <ul>
                  <li>
                    Usted  podrá  inscribirse  a  través  de  la  página  de Internet de la Comisión Nacional para la Protección y Defensa  de  los  Usuarios  de  Servicios  Financieros (Condusef) cuya dirección es  http://www.condusef.gob.mx en el  Registro  Público de   Usuarios   ( REUS),   padrón   que   contiene información de los usuarios del sistema  financiero que no  desean  ser  molestados  con  publicidad  y promociones por parte de  las  instituciones financieras en sus prácticas de mercadotecnia, publicidad y prospección comercial,
                  </li>
                  <li>
                    Usted  podrá  inscribirse  a  través  de  la  página  de Internet  de  la  Procuraduría  Federal  del  Consumidor (PROFECO) cuya dirección es http://profeco.gob.mx en el Registro Público para Evitar Publicidad (REPEP), padrón   que   contiene    información    de    los consumidores que no desean ser  molestados con publicidad no deseada y que su información no sea utilizada con fines mercadotécnicos o publicitarios.
                  </li>
                </ul>
                <p>El uso de tecnologías de rastreo en nuestro portal de Internet</p>

                <p>
                  Le informamos que en nuestra aplicación utilizaremos tecnologías a través de las cuales es posible monitorear su comportamiento como usuario de la  aplicación,  así como brindarle un mejor servicio  y  experiencia  de usuario adscrito al programa.
                  Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes: Fecha de inicio y fin de sesión, tiempo de duración en la sesión, navegador, datos del navegador, secciones visitadas, número de veces que se visitó la página, mismos que utilizamos para conocer el tiempo que dedica el adscrito al programa a las actividades de la plataforma, conocer qué tipo de software y hardware es el más común usado para ingresar a la página web y conocer la afluencia de los usuarios a través de las secciones de la página.
                </p>

                <p>¿Cómo puede conocer los cambios a este aviso de privacidad?</p>
                <p>
                  El    presente     aviso     de     privacidad     puede     sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; por los cambios en nuestros productos o servicios que ofrecemos; de nuestras prácticas de privacidad;  de cambios en nuestro modelo de negocio.
                </p>
                <p>
                  Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el  presente  aviso  de privacidad,    a través   de   nuestro   sitio   de   internet  http://www.in cluso.com.mx
                </p>
                <p>
                  Para conocer las empresas que forman parte de GENTERA   usted   puede   ingresar   al   sitio   de   internet  http://www.gentera.com.mx
                </p>
              
              <p>3. Seguridad</p>
              <p>
                Hacemos todo lo posible para que nuestra Plataforma sea un sitio seguro,  para lo  cual necesitamos tú colaboración, lo que implica los siguientes compromisos de tu parte: 
              </p>
              <ul class="alpha-list">
                <li>
                  No recopilarás información o contenido de otros usuarios ni accederás a la Plataforma utilizando medios automáticos (como bots de recolección, robots, spiders o scrapers) sin nuestro permiso previo.
                </li>
                <li>No participarás en marketing multinivel ilegal, como el de tipo piramidal, en nuestra plataforma.</li>
                <li>No subirás virus ni código malicioso de ningún tipo.</li>
                <li>No solicitarás información de inicio de sesión ni accederás a una cuenta perteneciente a otro usuario.</li>
                <li>No molestarás, intimidarás ni acosarás a ningún usuario.</li>
                <li>No facilitarás ni fomentarás el incumplimiento de esta Declaración ni de nuestras políticas.</li>
              </ul>
              
              <p>4. Seguridad de la cuenta y registro</p>
              <p>
                Los usuarios de la Plataforma proporcionan sus nombres y datos reales solicitados por la misma, y necesitamos tu colaboración para que siga siendo así. 
              </p>
              <p>Estos son algunos de los compromisos que aceptas en relación con el registro y el mantenimiento de la seguridad de tu cuenta:</p>
              <ul class="alpha-list">
                <li>No proporcionarás información personal falsa en la Plataforma, ni crearás una cuenta para otras personas sin su autorización.</li>
                <li>No crearás más de una cuenta personal.</li>
                <li>Si inhabilitamos tu cuenta, no crearás otra sin nuestro permiso.</li>
                <li>
                  La aplicación de la Plataforma Misión Incluso está habilitada para mayores de 13 años, por lo tanto si eres menor de 13 años deberás abstenerte de registrarte. 
                </li>
                <li>Mantendrás la información de contacto exacta y actualizada.</li>
                <li>
                  Si seleccionas un nombre de usuario o identificador similar para tu cuenta o página, nos reservamos el derecho de eliminarlo o reclamarlo si lo consideramos oportuno (por ejemplo, si el propietario de una marca comercial se queja por un nombre de usuario que no esté estrechamente relacionado con el nombre real del usuario).
                </li>
              </ul>
              <p>5. Dispositivos móviles y de otros tipos</p>
              <ul class="alpha-list">
                <li>
                  Actualmente ofrecemos nuestros servicios para dispositivos móviles de forma gratuita, pero ten en cuenta que se aplicarán las tarifas normales de tu operador de telefonía celular, por ejemplo, para mensajes de texto y datos.
                </li>
                <li>
                  Proporcionas tu consentimiento y todos los derechos necesarios para permitir que los usuarios sincronicen (incluso a través de una aplicación) sus dispositivos con cualquier información que puedan ver en la plataforma.
                </li>
              </ul>

              <p>6. Enmiendas</p>
              <ul class="alpha-list">
                <li>
                  Te notificaremos antes de realizar cambios en estas Condiciones y te daremos la oportunidad de revisar y comentar las Condiciones modificadas antes de seguir usando nuestros Servicios.
                </li>
                <li>Si realizamos cambios en la presente Declaración y/o en la Plataforma, podremos indicarlo en la página correspondiente.</li>
                <li>
                    Tu uso continuado de los Servicios de nuestra Plataforma después de recibir la notificación sobre los cambios en nuestras Condiciones, políticas o normas supone la aceptación de las Enmiendas.
                </li>
              </ul>

              <p>7. Terminación</p>
              <p>
                Si infringes la esencia o el espíritu de esta Declaración, creas riesgos de cualquier tipo para la Plataforma o nos expones a posibles responsabilidades jurídicas, podríamos impedirte el acceso a la misma total o parcialmente. Te notificaremos por correo electrónico o la próxima vez que intentes acceder a tu cuenta. También puedes eliminar tu cuenta o desactivar tu aplicación en cualquier momento. En tales casos, esta Declaración cesará. 
              </p>
              <p>8. Conflictos</p>
              <ul class="alpha-list">
                <li>
                  Resolverás cualquier demanda, causa de acción o conflicto (colectivamente, "Demanda") que tengas con nosotros surgida de la presente Declaración o de la Plataforma, o relacionada con estos, únicamente en los Tribunales de México, Distrito Federal y aceptas que sean dichos tribunales los competentes a la hora de resolver los litigios de dichas Demandas. Las leyes del Distrito Federal rigen esta Declaración, así como cualquier Demanda que pudiera surgir entre tú y nosotros, independientemente de las disposiciones sobre conflictos de leyes. 
                </li>
                <li>
                  Si alguien interpone una Demanda contra nosotros relacionada con tus acciones, tu contenido o tu información en la Plataforma, nos indemnizarás y nos librarás de la responsabilidad por todos los posibles daños, pérdidas y gastos de cualquier tipo (incluidos los costos y honorarios judiciales razonables) relacionados con dicha Demanda. Aunque proporcionamos normas para la conducta de los usuarios, no controlamos ni dirigimos sus acciones en la Plataforma y no somos responsables del contenido o de la información que los usuarios transmitan o compartan en la Plataforma. No somos responsables de ningún contenido que se considere ofensivo, inapropiado, obsceno, ilegal o inaceptable que puedas encontrar en nuestra Plataforma. No somos responsables de la conducta de ningún usuario de la Plataforma, tanto dentro como fuera de la misma. 
                </li>
              </ul>
              <p>
                Al utilizar los Servicios de la Plataforma o al acceder a ellos, nos permites recopilar y usar tu contenido e información de acuerdo con nuestras políticas y Aviso de Privacidad, que se actualiza periódicamente.
              </p>
      </div>
      <div class="modal-footer"></div>
    </script>

    <header>
      <figure>
        <!-- <img src="assets/images/img-logo-gentera.svg" alt="" class="login-logo"> -->
        <img src="assets/images/img-logo-gentera-lg.png" alt="" class="login-logo" />
        <figcaption class="center-block text-center">
          <span>Estudia</span>
          <span>|</span>
          <span>Trabaja</span>
          <span>|</span>
          <span>Emprende</span>
        </figcaption>
      </figure> 
    </header>    

    <section>
      <form action="" class="register-form container-fluid" name="registerForm" >
        <div class="row">
          <div class="col-xs-12">
            <h1>Datos de registro</h1>
          </div>
        </div>
        <div class="pages">

          <div class="page" data-page="1" ng-class="currentPage === 1 ? 'active' : ''">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="userNameAddOn">
                      <span class="icomoon icon-user"></span>
                    </p>
                    <input type="text" ng-model="registerModel.username" name="userName" class="form-control form-control-lg theme-default" placeholder="Nombre de usuario" aria-describedby="userNameAddOn" pattern="[A-Za-z0-9]+" required />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="aliasAddOn">
                      <span class="icomoon icon-user"></span>
                    </p>
                    <input type="text" ng-model="registerModel.firstname" name="firstName" class="form-control form-control-lg theme-default" placeholder="Nombre(s)" aria-describedby="aliasAddOn" pattern="[A-Za-z]+" required />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="aliasAddOn">
                      <span class="icomoon icon-user"></span>
                    </p>
                    <input type="text" ng-model="registerModel.lastname" name="lastName" class="form-control form-control-lg theme-default" placeholder="Apellido paterno" aria-describedby="aliasAddOn" pattern="[A-Za-z]+" required />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="aliasAddOn">
                      <span class="icomoon icon-user"></span>
                    </p>
                    <input type="text" ng-model="registerModel.mothername" name="motherName" class="form-control form-control-lg theme-default" placeholder="Apellido materno" aria-describedby="aliasAddOn" pattern="[A-Za-z]+" required />
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="birthDateAddOn">
                      <span class="icomoon icon-calendar"></span>
                    </p>                    
                    
                    <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                      <input type="text" ng-model="registerModel.birthday" name="birthday" ng-click="datePickerClick()" ng-focus="showPlaceHolderBirthday()" class="form-control form-control-lg theme-default" aria-describedby="birthDateAddOn" minlength="10" maxlength="10" placeholder="Fecha de nacimiento" required />
                      <!-- <span class="{{showPlaceHolder == true ? 'custom-placeholder form-control-lg show' : 'custom-placeholder form-control-lg hidden'}}" >Fecha de nacimiento</span> -->                      
                    </p>                    
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="genderAddOn">
                      <span class="icomoon icon-dna"></span>                      
                    </p>
                    <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                      <select ng-model="registerModel.gender" name="gender" ng-options="item for item in genderItems" ng-init="registerModel.gender == null" class="form-control form-control-lg theme-default" aria-describedby="genderAddOn" required  ng-class="{'selected': registerModel.gender.length != 0}">
                        <option value="" ng-disabled="!!registerModel.gender">Género</option>
                      </select>
                      <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="countryAddOn">
                      <span class="icomoon icon-earth"></span>                        
                    </p>
                    <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                      <select ng-model="registerModel.country" name="country" ng-options="item for item in countryItems" ng-init="registerModel.country == null" class="form-control form-control-lg theme-default" aria-describedby="countryAddOn" required ng-class="{'selected': registerModel.country.length != 0}">
                        <option value="" ng-disabled="!!registerModel.country">País</option>                        
                      </select>
                      <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>        

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="cityAddOn">
                      <span class="icomoon icon-map"></span> 
                    </p>
                    <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                      <select ng-model="registerModel.city" name="city" ng-options="item for item in cityItems" ng-init="registerModel.city == null" class="form-control form-control-lg theme-default" aria-describedby="cityAddOn" required ng-class="{'selected': registerModel.city.length != 0}">
                        <option value="" ng-disabled="!!registerModel.city">Ciudad</option>
                      </select>
                      <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                    </p>                    
                  </div>
                </div>            
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>1</span>
                    <span>/</span>
                    <span class="total-number">2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <a role="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(2)">Continuar</a>
              </div>
              <div class="col-xs-12">
                <a role="button" class="btn btn-default btn-transparent btn-lg btn-block" ng-click="login()">Cancelar</a>
              </div> 
            </div>          

          </div>   

          <div class="page" data-page="2" ng-class="currentPage === 2 ? 'active' : ''">

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="emailAddOn">
                      <span class="icomoon icon-envelope"></span>                      
                    </p>
                    <input type="text" ng-disabled="isRegistered" ng-model="registerModel.email" name="email" class="form-control form-control-lg theme-default" placeholder="Correo" aria-describedby="emailAddOn" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="accountPasswordAddOn">
                      <span class="icomoon icon-lock"></span>
                    </p>
                    <input type="password" ng-disabled="isRegistered" ng-model="registerModel.password" name="password" class="form-control form-control-lg theme-default" placeholder="Contraseña" aria-describedby="accountPasswordAddOn" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W|_).{8,}" required />
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="confirmPasswordAddOn">
                      <span class="icomoon icon-lock"></span> 
                    </p>
                    <input type="password" ng-disabled="isRegistered" ng-model="registerModel.confirmPassword" name="confirmPassword" class="form-control form-control-lg theme-default" placeholder="Repetir contraseña" aria-describedby="confirmPasswordAddOn" required />
                  </div>
                </div>
              </div>
            </div>             

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="securityQuestionAddOn">
                      <span class="icomoon icon-help"></span>
                    </p>
                    <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                      <select ng-disabled="isRegistered" ng-model="registerModel.secretQuestion" ng-init="registerModel.secretQuestion == null" ng-options="item for item in securityquestionItems" name="securityQuestion" class="form-control form-control-lg theme-default" aria-describedby="securityQuestionAddOn" data-show-placeholder="$scope.isRegistered" required ng-class="{'selected': registerModel.secretQuestion.length != 0}">
                        <option value="" ng-disabled="!!registerModel.secretQuestion">Pregunta de seguridad</option>
                      </select>
                      <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>       

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group input-group-lg theme-default">
                    <p class="input-group-addon" id="securityAnswerAddOn">
                      <span class="icomoon icon-help"></span>
                    </p>
                    <input type="text" ng-disabled="isRegistered" ng-model="registerModel.secretAnswer" name="secretAnswer" class="form-control form-control-lg theme-default" placeholder="Respuesta de seguridad" aria-describedby="securityAnswerAddOn" patern="[A-Za-z0-9]" required />
                  </div>
                </div>            
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                  <div class="checkbox checkbox-custom">
                    <label>
                      <input type="checkbox" ng-disabled="isRegistered" name="termsAndConditions" ng-model="registerModel.termsAndConditions" /> 
                      <span><a href="" ng-click="openModal()">Acepto los términos y condiciones</a></span>
                    </label>
                  </div>
              </div>
            </div>            

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>2</span>
                    <span>/</span>
                    <span class="total-number">2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12" ng-show="!isRegistered">
                <div class="button-group">
                  <a role="button" ng-disabled="isRegistered" class="btn btn-primary btn-lg" ng-click="navigateToPage(1)">
                    <span class="icomoon icon-arrow-slim-left"></span>
                  </a>
                  <a role="button" ng-disabled="isRegistered" ng-click="register()" class="btn btn-primary btn-lg">Registrarme</a>
                </div>
              </div>
              <div class="col-xs-12" ng-show="!isRegistered">
                <a role="button" ng-disabled="isRegistered" ng-click="login()" class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</a>
              </div>       
            </div>          

          </div> 
        </div> 
      </form>      
    </section>

  </article>
</div>