<div class="incluso-app public">
    <article class="register">

        <div class="alert alert-warning" role="alert" ng-if="!registerModel.modelState.isValid && !isRegistered"
             ng-cloak>
            <div class="alert-message">
                <div class="icomoon icon-warning"></div>
                <p>¡Error! Verifica tus datos</p>
                <ul ng-if="registerModel.modelState.errorMessages.length > 0">
                    <li ng-repeat="msg in registerModel.modelState.errorMessages">{{msg}}</li>
                </ul>
            </div>
        </div>

        <div class="alert alert-success" role="alert" ng-if="isRegistered">
            <div class="alert-message">
                <div class="icomoon icon-checked-clip"></div>
                <p>¡Te has registrado correctamente!</p>
            </div>
        </div>

        <script type="text/ng-template" id="termsAndConditionsModal.html">
            <div class="modal-header">
                <!--<h3 class="modal-title"> &mdash; Declaración de derechos y responsabilidades &mdash; </h3>-->
                <h3 class="modal-title"> &mdash; {{contentTandC.t_and_c_title}} &mdash; </h3>
                <a role="button" class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <div ng-bind-html="contentTandC.t_and_c_content.value"></div>

            </div>
            <div class="modal-footer"></div>
        </script>

        <script type="text/ng-template" id="usernameInfoModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Nombre de Usuario</h3>
                <a role="button" class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <p>
                    Tu nombre de usuario puede incluir letras minúsculas, números, caracteres especiales como guion bajo, guion, punto, arroba y sin espacios. <br /><br />
                    Ejemplo: in-cluso01.
                </p>
            </div>
            <div class="modal-footer"></div>
        </script>

        <script type="text/ng-template" id="passwordInfoModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Ayuda de Contraseña</h3>
                <a role="button" class="icon icon-close btn btn-circle" ng-click="cancel()">
                    <span class="icomoon icon-cross"></span>
                </a>
            </div>
            <div class="modal-body">
                <p>
                    Tu contraseña debe tener al menos 8 caracteres, entre ellos números, letras mayúsculas, minúsculas y símbolos especiales. <br /><br />
                    Ejemplo: Inclus0123#
                </p>
            </div>
            <div class="modal-footer"></div>
        </script>

        <header>
            <figure>
                <img src="assets/images/img-logo-gentera-lg.png" alt="" class="login-logo"/>
                <figcaption class="center-block text-center">
                    <span>Estudia</span>
                    <span>|</span>
                    <span>Trabaja</span>
                    <span>|</span>
                    <span>Emprende</span>
                </figcaption>
            </figure>
        </header>

        <section>
            <form action="" class="register-form container-fluid" name="registerForm" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Datos de registro</h1>
                    </div>
                </div>
                <div class="pages">

                    <div class="page" data-page="1" ng-class="currentPage === 1 ? 'active' : ''">
                        <!-- Username -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="userNameAddOn">
                                            <span class="icomoon icon-user"></span>
                                        </p>
                                        <input type="text"
                                               ng-model="registerModel.username"
                                               ng-blur="clearErrorMessages()"
                                               name="userName" id="userName"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Nombre de usuario"
                                               aria-describedby="userNameAddOn"
                                               ng-pattern="/^(?=\S)[-.@_a-zA-Z0-9ñÑ]*$/"
                                               ng-trim="true" required/>
                                        <a class="input-group-addon btn-info" ng-click="openModalUsername()">
                                            <span class="icomoon icon-error red"
                                                  ng-show="registerForm.userName.$dirty && (registerForm.userName.$error.pattern || registerForm.userName.$error.required)"
                                                  ng-click="togglePassword()"></span>
                                            <span class="icomoon icon-success yellowgreen"
                                                  ng-show="registerForm.userName.$dirty && !registerForm.userName.$error.pattern && !registerForm.userName.$error.required"
                                                  ng-click="togglePassword()"></span>
                                            <span class="icomoon icon-information" ng-show="registerForm.userName.$pristine"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Firstname -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="aliasAddOn">
                                            <span class="icomoon icon-user"></span>
                                        </p>
                                        <input type="text"
                                               ng-model="registerModel.firstname"
                                               ng-blur="clearErrorMessages()"
                                               name="firstName"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Nombre(s)"
                                               aria-describedby="aliasAddOn"
                                               ng-pattern="/^[\s\-a-zA-ZáéíóúÁÉÍÓÚ'ñÑ0-9]+$/"
                                               ng-trim="true" required/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Lastname -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="aliasAddOn">
                                            <span class="icomoon icon-user"></span>
                                        </p>
                                        <input type="text"
                                               ng-model="registerModel.lastname"
                                               ng-blur="clearErrorMessages()"
                                               name="lastName"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Apellido paterno"
                                               aria-describedby="aliasAddOn"
                                               ng-pattern="/^[\s\-a-zA-ZáéíóúÁÉÍÓÚ'ñÑ0-9]+$/"
                                               ng-trim="true" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Birthday-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="birthDateAddOn">
                                            <span class="icomoon icon-calendar"></span>
                                        </p>

                                        <p class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                                            <input type="text"
                                                   ng-model="registerModel.birthday"
                                                   ng-blur="clearErrorMessages()"
                                                   name="birthday"
                                                   ng-click="datePickerClick()"
                                                   ng-focus="showPlaceHolderBirthday()"
                                                   class="form-control form-control-lg theme-default"
                                                   aria-describedby="birthDateAddOn" minlength="10" maxlength="10"
                                                   placeholder="Fecha de nacimiento" required/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Gender select-->
                        <div class="row" ng-show="!isNewFacebookUser && !isUpdate">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="genderAddOn">
                                            <span class="icomoon icon-dna"></span>
                                        </p>
                                        <div class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                                            <label class="form-control form-control-lg theme-default"
                                            ng-class="{'placeholder': registerModel.gender == ''}"
                                            ng-click="selectClick(genderItems, 'gender')"
                                            ng-show="mobilecheck()">{{registerModel.gender || 'Género'}}</label>
                                            <select ng-model="registerModel.gender" name="gender"
                                                    ng-change="clearErrorMessages()"
                                                    ng-options="item for item in genderItems"
                                                    ng-init="registerModel.gender == null"
                                                    ng-show="!mobilecheck()"
                                                    class="form-control form-control-lg theme-default"
                                                    aria-describedby="genderAddOn" required
                                                    ng-class="{'selected': registerModel.gender.length != 0}">
                                                <option value="" ng-disabled="!!registerModel.gender">Género</option>
                                            </select>
                                            <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Country select-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="countryAddOn">
                                            <span class="icomoon icon-earth"></span>
                                        </p>
                                        <div class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                                            <label class="form-control form-control-lg theme-default"
                                            ng-class="{'placeholder': registerModel.country == ''}"
                                            ng-click="selectClick(countryItems, 'country')"
                                            ng-show="mobilecheck()">{{registerModel.country || 'País'}}</label>
                                            <select ng-model="registerModel.country" name="country"
                                                    ng-change="clearErrorMessages()"
                                                    ng-options="item for item in countryItems"
                                                    ng-init="registerModel.country == null"
                                                    ng-show="!mobilecheck()"
                                                    class="form-control form-control-lg theme-default"
                                                    aria-describedby="countryAddOn" required
                                                    ng-class="{'selected': registerModel.country.length != 0}">
                                                <option value="" ng-disabled="!!registerModel.country">País</option>
                                            </select>
                                            <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Email-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="emailAddOn">
                                            <span class="icomoon icon-envelope"></span>
                                        </p>
                                        <input type="text"
                                               ng-disabled="isRegistered"
                                               ng-model="registerModel.email"
                                               ng-blur="clearErrorMessages()"
                                               name="email"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Correo"
                                               aria-describedby="emailAddOn"
                                               ng-pattern="/^[a-zA-ZñÑ0-9._%+-]+@[a-zA-ZñÑ0-9.-]+\.[a-zA-ZñÑ]{2,3}$/"
                                               ng-trim="true" required/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Password-->
                        <div class="row" ng-show="!isNewFacebookUser && !isUpdate">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="accountPasswordAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="text"
                                               ng-disabled="isRegistered"
                                               ng-model="registerModel.password"
                                               ng-blur="clearErrorMessages()"
                                               name="password" id="password"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Contraseña"
                                               aria-describedby="accountPasswordAddOn"
                                               ng-trim="true" required/>
                                        <a class="input-group-addon btn-info">
                                            <span class="icomoon icon-error red"
                                                  ng-show="registerForm.password.$dirty && !showPasswd"
                                                  ng-click="openModalPassword()">
                                            </span>
                                            <span class="icomoon icon-success yellowgreen"
                                                  ng-show="registerForm.password.$dirty && showPasswd"
                                                  ng-click="openModalPassword()">
                                            </span>
                                            <span class="icomoon icon-information"
                                                  ng-click="openModalPassword()"
                                                  ng-show="registerForm.password.$pristine">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Confirm password-->
                        <div class="row" ng-show="!isNewFacebookUser && !isUpdate">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="confirmPasswordAddOn">
                                            <span class="icomoon icon-lock"></span>
                                        </p>
                                        <input type="text"
                                               ng-disabled="isRegistered"
                                               ng-model="registerModel.confirmPassword"
                                               ng-blur="clearErrorMessages()"
                                               name="confirmPassword" id="confirmPassword"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Repetir contraseña"
                                               aria-describedby="confirmPasswordAddOn"
                                               ng-trim="true" required/>
                                        <a class="input-group-addon btn-info">
                                            <span class="icomoon icon-error red"
                                                  ng-show="registerForm.confirmPassword.$dirty && !showPasswdCf"
                                                  ng-click="openModalPassword()">
                                            </span>
                                            <span class="icomoon icon-success yellowgreen"
                                                  ng-show="registerForm.confirmPassword.$dirty && showPasswdCf"
                                                  ng-click="openModalPassword()">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Show password checkbox-->
                        <div class="row" ng-show="!isNewFacebookUser && !isUpdate">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="checkbox checkbox-custom">
                                        <label>
                                            <input type="checkbox" checked="checked" name="showPassword" ng-click="togglePassword()"/>
                                            <span>Mostrar contraseña</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Security question select-->
                        <div class="row" ng-show="!isNewFacebookUser && !isUpdate">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="securityQuestionAddOn">
                                            <span class="icomoon icon-help"></span>
                                        </p>
                                        <div class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                                            <label class="form-control form-control-lg theme-default"
                                            ng-class="{'placeholder': registerModel.secretQuestion == ''}"
                                            ng-click="selectClick(securityquestionItems, 'securityQuestion')"
                                            ng-show="mobilecheck()">{{registerModel.secretQuestion || 'Pregunta de seguridad'}}</label>
                                            <select ng-disabled="isRegistered"
                                                    ng-model="registerModel.secretQuestion"
                                                    ng-change="clearErrorMessages()"
                                                    ng-init="registerModel.secretQuestion == null"
                                                    ng-options="item for item in securityquestionItems"
                                                    ng-show="!mobilecheck()"
                                                    name="securityQuestion"
                                                    class="form-control form-control-lg theme-default"
                                                    aria-describedby="securityQuestionAddOn"
                                                    data-show-placeholder="$scope.isRegistered" required
                                                    ng-class="{'selected': registerModel.secretQuestion.length != 0}">
                                                <option value="" ng-disabled="!!registerModel.secretQuestion">Pregunta
                                                    de seguridad
                                                </option>
                                            </select>
                                            <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Secret answer-->
                        <div class="row" ng-show="!isNewFacebookUser && !isUpdate">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="securityAnswerAddOn">
                                            <span class="icomoon icon-help"></span>
                                        </p>
                                        <input type="text" ng-disabled="isRegistered"
                                               ng-model="registerModel.secretAnswer"
                                               ng-blur="clearErrorMessages()"
                                               name="secretAnswer"
                                               class="form-control form-control-lg theme-default"
                                               placeholder="Respuesta de seguridad"
                                               aria-describedby="securityAnswerAddOn"
                                               ng-pattern="/^[\w\W]+$/"
                                               ng-trim="true" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Met this app by select-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group input-group-lg theme-default">
                                        <p class="input-group-addon" id="howIMetThisApp">
                                            <span class="icomoon icon-help"></span>
                                        </p>
                                        <div class="input-group-control custom-caret-wrapper custom-placeholder-wrapper">
                                            <label class="form-control form-control-lg theme-default"
                                            ng-class="{'placeholder': registerModel.metThisAppBy == ''}"
                                            ng-click="selectClick(metThisAppByItems, 'metThisAppBy')"
                                            ng-show="mobilecheck()">{{registerModel.metThisAppBy || 'Conocí esta app por:'}}</label>
                                            <select ng-disabled="isRegistered"
                                                ng-model="registerModel.metThisAppBy"
                                                ng-change="clearErrorMessages()"
                                                ng-init="registerModel.metThisAppBy == null"
                                                ng-options="item for item in metThisAppByItems"
                                                ng-show="!mobilecheck()"
                                                name="metThisAppBy"
                                                class="form-control form-control-lg theme-default"
                                                aria-describedby="howIMetThisApp"
                                                data-show-placeholder="$scope.isRegistered" required
                                                ng-class="{'selected': registerModel.metThisAppBy.length != 0}">
                                                <option value="" ng-disabled="!!registerModel.metThisAppBy">Conocí esta app por:</option>
                                            </select>
                                            <span class="glyphicon glyphicon-triangle-bottom custom-caret"></span>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        
                        <!-- Accept terms and contitions checkbox-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-custom">
                                    <label>
                                        <input type="checkbox" ng-disabled="isRegistered" name="termsAndConditions"
                                               ng-model="registerModel.termsAndConditions"/>
                                        <span><a href="" ng-click="openModal()">Acepto los términos y
                                            condiciones</a></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Register and cancel buttons-->
                        <div class="row">
                          <div class="col-xs-12" ng-show="!isRegistered">                            
                            <a role="button" ng-show="!isRegistered" ng-click="register()"
                               ng-disabled="(registerForm.password.$pristine && !isNewFacebookUser && !isUpdate)|| (!showPasswd && !isNewFacebookUser && !isUpdate) ||
                                (!showPasswdCf && !isNewFacebookUser && !isUpdate)"
                               class="btn btn-primary btn-lg btn-block">Registrarme</a>
                          </div>                         
                          <div class="col-xs-12" ng-show="!isRegistered">
                              <a role="button" ng-disabled="isRegistered" ng-click="login()"
                                 class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</a>
                          </div>
                        </div>                    
                    </div>
                </div>
            </form>
        </section>

    </article>
</div>
