<div class="incluso-app acerca-programa">
  <article class="blueprint">
    <div class="fuente-energia">
      <section>
        <div class="title-section">
          <div class="txt-renglon centered txt-bigger"></div> 
          <div class="subtitle">Fuente de energía</div>
          <span>Aquí podrás recargarte de información adicional</span>  
        </div>
      </section>

      <section class="filter-section form">
        <span class="icomoon icon-list"></span>
        <select name="filter" class="form-control form-control-lg theme-default" ng-model="filter">
          <option value="" disabled>Filtrar contenido por...</option>
          <option value="">Ver Todo</option>
          <option value="Obligatorio">Obligatorio</option> 
          <option value="resource">Fotografías</option> 
          <option value="video">Videos</option> 
          <option value="page">Textos</option> 
          <option value="Frases">Frases</option> 
          <option value="url">Enlaces</option> 
        </select>
        <span class="icomoon icon-arrow"></span>
      </section>

      <section class="wall">
        <div class="part" ng-repeat="activity in fuenteDeEnergia.activities">
          <div ng-if="filter == activity.activity_type && activity.activityintro != 'video' || !filter || filter == activity.activityintro || filter == 'Obligatorio' && !activity.optional">
            <div ng-if="activity.activity_type == 'url' && activity.activityintro != 'video' ">
              <div class="type">
                <div class="col-xs-1 type-icon">
                  <span class="icomoon icon-hyperlink"></span>
                </div>
                <div class="col-xs-9">
                  <span>{{activity.activityContent.name}}</span>
                </div>
                <div class="col-xs-1">
                  <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                </div>
                <div class="col-xs-1">
                  <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                  <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                </div>
              </div>
            </div>
            <div ng-if="activity.activityintro == 'video' ">
              <div class="type">
                <div class="col-xs-1 type-icon">
                  <span class="icomoon icon-video-file"></span>
                </div>
                <div class="col-xs-9">
                  <span>{{activity.activityContent.name}}</span>
                </div>
                <div class="col-xs-1">
                  <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                </div>
                <div class="col-xs-1">
                  <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                  <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                </div>
              </div>
            </div>
            <div ng-if="activity.activity_type == 'page'">
              <div class="type">
                <div class="col-xs-1 type-icon">
                  <span class="icomoon icon-text"></span>
                </div>
                <div class="col-xs-9">
                  <span>{{activity.activityContent.name}}</span>
                </div>
                <div class="col-xs-1">
                  <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                </div>
                <div class="col-xs-1">
                  <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                  <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                </div>
              </div>
            </div>
            <div ng-if="activity.activity_type == 'resource'">
              <div class="type">
                <div class="col-xs-1 type-icon">
                  <span class="icomoon icon-camera"></span>
                </div>
                <div class="col-xs-9">   
                  <span>{{activity.activityContent.name}}</span>
                </div>        
                <div class="col-xs-1">
                  <span class="icomoon icon-required" ng-hide="activity.optional"></span>
                </div>
                <div class="col-xs-1">
                  <span class="icomoon icon-gauge" ng-hide="activity.status"></span>
                  <span class="icomoon icon-checked-join" ng-show="activity.status"></span>
                </div>
              </div>      
            </div>
            <div class="detail">  
              <div>
                <div ng-if="activity.activity_type == 'resource'" class="image-container">
                  <a href="{{activity.activityContent.fileurl}}&token={{token}}" target="blank"><img ng-click="updateStatus(activity.groupid)" ng-src="{{activity.activityContent.fileurl}}&token={{token}}" class="image-element"></a>
                </div>
                <div class="message">
                  <a ng-if="activity.activityintro != 'video' && activity.activity_type=='url'" ng-click="updateStatus(activity.groupid)" href={{activity.activityContent.url}} target="_blank">{{activity.activityContent.url}}</a>
                  <span ng-click="updateStatus(activity.groupid)" ng-if="activity.activity_type == 'page' && !activity.status">Mostrar texto...</span>
                  <span ng-show="activity.status" ng-bind-html="activity.pageContent"></span>
                  <span ng-bind-html="activity.file.pageContent"></span>

                  <section class="component ng-scope"  ng-if="activity.activityintro == 'video'" ng-click="updateStatus(activity.groupid)">
                    <div class="panel panel-video">
                        <div class="video-player">
                            <div class="stage">
                                <a class="icon icon-play" href={{activity.activityContent.url}} target="_blank">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                                <figure class="poster">
                                    <img src="assets/media/thumb-zona-de-vuelo.jpg" alt="video" />
                                </figure>
                            </div>
                        </div>
                    </div>
                  </section>

                </div>
              </div>
              <div class="interact hidden">
                <div class="col-xs-6 like">
                  <span class="icomoon icon-like"></span>
                  <span>Me gusta</span>
                </div>
                <div class="col-xs-6 comment">
                  <span class="icomoon icon-comment"></span>
                  <span>Comentar</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <a class="btn btn-primary btn-lg btn-cnt" ng-click="back()">Regresar</a>
        <div class="txt-renglon centered txt-bigger"></div> 
      </section>
    </div>
  </article>
</div>