<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-canvas">


      <article class="blueprint">
        <div class="fuente-energia">
          <section>
            <div class="title-section">
              <div class="txt-renglon centered txt-bigger"></div> 
              <div class="subtitle">Descrubre más</div>
              <span>¡Descúbre, diviértete y gana estrellas!</span>  
            </div>
          </section>

          <section class="filter-section form">
            <i class="icomoon icon-list"></i>
            <select name="filter" class="form-control form-control-lg theme-default" ng-model="filter">
              <option value="" disabled>Filtrar contenido por...</option>
              <option value="">Ver Todo</option>
              <option value="Obligatorio">Obligatorio</option> 
              <option value="file">Fotografías</option> 
              <option value="video">Videos</option> 
              <option value="page">Textos</option> 
              <option value="Frases">Frases</option> 
              <option value="url">Enlaces</option> 
            </select>
            <i class="icomoon icon-arrow"></i>
          </section>

          <section class="wall">
            <div class="part" ng-repeat="content in activities.activity">
              <div ng-if="filter == content.activityType || !filter || filter == 'Obligatorio' && content.mandatory">

                <div ng-if="content.activityType == 'url'">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <i class="icomoon icon-hyperlink"></i>
                    </div>
                    <div class="col-xs-9">
                      <span>Visita el sitio web!</span>
                    </div>
                    <div class="col-xs-1">
                      <i class="icomoon icon-required" ng-if="content.mandatory"></i>
                    </div>
                    <div class="col-xs-1">
                      <i class="icomoon icon-checked-join" ng-if="content.seen"></i>
                      <i class="icomoon icon-edit" ng-hide="content.seen"></i>
                    </div>
                  </div>
                </div>

                <div ng-if="content.activityType == 'video' ">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <i class="icomoon icon-video-file"></i>
                    </div>
                    <div class="col-xs-9">
                        <span>Video tutorial Incluso</span>
                    </div>
                    <div class="col-xs-1">
                      <i class="icomoon icon-required" ng-if="content.mandatory"></i>
                    </div>
                    <div class="col-xs-1">
                      <i class="icomoon icon-checked-join" ng-if="content.seen"></i>
                      <i class="icomoon icon-edit" ng-hide="content.seen"></i>
                    </div>
                  </div>
                </div>

                <div ng-if="content.activityType == 'page'">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <i class="icomoon icon-text"></i>
                    </div>
                    <div class="col-xs-9">
                        <span>Texto</span>
                    </div>
                    <div class="col-xs-1">
                      <i class="icomoon icon-required" ng-if="content.mandatory"></i>
                    </div>
                    <div class="col-xs-1">
                      <i class="icomoon icon-checked-join" ng-if="content.seen"></i>
                      <i class="icomoon icon-edit" ng-hide="content.seen"></i>
                    </div>
                  </div>
                </div>

                <div ng-if="content.activityType == 'file'">
                  <div class="type">
                    <div class="col-xs-1 type-icon">
                      <i class="icomoon icon-camera"></i>
                    </div>
                    <div class="col-xs-9">   
                      <span>Fotografía</span>
                    </div>        
                    <div class="col-xs-1">
                      <i class="icomoon icon-required" ng-if="content.mandatory"></i>
                    </div>
                    <div class="col-xs-1">
                      <i class="icomoon icon-edit" ng-hide="content.seen"></i>
                      <i class="icomoon icon-checked-join" ng-if="content.seen"></i>
                    </div>
                  </div>      
                </div>

                <div class="detail">  
                  <div>
                    <div ng-if="content.activityType == 'file'" class="image-container">
                      <img ng-click="updateStatus(content.id)" ng-src="{{content.file.path}}" class="image-element">
                    </div>
                    <div class="message">
                        <a ng-hide="content.isVideo" ng-click="updateStatus(content.id)" href={{content.url}} target="_blank">{{content.url}}</a>
                        <span ng-click="updateStatus(content.id)" ng-bind-html="content.pageContent"></span>
                        <a ng-show="content.isVideo" ng-click="updateStatus(content.id)" href={{content.url}} target="_blank">{{content.url}}</a>
                    </div>
                  </div>
                  <div class="interact hidden">
                    <div class="col-xs-6 like">
                      <i class="icomoon icon-like"></i>
                      <span>Me gusta</span>
                    </div>
                    <div class="col-xs-6 comment">
                      <i class="icomoon icon-comment"></i>
                      <span>Comentar</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="back()">Regresar</button>
            <div class="txt-renglon centered txt-bigger"></div> 
          </section>
        </div>
      </article>

  </div>
</div>
