<div class="incluso-app" ng-app>
  <article>
    <section>
        <span class="subtitle centered">Alias: {{avatarInfo[0].alias}}</span>
        <span class="subtitle centered">Estrellas: {{avatarInfo[0].estrellas}}</span>        
        <img id="avatarControl" src="assets/images/avatar/create_avatar_cabello_{{imageSrc}}.jpg" alt="avatar" />      
        <div class="txt-renglon">          
            <p>
              <a class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloAmarillo()">Cabello Amarillo</a>
            </p>
            <p>
              <a class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloRojo()">Cabello Rojo</a>
            </p>
            <p>
              <a class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloVerde()">Cabello Verde</a>
            </p>
            <p>
              <a class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloCafe()">Cabello Cafe</a>
            </p>
            <p>
              <a class="btn btn-primary btn-lg btn-block" ng-click="selectAvatar()">Escoger</a>
            </p>
            <p>
              <a class="btn btn-primary btn-lg btn-block" ng-click="uploadAvatar(file)">Subir Imagen</a>
            </p>          
        </div>
    </section>
  </article>
</div>