<div class="incluso-app" ng-app>
  <article>
    <section>
        <h3 class="subtitle centered">Alias: {{avatarInfo[0].alias}}</h3>
        <h3 class="subtitle centered">Estrellas: {{avatarInfo[0].estrellas}}</h3>
        <img id="avatarControl" src="assets/images/avatar/create_avatar_cabello_{{imageSrc}}.jpg">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloAmarillo()">Cabello Amarillo</button><br/>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloRojo()">Cabello Rojo</button><br/>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloVerde()">Cabello Verde</button><br/>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloCafe()">Cabello Cafe</button><br/>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatar()">Escoger</button><br/>
    </section>
  </article>
</div>