
<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-menu" >
<!--#include file="menu.html" -->
  </div>
  <div id="site-canvas">


  <article class="blueprint">

    <div class="subtitle">Mis fortalezas</div>
    <section class="txt-renglon pill">
    <div class="fl-left">Estrellas a ganar:</div><div class="fl-right sm-pill">240&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
    </section>
    <div class="txt-renglon">Instrucciones de descarga:</div>
    <section class="txt-renglon up-line">
    <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</li>
    <li>Do eiusmod tempor incididunt</li>
    <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</li>
    <ol>
    </section>	
    <button type="button" class="btn btn-primary btn-lg btn-cnt">Descargar Juego</button>
    <div class="txt-renglon centered">Cancelar</div>
  </article>

  
	</div>
</div>
